<mat-toolbar class=" uxg-toolbar-elevated ">
  <!-- <div class="uxg-logo" dense></div> -->
  <!-- <ul class="uxg-breadcrumb uxg-breadcrumb-responsive">
    <li class="uxg-h3">SME ONBOARDING</li>
  </ul> -->
</mat-toolbar>

<div class="row col-md-12 col-12" *ngIf="questionnaireSections.length">
  <div class="col-md-3 col-3 ques-sec" >
    <!-- <div *ngFor="let sections of questionnaireSections;let secIndex=index" style="text-align: center;">
    <button class="ques-sec-btn section-title" [ngClass]="{'selbut': secIndex == sectionIndex}" type="button" (click)="onSectionClick(secIndex)">{{sections.label}}</button>
  </div> -->

  <div class="step section-title" [ngClass]="{'step-active': secIndex == sectionIndex}" *ngFor="let sections of questionnaireSections;let secIndex=index" >
    <div>
      <div class="circle" *ngIf="!sections.itHasValue &&  !sections.isStepChange">{{secIndex+1}} </div>
      <div class="circle " style="background-color: red;" *ngIf="!sections.itHasValue && sections.isStepChange"><mat-icon>info</mat-icon> </div>
      <div class="circle sec-cmlp" *ngIf="sections.itHasValue"><mat-icon>check_circle</mat-icon> </div>
    </div>
    <div>
      <div class="title" *ngIf="!sections.itHasValue && !sections.isStepChange" (click)="onSectionClick(secIndex)">{{sections.label}}</div>
      <div class="title" style="color:red" *ngIf="!sections.itHasValue && sections.isStepChange" (click)="onSectionClick(secIndex)">{{sections.label}}</div>
      <div class="title sec-cmlp" *ngIf="sections.itHasValue" (click)="onSectionClick(secIndex)">{{sections.label}}</div>

      <!-- SUB SECTIONS -->
      <div *ngIf="secIndex == sectionIndex && sections.subSections.length">
        <div *ngFor="let subSection of sections.subSections;let subIndex=index" >
          <label class="caption" *ngIf="!subSection.isSelected && !subSection.itHasValue"  (click)="onSubSection(secIndex,subIndex)">{{(secIndex+1) + '.' + (subIndex+1)}} - {{subSection.alias}}</label>
        <label class="caption subSecSel" *ngIf="subSection.isSelected && !subSection.itHasValue"  (click)="onSubSection(secIndex,subIndex)">{{(secIndex+1) + '.' + (subIndex+1)}} - {{subSection.alias}}</label>
        <!-- [ngClass]="{subSecSel: subSection.isSelected}" -->
        <label class="caption subSeccomp" *ngIf="subSection.itHasValue"  [ngClass]="{subSecSel: subSection.isSelected}"  (click)="onSubSection(secIndex,subIndex)">{{(secIndex+1) + '.' + (subIndex+1)}} - {{subSection.alias}}</label>
        <!-- [ngClass]="{subSeccomp: subSection.itHasValue}" -->
      </div>
      </div>
      <!-- <div class="caption" [ngClass]="{subSecSel: subSection}"  *ngIf="secIndex == 0 && secIndex == sectionIndex" (click)="onSubSection('other')"> 1.2  Others</div> -->
    </div>
  </div>

  <!-- <mat-form-field class="example-chip-list">
    <mat-label>Favorite Fruits</mat-label>
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip
      *ngFor="let fruit of fruits"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(fruit)">
      {{fruit}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
    placeholder="New fruit..."
    #fruitInput
    formControlName="fruitCtrl"
    [matChipInputFor]="chipList"
    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
    (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field> -->
  </div>
  <div class="col-md-9 col-9 ques-col">
    <!-- <div class="row" *ngFor="let questionType of questionnaireSections[sectionIndex].questions;let questionIndex=index"> -->
      <perfect-scrollbar class="pft-scrollbar" >

        <!-- QUESTIONS SECTIONS -->
          <div class="row">
          <div *ngFor="let questionType of questions;let questionIndex=index">
            <span class="form-group" *ngIf="questionType.show">
              <textBox  [questionDatas]="questionType" (formChange)="onTextBoxChange($event,sectionIndex,questionIndex)" *ngIf="(questionType.type == 'QuestionTextDto' || 'QuestionNumberDto')"></textBox>
              <multiSelectDropdown [questionDatas]="questionType" (formChange)="onDropdownChange($event,sectionIndex,questionIndex)" *ngIf="questionType.type == 'QuestionMultipleChoiceDto'" ></multiSelectDropdown>
              <radioButton  [questionDatas]="questionType" [sectionIndex]="sectionIndex" [questionIndex]="questionIndex" (formChange)="onRadioChange($event,sectionIndex,questionIndex)" *ngIf="questionType.type == 'QuestionBoolDto'"></radioButton>
              <DateField  [questionDatas]="questionType" (formChange)="onDateChange($event,sectionIndex,questionIndex)" *ngIf="questionType.type == 'QuestionDateDto'"></DateField>
              <fileUpload [questionDatas]="questionType" (formChange)="onFileChange($event,sectionIndex,questionIndex)" *ngIf="questionType.type == 'QuestionFileListDto'"></fileUpload>
              <textList [questionDatas]="questionType" (formChange)="onTextListChange($event,sectionIndex,questionIndex)" *ngIf="questionType.type == 'QuestionTextListDto'"></textList>

            </span>
          </div>
          </div>
        </perfect-scrollbar>

  </div>
</div>

<div class="submit" *ngIf="questionnaireSections.length">
  <button mat-flat-button  color="primary" [disabled]="checkSectionComp()"  type="button" (click)="onSubmit()" >
    <!-- [disabled]="checkSectionComp()" -->
    <!-- [disabled]="disableSubbtn" -->
    <mat-icon>arrow_right_alt</mat-icon>
    Submit
  </button>&nbsp;
  <button mat-flat-button  color="primary"   type="button" (click)="onSave('submit')">
    <!-- [disabled]="checkSectionComp()" -->
    <!-- [disabled]="disableSubbtn" -->
    <!-- <mat-icon>arrow_right_alt</mat-icon> -->
    Save
  </button>
</div>