<div class="app-content {{isOpen}} ">
    <header class="">
        <div class="mmt70"></div>
  <div class="data-section">
    <mat-tab-group>
        <mat-tab label="{{'Bid Details' | translate}}">
            <div style="overflow-x:auto;">
                <table mat-table [dataSource]="dataSourceTwo" >
                 
                     <ng-container matColumnDef="Bid ID">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{financierTooltip.bidId | translate}}" [matTooltipPosition]="'below'">{{'Bid ID' | translate}}</th>
                        <td mat-cell *matCellDef="let financier let index = index" (click)="openModal($event,template,index,financier)">{{ financier.id }}</td>
                    </ng-container>
                     <ng-container matColumnDef="Financier Name">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{financierTooltip.bidId | translate}}" [matTooltipPosition]="'below'">{{'Financier Name' | translate}}</th>
                        <td mat-cell *matCellDef="let financier let index = index" (click)="openModal($event,template,index,financier)">{{ financier.finId }}</td>
                    </ng-container>
                    <ng-container matColumnDef="FX rate Base CCY">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{financierTooltip.financeOffer | translate}}" [matTooltipPosition]="'below'">{{'Fx Rate' | translate}} %</th>
                        <td mat-cell *matCellDef="let financier let index = index"  (click)="openModal($event,template,index,financier)">{{ financier.fxRate }}</td>
                    </ng-container>
                    <ng-container matColumnDef="Base CCY Amount">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{financierTooltip.ccy | translate}}" [matTooltipPosition]="'below'">{{'Base CCY Amount' | translate}}</th>
                        <td mat-cell *matCellDef="let financier let index = index"  (click)="openModal($event,template,index,financier)">{{ financier.baseCcyAmt }}</td>
                    </ng-container>
                    <ng-container matColumnDef="Fundable percentage">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{financierTooltip.fxRate | translate}}" [matTooltipPosition]="'below'">% {{'Funded' | translate}}</th>
                        <td mat-cell *matCellDef="let financier let index = index"  (click)="openModal($event,template,index,financier)">{{ financier.fundablePercent }}</td>
                    </ng-container>
                    <ng-container matColumnDef="Funding Amount">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{financierTooltip.margin | translate}}" [matTooltipPosition]="'below'">{{'Funding Amount' | translate}}</th>
                        <td mat-cell *matCellDef="let financier let index = index"  (click)="openModal($event,template,index,financier)">{{ financier.baseCcyFundingAmt }}</td>
                    </ng-container>
 
                    <ng-container matColumnDef="Repayment Date">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{financierTooltip.discAmount | translate}}" [matTooltipPosition]="'below'">{{'Repayment Date' | translate}}</th>
                        <td mat-cell *matCellDef="let financier let index = index"  (click)="openModal($event,template,index,financier)">{{ financier.repaymentDate | date }}</td>
                    </ng-container>
                 
                    <ng-container matColumnDef="Annual Yield (Basis a360)">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{financierTooltip.expPeriod | translate}}" [matTooltipPosition]="'below'">{{'Annual Yield' | translate}}%</th>
                        <td mat-cell *matCellDef="let financier let index = index"  (click)="openModal($event,template,index,financier)">{{ financier.annualYeild }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Penal ROI">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{financierTooltip.expPeriod | translate}}" [matTooltipPosition]="'below'">{{'finaniceBidding.Penal ROI' | translate}}</th>
                        <td mat-cell *matCellDef="let financier"><input matInput
                                value="{{ financier.penalRate }}" />
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Net Amt payable (Base CCY)">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{financierTooltip.expPeriod | translate}}" [matTooltipPosition]="'below'">{{'Net Amt Receivable' | translate}}</th>
                        <td mat-cell *matCellDef="let financier let index = index"  (click)="openModal($event,template,index,financier)">{{ financier.baseCcyNetAmtPayable }}
                        </td>
                    </ng-container>
                   
                    <ng-container matColumnDef="Off Exp date /time">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{financierTooltip.expPeriod | translate}}" [matTooltipPosition]="'below'">{{'Off Exp date /time' | translate}}</th>
                        <td mat-cell *matCellDef="let financier let index = index"  (click)="openModal($event,template,index,financier)">{{ financier.offerExpDateTime | date }}
                        </td>
                    </ng-container>
                 
                    <tr mat-header-row  *matHeaderRowDef="displayedColumnsTwo" style="background-color:#694ed6e0">
                    </tr>
                    <tr mat-row class="BID-Details" *matRowDef="let row; columns: displayedColumnsTwo"></tr>
                </table>

            </div>
            </mat-tab>
        <mat-tab label="{{'Invoice And Goods Details Section' | translate}}"> 
            <mat-accordion>
                    <mat-expansion-panel>
                    </mat-expansion-panel>
                    <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title style="font-weight: 500;
                    color: #a899e4; ">
                                {{'Invoice Details' | translate}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="table-res">
            <table mat-table [dataSource]="dataSourceInvoiceDetails">
                <ng-container matColumnDef="InvoiceID">
                    <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                    matTooltip="{{financierTooltip.invoiceId | translate}}" [matTooltipPosition]="'below'">{{'Invoice Id' | translate}}</th>
                    <td mat-cell *matCellDef="let element">{{ element.invId }}</td>
                </ng-container>
                <ng-container matColumnDef="InvoiceDate">
                    <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                    matTooltip="{{financierTooltip.invoiceCreateDate | translate}}" [matTooltipPosition]="'below'">{{'Invoice Date' | translate}}</th>
                    <td mat-cell *matCellDef="let element">{{ element.invDate | date }}</td>
                </ng-container>
                <ng-container matColumnDef="smeId">
                    <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                    matTooltip="{{financierTooltip.seller | translate}}" [matTooltipPosition]="'below'">{{'Seller' | translate}}</th>
                    <td mat-cell *matCellDef="let element">{{ element.smeId }}</td>
                </ng-container>
                <ng-container matColumnDef="Buyer">
                    <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                    matTooltip="{{financierTooltip.buyer | translate}}" [matTooltipPosition]="'below'">{{'Buyer' | translate}}</th>
                    <td mat-cell *matCellDef="let element">{{ element.buyerName }}</td>
                </ng-container>
                <ng-container matColumnDef="Amount">
                    <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                    matTooltip="{{financierTooltip.amount | translate}}" [matTooltipPosition]="'below'">{{'Amount' | translate}}</th>
                    <td mat-cell *matCellDef="let element">{{ element.invAmt }}</td>
                </ng-container>
              

                <tr mat-header-row *matHeaderRowDef="displayedInvDetailsColumns" style="background-color:#694ed6e0"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedInvDetailsColumns"></tr>
            </table>
            </div>
        </mat-expansion-panel>
            </mat-accordion>
       
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="font-weight: 500;
                color: #a899e4; ">
                           {{'Goods Details' | translate}}  
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="table-res">
                    <table mat-table [dataSource]="dataSourceOne">
                        <ng-container matColumnDef="descGoods">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{detailsTooltip.goodDesc | translate}}" [matTooltipPosition]="'below'">{{'Description of Goods' | translate}}</th>
                        <td mat-cell *matCellDef="let element">{{ element.descGoods }}</td>
                        </ng-container>
                       
                        <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{detailsTooltip.quantity | translate}}" [matTooltipPosition]="'below'">{{'Quantity' | translate}}</th>
                        <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
                        </ng-container>
                        <ng-container matColumnDef="rate">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{detailsTooltip.ccyAmount | translate}}" [matTooltipPosition]="'below'">{{'Amt Ccy' | translate}}</th>
                        <td mat-cell *matCellDef="let element">{{ element.amtCcy }}</td>
                        </ng-container>
                        <ng-container matColumnDef="amt">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{detailsTooltip.amount | translate}}" [matTooltipPosition]="'below'">{{'Amount' | translate}}</th>
                        <td mat-cell *matCellDef="let element">{{ element.amt }}</td>
                        </ng-container>
                    
                        <ng-container matColumnDef="taxRate">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{detailsTooltip.taxRate | translate}}" [matTooltipPosition]="'below'">{{'Tax Rate' | translate}} %</th>
                        <td mat-cell *matCellDef="let element">{{ element.taxRate }}</td>
                        </ng-container>
                        <ng-container matColumnDef="taxAmount">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{detailsTooltip.taxAmount | translate}}" [matTooltipPosition]="'below'">{{'Tax Amount' | translate}}</th>
                        <td mat-cell *matCellDef="let element">{{ element.taxAmt }}</td>
                        </ng-container>
                        <ng-container matColumnDef="discAmt">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{detailsTooltip.ccyTaxAmount | translate}}" [matTooltipPosition]="'below'">{{'Tax Amt Ccy' | translate}}</th>
                        <td mat-cell *matCellDef="let element">{{ element.taxAmtCcy }}</td>
                        </ng-container>
                      
                        
                        <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{detailsTooltip.total | translate}}" [matTooltipPosition]="'below'">{{'Total' | translate}}</th>
                        <td mat-cell *matCellDef="let element">{{ element.total }}</td>
                        </ng-container>

                        <ng-container matColumnDef="TotalCurrency">
                            <th mat-header-cell *matHeaderCellDef scope="column">{{'Total Currency' | translate}}</th>
                            <td mat-cell *matCellDef="let element">{{ element.totalCcy }}</td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsOne" style="background-color:#694ed6e0"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsOne"></tr>
                        </table>
                        </div>
                </mat-expansion-panel>
            </mat-accordion>
       
      </mat-tab>
    </mat-tab-group>
</div>
</header>
</div>

<ng-template #template>
    <div class="modal-header">
       <h4 class="modal-title pull-left">{{'Bid Details:' | translate}}</h4>
       <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">×</span>
       </button>
    </div>
    <div class="modal-body">          
       <div class="container-fluid">
           <div class="table-res mat-elevation-z8 table-responsive table-post">
                <table mat-table [dataSource]="dataBIDDetails" >
                    <ng-container matColumnDef="Funding CCY">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{financierTooltip.bidId | translate}}" [matTooltipPosition]="'below'">{{'Funding CCY' | translate}}</th>
                        <td mat-cell *matCellDef="let financier">{{ financier.fundingCcy }}</td>
                    </ng-container>
                    <ng-container matColumnDef="FX rate Base CCY">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{financierTooltip.financeOffer | translate}}" [matTooltipPosition]="'below'">{{'Fx Rate' | translate}} %</th>
                        <td mat-cell *matCellDef="let financier let index = index" >{{ financier.fxRate }}</td>
                    </ng-container>
                    <ng-container matColumnDef="Base CCY Amount">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{financierTooltip.ccy | translate}}" [matTooltipPosition]="'below'">{{'Base CCY Amount' | translate}}</th>
                        <td mat-cell *matCellDef="let financier let index = index" >{{ financier.baseCcyAmt }}</td>
                    </ng-container>
                    <ng-container matColumnDef="Fundable percentage">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{financierTooltip.fxRate | translate}}" [matTooltipPosition]="'below'">{{'Funded' | translate}} %</th>
                        <td mat-cell *matCellDef="let financier let index = index" >{{ financier.fundablePercent }}</td>
                    </ng-container>
                    <ng-container matColumnDef="Funding Amount">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{financierTooltip.margin | translate}}" [matTooltipPosition]="'below'">{{'Funding Amount' | translate}}</th>
                        <td mat-cell *matCellDef="let financier let index = index"  >{{ financier.baseCcyFundingAmt }}</td>
                    </ng-container>
                    <ng-container matColumnDef="Funding Amount / Repay Amount (Inv CCY)">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{financierTooltip.discRate | translate}}" [matTooltipPosition]="'below'">{{'Funding Amount / Repay Amount (Inv CCY)' | translate}}</th>
                        <td mat-cell *matCellDef="let financier" style="color:red">{{ financier.invCcyFundingAmt }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Repayment Date">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{financierTooltip.discAmount | translate}}" [matTooltipPosition]="'below'">{{'Repayment Date' | translate}}</th>
                        <td mat-cell *matCellDef="let financier let index = index">{{ financier.repaymentDate | date}}</td>
                    </ng-container>
                    <ng-container matColumnDef="Penal ROI">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{financierTooltip.expPeriod | translate}}" [matTooltipPosition]="'below'">{{'finaniceBidding.Penal ROI' | translate}}</th>
                        <td mat-cell *matCellDef="let financier"><input matInput
                                value="{{ financier.penalRate }}" />
                        </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedsmeOne" style="background-color:#694ed6e0">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: displayedsmeOne"></tr>
                </table>
           </div>
           <div class="table-res mat-elevation-z8 table-responsive table-post">
                <table mat-table [dataSource]="dataBIDDetails" >
            <ng-container matColumnDef="Inv Discount  Rate">
                <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                matTooltip="{{financierTooltip.netAmount | translate}}" [matTooltipPosition]="'below'">{{'Inv Discount Rate' | translate}}</th>
                <td mat-cell *matCellDef="let financier">{{ financier.invDiscRate }}</td>
            </ng-container>
            <ng-container matColumnDef="Disc Amt (Base CCY)">
                <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                matTooltip="{{financierTooltip.dueDate | translate}}" [matTooltipPosition]="'below'">{{'Disc Amt (Base CCY)' | translate}}</th>
                <td mat-cell *matCellDef="let financier">{{ financier.baseCcyDiscAmt }}</td>
            </ng-container>
            <ng-container matColumnDef="Disc Amt (Inv CCY)">
                <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                matTooltip="{{financierTooltip.dueDate | translate}}" [matTooltipPosition]="'below'">{{'Disc Amt (Inv CCY)' | translate}}</th>
                <td mat-cell *matCellDef="let financier">{{ financier.invCcyDiscAmt }}</td>
            </ng-container>
            <ng-container matColumnDef="Annual Yield (Basis a360)">
                <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                matTooltip="{{financierTooltip.expPeriod | translate}}" [matTooltipPosition]="'below'">{{'Annual Yield' | translate}} %</th>
                <td mat-cell *matCellDef="let financier let index = index">{{ financier.annualYeild }}
                </td>
            </ng-container>
            <ng-container matColumnDef="Net Amt payable (Base CCY)">
                <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                matTooltip="{{financierTooltip.expPeriod | translate}}" [matTooltipPosition]="'below'">{{'Net Amt Receivable' | translate}}</th>
                <td mat-cell *matCellDef="let financier let index = index"  style="color:red">{{ financier.baseCcyNetAmtPayable }}
                </td>
            </ng-container>
            <ng-container matColumnDef="Net Amt payable (Inv CCY)">
                <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                matTooltip="{{financierTooltip.expPeriod | translate}}" [matTooltipPosition]="'below'">{{'Net Amt Receivable' | translate}}<br>
                (Inv CCY)</th>
                <td mat-cell *matCellDef="let financier"  >{{ financier.invCcyNetAmtPayable }}
                </td>
            </ng-container>
            <ng-container matColumnDef="Offer Exp period">
                <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                matTooltip="{{financierTooltip.expPeriod | translate}}" [matTooltipPosition]="'below'">{{'Offer Exp period' | translate}}</th>
                <td mat-cell *matCellDef="let financier">{{ financier.offerExpPeriod }}
                </td>
            </ng-container>
            <ng-container matColumnDef="Off Exp date /time">
                <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                matTooltip="{{financierTooltip.expPeriod | translate}}" [matTooltipPosition]="'below'">{{'Off Exp date /time' | translate}}</th>
                <td mat-cell *matCellDef="let financier let index = index"  (click)="openModal($event,template,index,financier)">{{ financier.offerExpDateTime | date}}
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedsmeTwo" style="background-color:#694ed6e0">
            </tr>
            <tr mat-row *matRowDef="let row; columns: displayedsmeTwo"></tr>
        </table>
           </div>          
       </div>
    </div>
    <div class="modal-footer" style="justify-content: center;">
       <button type="button"  (click)="saveFinBid(dataBIDDetails)"class="btn model-btn-outline">{{'Accept' | translate}}</button>
       <button type="button"  (click)="openModal($event,Rejecttemplate,'reject',dataBIDDetails)"class="btn model-btn-outline">{{'Reject' | translate}}</button>
    </div>
 </ng-template>
 <ng-template #Rejecttemplate>
    <div class="modal-header">
       <h4 class="modal-title pull-left">{{'Bid Details:' | translate}}</h4>
       <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">×</span>
       </button>
    </div>
    <div class="modal-body">       
       <div class="container-fluid">
        <form [formGroup]="Rejectform" (ngSubmit)="submit()">
           <div class="row">
               <div class="col-sm-6"> 
                <ul>
                    <li *ngFor="let subskill of rejectQustionOne.subrejectQustionOne">
                      <mat-checkbox [labelPosition]="subskill.labelPosition" formControlName="{{subskill.formControlName}}" > {{subskill.name}} </mat-checkbox>
                    </li>
                  </ul>
               </div>
               <div class="col-sm-6"> 
                <mat-card class="result">
                    <mat-card-content>
                      <section class="example-section">
                        <ul>
                            <li *ngFor="let subskill of rejectQustionTwo.subrejectQustionTwo">
                                    <mat-checkbox matInput [labelPosition]="subskill.labelPosition" formControlName="{{subskill.formControlName}}" (change)="updateAllComplete(subskill.name)"> {{subskill.name}} </mat-checkbox>
                            </li>
                          </ul>
                      </section>
                    </mat-card-content>
                  </mat-card>
               
               </div>
           </div>
           <div class="row" *ngIf="TextAreaDiv">
            <div class="col-sm-12"> 
                <mat-form-field  class="col-sm-12 textarea-h">
                    <mat-label>{{'Remarks' | translate}}</mat-label>
                    <textarea matInput 
                    formControlName="othersRemarks"
                              cdkTextareaAutosize
                              #autosize="cdkTextareaAutosize"
                              cdkAutosizeMinRows="1"
                              cdkAutosizeMaxRows="1000"></textarea>
                              <mat-error *ngIf="errorHandling('othersRemarks', 'required')">
                                {{'You must provide a' | translate}}<strong>{{'Remarks' | translate}}</strong>
                             </mat-error>
                  </mat-form-field>
            </div>
           </div>
        </form>
       </div>
    </div>
    <div class="modal-footer" style="justify-content: center;">
       <button type="button"  (click)="rejectBid(dataBIDDetails)"class="btn model-btn-outline">{{'Reject' | translate}}</button>
    </div>
 </ng-template>