<div class="card-form-container" >
    <div class="dynamicForm-example-full-width mat-chips-set" >
      
  <mat-form-field class="example-chip-list form" #tooltip="matTooltip"
  matTooltip="{{questionDatas.description}}" [matTooltipPosition]="'below'">
    <mat-label>{{questionDatas && questionDatas.label}}</mat-label>
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip
      *ngFor="let datas of listData"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(datas)">
      {{datas}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
    placeholder="Enter Values..."
    #chipsInput
    formControlName="respValue"
    [matChipInputFor]="chipList"
    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
    (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field>
 
    </div>
  </div>