<div class="app-content">
  <header class="m0p0">
    <br>
    <h5>{{'viewProfile.Profile' | translate}}</h5>
    <div class="container">
      <div class="row">
        <div class="col-md-3 border-right">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            <div style="width: 150px;" class="uxg-avatar">U</div>
            <span class="font-weight-bold">{{this.userDeatils?.name || 'test'}}</span><span
              class="text-black-50">{{this.userDeatils?.email || 'test@mail.com'}}</span><span> </span>
          </div>
        </div>
        <div class="col-md-9 border-right">
          <div class="p-3 py-5">
            <form [formGroup]="userForm" autocomplete="off">
              <div class="row dis-block">
                <div class="col-md-6">
                  <div class="form-group">
                    <mat-form-field dense>
                      <mat-label>{{'viewProfile.First Name' | translate}}</mat-label>
                      <mat-icon matPrefix>person</mat-icon>
                      <input type="text" placeholder="First Name" matInput formControlName="fname" readonly />
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <mat-form-field dense>
                      <mat-label>{{'viewProfile.Last Name' | translate}}</mat-label>
                      <mat-icon matPrefix>person</mat-icon>
                      <input type="text" matInput placeholder="Last Name" formControlName="lname" readonly />
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row dis-block">
                <div class="col-md-6">
                  <div class="form-group">
                    <mat-form-field dense>
                      <mat-label>{{'viewProfile.Phone Number' | translate}}</mat-label>
                      <mat-icon matPrefix>call</mat-icon>
                      <input type="text" matInput placeholder="Phone Number" formControlName="contactNo" readonly />
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <mat-form-field dense>
                      <mat-label>{{'viewProfile.Email Id' | translate}}</mat-label>
                      <mat-icon matPrefix>email</mat-icon>
                      <input type="text" matInput placeholder="Email" formControlName="email" readonly />
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row dis-block">
                <div class="col-md-6">
                  <div class="form-group">
                    <mat-form-field dense>
                      <mat-label>{{'viewProfile.Address 1' | translate}}</mat-label>
                      <mat-icon matPrefix>home</mat-icon>
                      <input type="text" matInput placeholder="Address" formControlName="address" readonly />
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <mat-form-field dense>
                      <mat-label>{{'viewProfile.Country' | translate}}</mat-label>
                      <mat-icon matPrefix>flag</mat-icon>
                      <input type="text" matInput placeholder="Country" formControlName="country" readonly />
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row dis-block">
                <div class="col-md-6">
                  <div class="form-group">
                    <mat-form-field dense>
                      <mat-label>{{'viewProfile.State' | translate}}</mat-label>
                      <mat-icon matPrefix>add_location</mat-icon>
                      <input type="text" matInput placeholder="State" formControlName="state" readonly />
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <mat-form-field dense>
                      <mat-label>{{'viewProfile.City' | translate}}</mat-label>
                      <mat-icon matPrefix>add_location</mat-icon>
                      <input type="text" matInput placeholder="City" formControlName="city" readonly />
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row dis-block">
                <div class="col-md-6">
                  <div class="form-group">
                    <mat-form-field dense>
                      <mat-label>{{'viewProfile.Language' | translate}}</mat-label>
                      <mat-icon matPrefix>flag</mat-icon>
                      <input type="text" matInput placeholder="Language" formControlName="languages" readonly />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>