
<div class="app-content {{isOpen}} ">
    <header>
        <div class="account-services-headline">
            <ng-container>
                <div class="global-balance">
                    <mat-divider></mat-divider>
                </div>
            </ng-container>
            <ng-template #loadingGlobalBalance>
                <div style="z-index: 10">
                    <uxg-skeleton-text style="width: 300px; height: 50px;" animated></uxg-skeleton-text>
                    <uxg-skeleton-text style="width: 300px; height: 40px;" animated></uxg-skeleton-text>
                </div>
            </ng-template>
            <div class="paginator">
                <button mat-icon-button (click)="scrollLeft()" [disabled]="start">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
                <button mat-icon-button (click)="scrollRight()" [disabled]="end">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
            </div>
        </div>
 <ng-container>
            <div #accountList class="accounts-list">
                <uxg-account-card class="curs-pointer tile-name"
                    name="{{'FinanceDashboardComponent.Open for Offer' | translate}}"
                    number="{{getSumofgetOpenForOffer?.CCY || 'SGD'}} {{getSumofgetOpenForOffer?.AMOUNT? getSumofgetOpenForOffer?.AMOUNT : '0'}}"
                    #tooltip="matTooltip" matTooltip="{{dashboardTooltip.offerDetails | translate}}"
                    [matTooltipPosition]="'below'" (click)="this.navigateBiddingPage('/finance-bidding')">
                </uxg-account-card>
                <uxg-account-card class="curs-pointer tile-name"
                    name="{{'FinanceDashboardComponent.Financier Funded' | translate}}" #tooltip="matTooltip"
                    number="{{getSumofgetFinancierFunded?.INVCCY || 'SGD'}} {{ getSumofgetFinancierFunded?.INVTOTALAMT ? getSumofgetFinancierFunded?.INVTOTALAMT : '0'}}"
                    matTooltip="{{dashboardTooltip.expiredDetails | translate}}" [matTooltipPosition]="'below'"
                    (click)="this.navigateBiddingPage('/finance-funded')" currency=""></uxg-account-card>
                <uxg-account-card class="curs-pointer tile-name"
                    name="{{'FinanceDashboardComponent.Offer Rejected' | translate}}" #tooltip="matTooltip"
                    number="{{'count' | translate}} {{getSumofrejectrOffer?.COUNT? getSumofrejectrOffer?.COUNT : '0'}}"
                    matTooltip="{{dashboardTooltip.rejectedDetails | translate}}" [matTooltipPosition]="'below'"
                    (click)="this.navigateBiddingPage('/finance-bidding-rejected')" currency=""></uxg-account-card>
                <uxg-account-card class="curs-pointer tile-name"
                    name="{{'FinanceDashboardComponent.Bids to be accepted' | translate}}"
                    number="{{getSumofgetbidsToBeAccepted?.CCY || 'SGD'}} {{getSumofgetbidsToBeAccepted?.AMOUNT? getSumofgetbidsToBeAccepted?.AMOUNT : '0'}}"
                    #tooltip="matTooltip" matTooltip="{{dashboardTooltip.acceptedDetails | translate}}"
                    [matTooltipPosition]="'below'" (click)="this.navigateBiddingPage('/financier-bids-accept')"
                    currency=""></uxg-account-card>
                <uxg-account-card class="curs-pointer tile-name"
                    name="{{'FinanceDashboardComponent.Offer Expired' | translate}}/{{'cancel' | translate}}"
                    #tooltip="matTooltip"
                    number="{{'count' | translate}} {{getSumofexpeireOffer?.COUNT? getSumofexpeireOffer?.COUNT : '0'}}"
                    matTooltip="{{dashboardTooltip.expiredDetails | translate}}" [matTooltipPosition]="'below'"
                    (click)="this.navigateBiddingPage('/finance-bidding-expired')" currency=""></uxg-account-card>
                <!-- <uxg-account-card class="curs-pointer" name="{{'FinanceDashboardComponent.Offer cancel' | translate}}" number="SGD 0" balance="" #tooltip="matTooltip" number="{{getSumofexpeireOffer?.CCY || 'SGD'}} {{getSumofexpeireOffer?.INVOICEAMT? getSumofexpeireOffer?.INVOICEAMT : '0'}}"
                matTooltip="{{dashboardTooltip.expiredDetails | translate}}" [matTooltipPosition]="'below'" (click)="this.navigateBiddingPage('/finance-bidding-cancel')" currency=""></uxg-account-card> -->
            </div>
        </ng-container>
        <div class="col-md-12" style="float:right;min-height: 50px;">
        </div>
        <div class="wave" [inlineSVG]="'/assets/wave.svg'"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 col-xl-6">
                    <div class="col-md-3">
                        <div class="trans-table">
                            <div class="">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h6>{{'FinanceDashboardComponent.Finance Maturity' | translate}} </h6>
                                    </div>
                                    <div class="col-md-1">
                                    </div>
                                </div>
                            </div>
                        <table class="table-bordered table" id="customers">
                            <tr>
                                <th  style="text-align: center;" #tooltip="matTooltip"
                                matTooltip="{{dashboardTooltip.financePeriod | translate}}" [matTooltipPosition]="'below'">{{'FinanceDashboardComponent.Period' | translate}}</th>
                                <th style="text-align: center;"  #tooltip="matTooltip"
                                matTooltip="{{dashboardTooltip.financeNumber | translate}}" [matTooltipPosition]="'below'">{{'FinanceDashboardComponent.Number' | translate}}</th>
                                <th style="text-align: center;"  #tooltip="matTooltip"
                                matTooltip="{{dashboardTooltip.financeAmount | translate}}" [matTooltipPosition]="'below'">{{'FinanceDashboardComponent.Amount' | translate}}</th>
                            </tr>
                            <tr *ngFor="let getFinMaturityDatas of getFinMaturityData" >
                                <td style="text-align: center;">{{getFinMaturityDatas.PERIOD}}</td>
                                <td style="text-align: center;">{{getFinMaturityDatas.NUMBER}}</td>
                                <td style="text-align: end;">{{getFinMaturityDatas.AMOUNT}}</td>
                              </tr>
                              <tr *ngIf="!getFinMaturityData?.length">
                                <td style="text-align: center;" colspan="3">{{'FinanceDashboardComponent.No Records Found' | translate}}</td>
                            </tr>
                          </table>
                        </div>
                    </div>
                    <div style="clear: both; height: 20px;"></div>
                    <div class="col-md-3">
                        <div class="trans-table">
                            <div class="">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h6>{{'FinanceDashboardComponent.Finance Size' | translate}} </h6>
                                    </div>
                                    <div class="col-md-1">
                                    </div>
                                </div>
                            </div>
                        <table class="table-bordered table table-responsive" id="customers">
                            <tr>
                                <th style="text-align: center;" #tooltip="matTooltip"
                                matTooltip="{{dashboardTooltip.transactions | translate}}" [matTooltipPosition]="'below'">{{'FinanceDashboardComponent.Invoice Size' | translate}}</th>
                                <th style="text-align: center;" #tooltip="matTooltip"
                                matTooltip="{{dashboardTooltip.transactions | translate}}" [matTooltipPosition]="'below'">{{'FinanceDashboardComponent.Number' | translate}}</th>
                                <th style="text-align: center;" #tooltip="matTooltip"
                                matTooltip="{{dashboardTooltip.type | translate}}" [matTooltipPosition]="'below'">{{'FinanceDashboardComponent.Amount' | translate}}</th>
                              </tr>
                           
                              <tr *ngFor="let getFinnSizeDatas of getFinnSizeData" >
                                <td style="text-align: center;">{{getFinnSizeDatas.INVOICE_SIZE}}</td>
                                <td style="text-align: center;">{{getFinnSizeDatas.NUMBER}}</td>
                                <td style="text-align: end;">{{getFinnSizeDatas.AMOUNT}}</td>
                              </tr>
                              <tr *ngIf="!getFinnSizeData?.length">
                                <td style="text-align: center;" colspan="3">{{'FinanceDashboardComponent.No Records Found' | translate}}</td>
                            </tr>
                            
                          </table>
                        </div>
                    </div>
                 
                </div>
                    <div class="col-md-12 col-xl-6 p-0 chart-cls">
                        <h6>{{'FinanceDashboardComponent.Chart' | translate}}</h6>
                        <ng-container>
                            <div class="chart {{isOpen}}">
                                <div class="col-lg-10 grid-margin stretch-card p-0">
                                  <div class="card" >
                                    <div class="card-body">
                                        <div style="display: block;">
                                            <canvas baseChart
                                            [chartType]="chartType"
                                            [datasets]="chartData"
                                            [labels]="chartLabels"
                                            [colors]="chartColors"
                                            [options]="chartOptions"
                                            [legend]="true"
                                            (chartHover)="chartHovered($event)"
                                            >
                                            </canvas>
                                            </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </ng-container>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</header>
</div>

  
  
  