
<div *ngIf="!canceldiv" class="app-content {{isOpen}}">
  <header>
      <br>
        <div class="uxg-h4" style="text-align: center">Bids to be Accepted</div>
        <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" (mouseenter)="isHover=true" 
        (mouseleave)="isHover=false" class="table-responsive" matSort>

        <ng-container matColumnDef="invoiceRef">
          <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" mat-sort-header
          matTooltip="{{dashboardTooltip.invRefNo}}" [matTooltipPosition]="'below'"> {{'ICC Tradecomm Ref' | translate}} </th>
          <td mat-cell *matCellDef="let element">
                      {{element.invNo}} 
          </td>
        </ng-container>

        <ng-container matColumnDef="invoiceNo">
          <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
            matTooltip="{{dashboardTooltip.invoiceId}}" [matTooltipPosition]="'below'" mat-sort-header>{{'Invoice Id' | translate}}</th>
          <td mat-cell *matCellDef="let element">
            {{ element.invoiceId }} 
          </td>
        </ng-container>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
            matTooltip="{{dashboardTooltip.invoiceId}}" [matTooltipPosition]="'below'" mat-sort-header>{{'Bid ID' | translate}}</th>
            <td mat-cell *matCellDef="let element">
            {{ element.id }}
            </td>
          </ng-container>

          <ng-container matColumnDef="invoiceAmt">
            <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
            matTooltip="{{dashboardTooltip.buyerName}}" [matTooltipPosition]="'below'" mat-sort-header>{{'Invoice Amount' | translate}}</th>
            <td mat-cell *matCellDef="let element">
            {{ element.invoiceAmt }}
              </td>
          </ng-container>
     
          <ng-container matColumnDef="baseCcyNetAmtPayable">
            <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
            matTooltip="{{dashboardTooltip.invoiceCreateDate}}" [matTooltipPosition]="'below'" mat-sort-header>{{'Bidding Amount' | translate}}</th>
            <td mat-cell *matCellDef="let element">

            {{ element.baseCcyNetAmtPayable }} 
              </td>
          </ng-container>
          <ng-container matColumnDef="offerExpDateTime">
            <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
            matTooltip="{{dashboardTooltip.invoiceCreateDate}}" [matTooltipPosition]="'below'" mat-sort-header>{{'Offer Expired' | translate}}</th>
            <td mat-cell *matCellDef="let element">

            {{ element.offerExpDateTime | date}}
              </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header> {{'Action' | translate}} </th>
            <td mat-cell *matCellDef="let element"> 
              <a  href="javascript:void(0)" (click)="navigateFinanceDetails(element.id,'edit')">
                <mat-icon  #tooltip="matTooltip"
                matTooltip="Edit" [matTooltipPosition]="'below'">edit</mat-icon>
              </a>&nbsp;
              <a  href="javascript:void(0)" (click)="navigateFinanceDetails(element.id,'view')">
                  <mat-icon  #tooltip="matTooltip"
                  matTooltip="View" [matTooltipPosition]="'below'">visibility</mat-icon>
              </a>&nbsp;
              <a  href="javascript:void(0)" (click)="openModal($event,'reject',element)">
                <mat-icon  #tooltip="matTooltip"
                matTooltip="Cancel" [matTooltipPosition]="'below'">
                  cancel_presentation
                  </mat-icon>
            </a>
              
               </td>
          </ng-container>
          <ng-container matColumnDef="TopBar">
            <th colspan="8" mat-header-cell *matHeaderCellDef> 
              <div style="justify-content:flex-end;cursor: pointer;">
              <span (click)="searchDiv()" class="material-icons">search</span>&nbsp;
              <span (click)="filterDiv()" class="material-icons">filter_list</span>
                </div>
             </th>
          </ng-container>
          <ng-container matColumnDef="Search">
            <th colspan="8" mat-header-cell *matHeaderCellDef> 
                <h6>{{'Search By' | translate}}</h6>
              <!-- <div class="row">
                  <div class="col-sm-2">
                    <mat-form-field appearance="outline">
                        <mat-label>{{'Bid ID' | translate}}</mat-label>
                        <input type="text"[(ngModel)]="SearchModel.invoiceRef" matInput />
                      </mat-form-field>
                  </div>
                  <div class="col-sm-2">
                    <mat-form-field appearance="outline">
                        <mat-label>invoiceAmt</mat-label>
                        <input type="text" [(ngModel)]="SearchModel.invoiceAmt" matInput />
                      </mat-form-field>
                  </div>
                  <div class="col-sm-2">
                    <mat-form-field appearance="outline">
                        <mat-label>{{'Bidding Amount' | translate}}</mat-label>
                        <input type="text" [(ngModel)]="SearchModel.smeId" matInput />
                      </mat-form-field>
                  </div>
              </div> -->
              <div class="row" style="justify-content: flex-end;padding-bottom: 20px;padding-right: 20px;">
                <button  mat-raised-button style="color: #5e52a1;" (click)="SearchAPI()">
                    <mat-icon #tooltip="matTooltip"
                    matTooltip="Done" [matTooltipPosition]="'below'">done</mat-icon>  Search
                  </button>&nbsp;
                  <button  mat-raised-button style="color: #5e52a1;">
                    <mat-icon #tooltip="matTooltip"
                    matTooltip="Done" [matTooltipPosition]="'below'">restart_alt</mat-icon>  Reset
                  </button>
              </div>
             
             </th>
          </ng-container>
          <ng-container matColumnDef="Filter">
            <th class="class2" colspan="8" mat-header-cell *matHeaderCellDef> 
                <div class="row">
                    <div class="col-sm-3">
                        <label>{{'invoiceAmount' | translate}}</label>
                        <div class="custom-slider">
                        <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
                      </div>
                      </div>
                      <div class="col-sm-3" style="padding-top: 22px;">
                        <mat-form-field appearance="fill">
                            <mat-label>Offer Expier </mat-label>
                            <mat-date-range-input [rangePicker]="picker">
                              <input matStartDate placeholder="Start date">
                              <input matEndDate placeholder="End date">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                          </mat-form-field>
                      </div>
                </div>
                  <div class="row" style="justify-content: flex-end;padding-bottom: 20px;padding-right: 20px;">
                    <button  mat-raised-button style="color: #5e52a1;">
                        <mat-icon #tooltip="matTooltip"
                        matTooltip="Done" [matTooltipPosition]="'below'">done</mat-icon>  Search
                      </button>&nbsp;
                      <button  mat-raised-button style="color: #5e52a1;">
                        <mat-icon #tooltip="matTooltip"
                        matTooltip="Done" [matTooltipPosition]="'below'">restart_alt</mat-icon>  Reset
                      </button>
                  </div>
             </th>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsload"></tr>
          <tr [hidden]="!searchDivOpen" class="searchInput" mat-header-row *matHeaderRowDef="displayedColumnsearch"></tr>
          <tr [hidden]="!filterDivOpen" mat-header-row *matHeaderRowDef="displayedColumnFilter"></tr>
          <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color:#B4A6EA"></tr>
          <tr mat-row class="BID-Details" *matRowDef="let row; columns: displayedColumns"></tr>
        </table>  
        <mat-paginator [hidePageSize]="true" showFirstLastButtons></mat-paginator>
      </div>
  </header>
</div>


<div *ngIf="canceldiv" class="app-content {{isOpen}}">
  <header>
    <br>
      <!-- <div class="uxg-h4" >Cancel to Bids</div> -->
      <div class="modal-header">
      <div class="uxg-h4" >Cancel to Bids</div>
      <button  type="button"  (click)="backtolist()"  class="btn model-btn-outline"> <-- Back To list Page</button>
     </div>
      <div class="modal-body">       
        <div class="container-fluid">
         <form [formGroup]="Rejectform">
            <!-- <div class="row">
                <div class="col-sm-6"> 
                 <ul>
                     <li *ngFor="let subskill of rejectQustionOne.subrejectQustionOne">
                       <mat-checkbox [labelPosition]="subskill.labelPosition" formControlName="{{subskill.formControlName}}" > {{subskill.name}} </mat-checkbox>
                     </li>
                   </ul>
                </div>
                <div class="col-sm-6"> 
                 <mat-card class="result">
                     <mat-card-content>
                       <section class="example-section">
                         <ul>
                             <li *ngFor="let subskill of rejectQustionTwo.subrejectQustionTwo">
                                     <mat-checkbox matInput [labelPosition]="subskill.labelPosition" formControlName="{{subskill.formControlName}}" (change)="updateAllComplete(subskill.name)"> {{subskill.name}} </mat-checkbox>
                             </li>
                           </ul>
                       </section>
                     </mat-card-content>
                   </mat-card>
                
                </div>
            </div> -->
            <div class="row" *ngIf="TextAreaDiv">
             <div class="col-sm-12"> 
                 <mat-form-field  class="col-sm-12 textarea-h">
                     <mat-label>Remarks</mat-label>
                     <textarea matInput 
                     formControlName="OthersRemarks"
                               cdkTextareaAutosize
                               #autosize="cdkTextareaAutosize"
                               cdkAutosizeMinRows="1"
                               cdkAutosizeMaxRows="1000"></textarea>
                              <mat-error *ngIf="hasError('OthersRemarks', 'required')">                                 You must provide a <strong>Remarks</strong>
                              </mat-error>

                   </mat-form-field>
             </div>
            </div>
         </form>
        </div>
     </div>
     <div class="modal-footer" >
        <button type="button"  (click)="rejectBid()"class="btn model-btn-outline">Cancel To Bid</button>
     </div>
  </header>
</div>
<!-- <ng-template #Rejecttemplate>
  <div class="modal-header">
     <h4 class="modal-title pull-left">Cancel Bid Details:</h4>
     <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
     </button>
  </div>
  <div class="modal-body">       
     <div class="container-fluid">
      <form [formGroup]="Rejectform" (ngSubmit)="submit()">
         <div class="row">
             <div class="col-sm-6"> 
              <ul>
                  <li *ngFor="let subskill of rejectQustionOne.subrejectQustionOne">
                    <mat-checkbox [labelPosition]="subskill.labelPosition" formControlName="{{subskill.formControlName}}" > {{subskill.name}} </mat-checkbox>
                  </li>
                </ul>
             </div>
             <div class="col-sm-6"> 
              <mat-card class="result">
                  <mat-card-content>
                    <section class="example-section">
                      <ul>
                          <li *ngFor="let subskill of rejectQustionTwo.subrejectQustionTwo">
                                  <mat-checkbox matInput [labelPosition]="subskill.labelPosition" formControlName="{{subskill.formControlName}}" (change)="updateAllComplete(subskill.name)"> {{subskill.name}} </mat-checkbox>
                          </li>
                        </ul>
                    </section>
                  </mat-card-content>
                </mat-card>
             
             </div>
         </div>
         <div class="row" *ngIf="TextAreaDiv">
          <div class="col-sm-12"> 
              <mat-form-field  class="col-sm-12 textarea-h">
                  <mat-label>Remarks</mat-label>
                  <textarea matInput 
                  formControlName="OthersRemarks"
                            cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize"
                            cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="1000"></textarea>
                            <mat-error *ngIf="errorHandling('OthersRemarks', 'required')">
                              You must provide a <strong>Remarks</strong>
                           </mat-error>
                </mat-form-field>
          </div>
         </div>
      </form>
     </div>
  </div>
  <div class="modal-footer" style="justify-content: center;">
     <button type="button"  (click)="rejectBid(dataBIDDetails)"class="btn model-btn-outline">Reject</button>
  </div>
</ng-template> -->