<div class="app-content {{isOpen}} ">
    <header>
        <br>
        <h5>{{'Finance Requests' | translate}}</h5>
        <div class="mat-elevation-z8 table-responsive table-post">
            <table mat-table [dataSource]="dataSource" matSort class="table-responsive">
                <ng-container matColumnDef="invoiceRef">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" mat-sort-header
                    matTooltip="{{biddingTooltip.tradecommRef}}" [matTooltipPosition]="'below'"> {{'ICC Tradecomm Ref' | translate}} </th>
                    <td mat-cell *matCellDef="let element">
                                 {{element.invoiceRef}}
                     </td>
                  </ng-container>

                <ng-container matColumnDef="invoiceNo">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" mat-sort-header
                        matTooltip="{{biddingTooltip.invoiceId}}" [matTooltipPosition]="'below'"> {{'Invoice Id' | translate}} </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.invoiceNo}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="invAmt">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" mat-sort-header
                        matTooltip="{{biddingTooltip.invoiceAmount}}" [matTooltipPosition]="'below'"> {{'Invoice Amount' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.invoiceCcy}} {{element.invoiceAmt}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="smeId">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" matTooltip="{{biddingTooltip.smeName}}"
                        [matTooltipPosition]="'below'" mat-sort-header> {{'SME Name' | translate}} </th>
                    <td mat-cell *matCellDef="let element">

                        {{element.smeId}}

                    </td>
                </ng-container>


                <ng-container matColumnDef="buyerName">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" mat-sort-header
                        matTooltip="{{biddingTooltip.buyerName}}" [matTooltipPosition]="'below'"> {{'Buyer Name' | translate}} </th>
                    <td mat-cell *matCellDef="let element">

                        {{element.buyerName}}

                    </td>
                </ng-container>

                <ng-container matColumnDef="invDate">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
                        matTooltip="{{biddingTooltip.invoiceCreateDate}}" [matTooltipPosition]="'below'"> {{'Inv Date' | translate}} </th>
                    <td mat-cell *matCellDef="let element">

                        {{ element.invoiceDate && moment(element.invoiceDate).format('DD/MM/YYYY')}}

                    </td>
                </ng-container>

                <ng-container matColumnDef="invDueDate">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
                        matTooltip="{{biddingTooltip.invoiceDueDate}}" [matTooltipPosition]="'below'"> {{'Inv Due date' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element">

                        {{element.invDueDate && moment(element.invDueDate).format('DD/MM/YYYY')}}

                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" matTooltip="{{biddingTooltip.status}}"
                        [matTooltipPosition]="'below'"> {{'Status' | translate}}  </th>
                    <td mat-cell *matCellDef="let element">

                        {{element.status == "APR" || element.status == "A" ? 'Approved' : element.status == "SUB" ? 'Submitted by SME':element.status == "CAN" ? 'Cancelled':'Financed'}}

                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> {{'Action' | translate}} </th>
                    <td mat-cell *matCellDef="let element">

                        <a href="javascript:void(0)" (click)="openModal($event,template,element)">
                            <mat-icon #tooltip="matTooltip" matTooltip="View" [matTooltipPosition]="'below'">visibility
                            </mat-icon>
                        </a>
                    </td>
                </ng-container>
                <ng-container matColumnDef="TopBar">
                    <th colspan="9" mat-header-cell *matHeaderCellDef>
                        <div style="justify-content:flex-end;cursor: pointer;">
                            <span (click)="searchDiv()" class="material-icons">search</span>&nbsp;
                            <span (click)="filterDiv()" class="material-icons">filter_list</span>
                        </div>
                    </th>
                </ng-container>
                <ng-container matColumnDef="Search">
                    <th colspan="9" mat-header-cell *matHeaderCellDef>
                        <h6>{{'Search By' | translate}}</h6>
                        <form [formGroup]="Searchform">
                        <div class="row">
                            <div class="col-sm-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>{{'Invoice Id' | translate}}</mat-label>
                                    <input type="text" formControlName="invoiceRef" matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-sm-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>{{'SME Name' | translate}}</mat-label>
                                    <input type="text" formControlName="smeId"  matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-sm-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>{{'Buyer Name' | translate}}</mat-label>
                                    <input type="text" formControlName="buyerName"  matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-sm-2">
                                <mat-form-field appearance="outline">
                                <mat-label>{{'Inv Date' | translate}}</mat-label>
                                <input matInput readonly="true"  formControlName="invoiceDate" [matDatepicker]="picker"  >
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                            </div>
                            <div class="col-sm-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>{{'Invoice Due Date' | translate}}</mat-label>
                                    <input matInput readonly="true"  formControlName="invoiceDueDate" [matDatepicker]="picker1"  >
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                  </mat-form-field>
                            </div>
                        </div>
                        <div class="row" style="justify-content: flex-end;padding-bottom: 20px;padding-right: 20px;">
                            <button mat-raised-button style="color: #5e52a1;" (click)="SearchAPI()">
                                <mat-icon #tooltip="matTooltip" matTooltip="Done" [matTooltipPosition]="'below'">done
                                </mat-icon> {{'Search' | translate}}
                            </button>&nbsp;
                            <button mat-raised-button style="color: #5e52a1;" (click)="ResetAPI()">
                                <mat-icon #tooltip="matTooltip" matTooltip="Done" [matTooltipPosition]="'below'">
                                    restart_alt</mat-icon> {{'Reset' | translate}}
                            </button>
                        </div>
                    </form>
                    </th>
                </ng-container>
                <ng-container matColumnDef="Filter">
                    <th class="class2" colspan="9" mat-header-cell *matHeaderCellDef>
                        <div class="row">
                            <div class="col-sm-3">
                                <label>{{'invoiceAmount' | translate}}</label>
                                <div class="custom-slider">
                                    <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options">
                                    </ngx-slider>
                                </div>
                            </div>
                            <div class="col-sm-3" style="padding-top: 22px;">
                                <mat-form-field appearance="fill">
                                    <mat-label> {{'InvoiceDate' | translate}}</mat-label>
                                    <mat-date-range-input [rangePicker]="picker">
                                        <input matStartDate placeholder="Start date">
                                        <input matEndDate placeholder="End date">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="row" style="justify-content: flex-end;padding-bottom: 20px;padding-right: 20px;">
                            <button mat-raised-button style="color: #5e52a1;">
                                <mat-icon #tooltip="matTooltip" matTooltip="Done" [matTooltipPosition]="'below'">done
                                </mat-icon> {{'Search' | translate}}
                            </button>&nbsp;
                            <button mat-raised-button style="color: #5e52a1;">
                                <mat-icon #tooltip="matTooltip" matTooltip="Done" [matTooltipPosition]="'below'">
                                    restart_alt</mat-icon> {{'Reset' | translate}}
                            </button>
                        </div>
                    </th>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsload"></tr>
                <tr [hidden]="!searchDivOpen" class="searchInput" mat-header-row
                    *matHeaderRowDef="displayedColumnsearch"></tr>
                <tr [hidden]="!filterDivOpen" mat-header-row *matHeaderRowDef="displayedColumnFilter"></tr>
                <tr mat-header-row style="background-color:#B4A6EA" *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row class="BID-Details" *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [hidePageSize]="true" showFirstLastButtons></mat-paginator>
        </div>
    </header>
</div>

























<div>
    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">{{'View all Finance Requests' | translate}} </h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"
                #tooltip="matTooltip" matTooltip="{{biddingTooltip.close}}" [matTooltipPosition]="'below'">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <!-- Table 2 -->
            <div style="overflow-x:auto;">
                <p style="font-weight: 500;
            color: #a899e4;margin-left: 14px;">{{'Invoice Details' | translate}} </p>
                <table mat-table [dataSource]="dataSourceTwo" class="table-responsive">
                    <ng-container matColumnDef="invId">
                        <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                            matTooltip="{{biddingTooltip.invoiceNumber}}" [matTooltipPosition]="'below'">{{'Invoice No' | translate}}</th>
                        <td mat-cell *matCellDef="let invoiceDetailsData">{{ invoiceDetailsData.invId }}</td>
                    </ng-container>

                    <ng-container matColumnDef="invDate">
                        <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                            matTooltip="{{biddingTooltip.invoiceCreateDate}}" [matTooltipPosition]="'below'">{{'Invoice Date' | translate}}</th>
                        <td mat-cell *matCellDef="let invoiceDetailsData">{{ invoiceDetailsData.invDate &&
                            moment(invoiceDetailsData.invDate).format('DD/MM/YYYY') }}</td>
                    </ng-container>

                    <ng-container matColumnDef="buyerName">
                        <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                            matTooltip="{{biddingTooltip.buyerName}}" [matTooltipPosition]="'below'">{{'Buyer' | translate}}</th>
                        <td mat-cell *matCellDef="let invoiceDetailsData">{{ invoiceDetailsData.buyerName }} </td>
                    </ng-container>

                    <ng-container matColumnDef="invAmt">
                        <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                            matTooltip="{{biddingTooltip.invoiceAmount}}" [matTooltipPosition]="'below'">{{'invoiceAmount' | translate}}</th>
                        <td mat-cell *matCellDef="let invoiceDetailsData">{{ invoiceDetailsData.invCcy }}{{
                            invoiceDetailsData.invAmt }}</td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                            matTooltip="{{biddingTooltip.invoiceStatus}}" [matTooltipPosition]="'below'">{{'Status' | translate}}</th>
                        <td mat-cell *matCellDef="let invoiceDetailsData">
                            {{invoiceDetailsData.status == "APR" || invoiceDetailsData.status == "A" ? 'Approved' : invoiceDetailsData.status == "SUB" ? 'Submitted by SME':invoiceDetailsData.status == "CAN" ? 'Cancelled':'Financed'}}
                             </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsTwo" style="background-color:#B4A6EA"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsTwo"></tr>
                </table>
            </div>

            <mat-accordion>
                <mat-expansion-panel>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="bidpanelOpenState = true" (closed)="bidpanelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="font-weight:500;color: #a899e4;">
                            {{'Goods Details' | translate}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <table mat-table [dataSource]="dataSourceOne" class="table-responsive">

                        <ng-container matColumnDef="descGoods">
                            <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                                matTooltip="{{biddingTooltip.goodDesc}}" [matTooltipPosition]="'below'">{{'Description of Goods' | translate}}</th>
                            <td mat-cell *matCellDef="let element">{{ element.descGoods }}</td>
                        </ng-container>

                        <!-- <ng-container matColumnDef="idNo">
                        <th mat-header-cell *matHeaderCellDef scope="column">ID No</th>
                        <td mat-cell *matCellDef="let element">{{ element.idNo }}</td>
                    </ng-container> -->

                        <!-- <ng-container matColumnDef="dateOfInvoice">
                        <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                        matTooltip="{{biddingTooltip.dateInvoice}}" [matTooltipPosition]="'below'">Date Of Invoice</th>
                        <td mat-cell *matCellDef="let element">{{ element.dateOfInvoice }}</td>
                    </ng-container> -->

                        <ng-container matColumnDef="quantity">
                            <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                                matTooltip="{{biddingTooltip.quantity}}" [matTooltipPosition]="'below'">{{'Quantity' | translate}}</th>
                            <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
                        </ng-container>

                        <ng-container matColumnDef="rate">
                            <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                                matTooltip="{{biddingTooltip.ccyAmount}}" [matTooltipPosition]="'below'">{{'Amt Ccy' | translate}}</th>
                            <td mat-cell *matCellDef="let element">{{ element.amtCcy }}</td>
                        </ng-container>

                        <ng-container matColumnDef="amt">
                            <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                                matTooltip="{{biddingTooltip.amount}}" [matTooltipPosition]="'below'">{{'Amount' | translate}}</th>
                            <td mat-cell *matCellDef="let element">{{ element.amt }}</td>
                        </ng-container>



                        <!-- <ng-container matColumnDef="netAmtPay">
                        <th mat-header-cell *matHeaderCellDef scope="column">Net Amount</th>
                        <td mat-cell *matCellDef="let element">{{ element.netAmtPay }}</td>
                    </ng-container>
         -->
                        <ng-container matColumnDef="taxRate">
                            <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                                matTooltip="{{biddingTooltip.taxRate}}" [matTooltipPosition]="'below'">{{'Tax Rate' | translate}}</th>
                            <td mat-cell *matCellDef="let element">{{ element.taxRate }}</td>
                        </ng-container>

                        <ng-container matColumnDef="taxAmount">
                            <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                                matTooltip="{{biddingTooltip.taxAmount}}" [matTooltipPosition]="'below'">{{'Tax Amount' | translate}}</th>
                            <td mat-cell *matCellDef="let element">{{ element.taxAmt }}</td>
                        </ng-container>
                        <ng-container matColumnDef="discAmt">
                            <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                                matTooltip="{{biddingTooltip.ccyTaxAmount}}" [matTooltipPosition]="'below'">{{'Tax Amt Ccy' | translate}}
                            </th>
                            <td mat-cell *matCellDef="let element">{{ element.taxAmtCcy }}</td>
                        </ng-container>
         

                        <ng-container matColumnDef="total">
                            <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                                matTooltip="{{biddingTooltip.total}}" [matTooltipPosition]="'below'"> {{'Total' | translate}}</th>
                            <td mat-cell *matCellDef="let element">{{ element.total }}</td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumnsOne" style="background-color:#B4A6EA"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsOne"></tr>
                    </table>
                </mat-expansion-panel>
            </mat-accordion>
            <br>








            <!-- //Bidding Details -->

            <!-- <mat-accordion>
            <mat-expansion-panel>
            </mat-expansion-panel>
            <mat-expansion-panel  (opened)="bidpanelOpenState = true" (closed)="bidpanelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title style="font-weight:500;color: #a899e4;">
                        Bidding Details
                    </mat-panel-title>
                </mat-expansion-panel-header>
        <div style="overflow-x:auto;">
           <table mat-table [dataSource]="dataSourceThree">
                <ng-container matColumnDef="financeOfferAmt">
                    <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                    matTooltip="{{biddingTooltip.offerAmount}}" [matTooltipPosition]="'below'">Financier Offer Amount.</th>
                    <td mat-cell *matCellDef="let data">{{ data.financeOfferAmt }}</td>
                </ng-container>
        
                <ng-container matColumnDef="ccy">
                    <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                    matTooltip="{{biddingTooltip.ccy}}" [matTooltipPosition]="'below'">CCY</th>
                    <td mat-cell *matCellDef="let data">{{ data.ccy }}</td>
                </ng-container>
        
                <ng-container matColumnDef="fxRate">
                    <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                    matTooltip="{{biddingTooltip.fxRate}}" [matTooltipPosition]="'below'"> Fx Rate</th>
                    <td mat-cell *matCellDef="let data">{{ data.fxRate }}</td>
                </ng-container>
        
                <ng-container matColumnDef="margin">
                    <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                    matTooltip="{{biddingTooltip.fundPercentage}}" [matTooltipPosition]="'below'">Funding Percentage</th>
                    <td mat-cell *matCellDef="let data">{{ data.margin }}</td>
                </ng-container>
        
                <ng-container matColumnDef="netAmtDisc">
                    <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                    matTooltip="{{biddingTooltip.netDiscAmount}}" [matTooltipPosition]="'below'">Net Amt Disc</th>
                    <td mat-cell *matCellDef="let data">{{ data.netAmtDisc }}</td>
                </ng-container>      
                
                
                <ng-container matColumnDef="discAmt">
                    <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                    matTooltip="{{biddingTooltip.discAmount}}" [matTooltipPosition]="'below'">Disc Amt</th>
                    <td mat-cell *matCellDef="let data">{{ data.discAmt }}</td>
                </ng-container> 

                <ng-container matColumnDef="discRate">
                    <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                    matTooltip="{{biddingTooltip.discRate}}" [matTooltipPosition]="'below'">Disc Rate</th>
                    <td mat-cell *matCellDef="let data">{{ data.discRate }}</td>
                </ng-container> 

                <ng-container matColumnDef="offerExpPeriod">
                    <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                    matTooltip="{{biddingTooltip.offerExpPeriod}}" [matTooltipPosition]="'below'">Offer Exp Period</th>
                    <td mat-cell *matCellDef="let data">{{ data.offerExpPeriod }}</td>
                </ng-container> 
        
                <tr mat-header-row *matHeaderRowDef="displayedColumnsThree" style="background-color:#B4A6EA"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsThree"></tr>
            </table>

        </div>
    </mat-expansion-panel>
</mat-accordion> -->






        </div>
        <div class="modal-footer">
            <!-- <button type="button" class="btn model-btn-outline">Submit</button> -->
            <button type="button" class="btn btn-default" (click)="modalRef.hide()"> {{'Close' | translate}}</button>
        </div>
    </ng-template>
</div>