<div class="app-content">
  <header>
    <div class="data-section">
      <form [formGroup]="countryForm" autocomplete="off" (ngSubmit)="onSubmitcountryForm()" #formDirective="ngForm">
        <h5 class="text-center">{{'IccCountry.country' | translate}}</h5>
        <mat-card>
          <mat-card-content>
            <table class="table-responsive inv-table">
              <tbody>
                <tr>
                  <td rowspan="1" colspan="1">
                    <mat-form-field dense class="icc-mat">
                      <mat-label>{{'IccCountry.Country Name' | translate}}</mat-label>
                      <input type="text" matInput formControlName="country" />
                    </mat-form-field>
                  </td>
                  <td rowspan="1" colspan="1">
                    <mat-form-field dense class="icc-mat">
                      <mat-label>{{'IccCountry.Country Code(2 digit)' | translate}}</mat-label>
                      <input type="text" matInput formControlName="countrycode2" pattern="[A-Za-z]{2}" />
                    </mat-form-field>
                  </td>
                  <td rowspan="1" colspan="1">
                    <mat-form-field dense class="icc-mat">
                      <mat-label>{{'IccCountry.Country Code(3 digit)' | translate}}</mat-label>
                      <input type="text" matInput formControlName="countrycode3" pattern="[A-Za-z]{3}" />
                    </mat-form-field>
                  </td>
                  <td rowspan="1" colspan="1">
                    <mat-form-field dense class="icc-mat">
                      <mat-label>{{'IccCountry.Numeric' | translate}}</mat-label>
                      <input type="number" matInput formControlName="numeric" />
                    </mat-form-field>
                  </td>
                  <td rowspan="1" colspan="1">
                    <button *ngIf="!isEdit" mat-flat-button color="primary" id=grid>{{'IccCountry.Add' |
                      translate}}</button>
                    <button *ngIf="isEdit" mat-flat-button color="primary" id=grid>{{'IccCountry.Update' |
                      translate}}</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>

      </form>
      <br>
      <div class="mat-elevation-z8 table-responsive table-post">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" mat-sort-header
              matTooltip="{{countryTooltip.country | translate}}" [matTooltipPosition]="'below'">{{'IccCountry.country'
              | translate}} </th>
            <td mat-cell *matCellDef="let element">
              {{element.country}}
            </td>
          </ng-container>
          <ng-container matColumnDef="countrycode2">
            <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" mat-sort-header
              matTooltip="{{countryTooltip.countrycode2 | translate}}" [matTooltipPosition]="'below'">
              {{'IccCountry.Country Code(3 digit)' | translate}} </th>
            <td mat-cell *matCellDef="let element">
              {{element.countrycode2}}
            </td>
          </ng-container>
          <ng-container matColumnDef="countrycode3">
            <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" mat-sort-header
              matTooltip="{{countryTooltip.countrycode3 | translate}}" [matTooltipPosition]="'below'">
              {{'IccCountry.Country Code(3 digit)' | translate}} </th>
            <td mat-cell *matCellDef="let element">
              {{element.countrycode3}}
            </td>
          </ng-container>
          <ng-container matColumnDef="numeric">
            <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" mat-sort-header
              matTooltip="{{countryTooltip.numeric | translate}}" [matTooltipPosition]="'below'"> {{'IccCountry.Numeric'
              | translate}}</th>
            <td mat-cell *matCellDef="let element">
              {{element.numeric}}
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> {{'Action' | translate}} </th>
            <td mat-cell *matCellDef="let element">
              <a href="javascript:void(0)" (click)="getEditData(element)">
                <mat-icon #tooltip="matTooltip" matTooltip="{{'edit' | translate}} " [matTooltipPosition]="'below'">edit
                </mat-icon>
              </a>&nbsp;
            </td>
          </ng-container>
          <tr mat-header-row style="background-color:#B4A6EA" *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row class="BID-Details" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </header>
</div>