.app-content {
    bottom: 0;
    left: 0;
    overflow-x: auto;
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 33px;
}
.icc-mat{
    padding-right: 10px;
    width: 250px;
    margin-top: 10px;
}
.data-section{
    margin-top: 15px;
}

@media only screen and (max-width: 575px) {
    .data-section{
        margin-top: 45px;
    }
}
@media only screen and (min-width:768px) and (max-width:991px){
    .data-section{
        margin-top: 45px;
    }
}