
<div class="app-content {{isOpen}}">
  <header>
      <br>

        <!-- <div class="uxg-h4" style="text-align: center">Bidding by Financiers</div> -->
      <h5>Bidding by Financiers</h5>
        <!-- <mat-form-field appearance="fill">
          <mat-label>Toppings</mat-label>
          <mat-select [formControl]="toppings" multiple matInput>
            <mat-select-trigger>
              {{toppings.value ? toppings.value[0] : ''}}
              <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
          </mat-select>
        </mat-form-field> -->
<div class="multi-srch">
  <div class="row">
    <div class="col-md-2">
        <label>Invoice Number</label>
        <angular2-multiselect  [data]="cities"  [settings]="dropdownSettings"></angular2-multiselect>
    </div>
    <div class="col-md-2">
      <label>SME Name </label>
        <angular2-multiselect class="col-md-2" [data]="cities"  [settings]="dropdownSettings"></angular2-multiselect>
</div>
<div class="col-md-2">
  <label>Buyer NAME</label>
        <angular2-multiselect class="col-md-2" [data]="cities"  [settings]="dropdownSettings"></angular2-multiselect>
</div>
<!-- <div class="col-md-2">
  <label>Filter ID</label>
        <angular2-multiselect class="col-md-2" [data]="cities"  [settings]="dropdownSettings"></angular2-multiselect>
</div> -->
        <a href="javascript:void(0)" class="col-md-1">
          <mat-icon class="m-icon" #tooltip="matTooltip"
          matTooltip="Search" [matTooltipPosition]="'below'">search</mat-icon>
       </a>
       <a href="javascript:void(0)" class="col-md-1">
        <mat-icon class="m-icon" #tooltip="matTooltip"
        matTooltip="Reset" [matTooltipPosition]="'below'">refresh</mat-icon>
     </a>
    </div>
</div>
        <div class="mat-elevation-z8">
        <table mat-table  class="table-responsive" [dataSource]="dataSource" (mouseenter)="isHover=true" 
        (mouseleave)="isHover=false" matSort>
  
          <!-- <ng-container matColumnDef="billNo">
            <th mat-header-cell *matHeaderCellDef>ICC Tradecomm Ref</th>          
            <td mat-cell *matCellDef="let element"> 
              <mat-chip-list>                
                     <mat-chip color="primary" (click)="openModal($event,template)" selected>{{element.billNo}}</mat-chip>
                 </mat-chip-list>
             </td>
          </ng-container> -->
  
          <ng-container matColumnDef="invId">
            <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
            matTooltip="{{dashboardTooltip.invoiceId}}" [matTooltipPosition]="'below'" mat-sort-header>Invoice ID</th>
            <td mat-cell *matCellDef="let element">
              <!-- <mat-chip-list>
                <mat-chip> </mat-chip>
            </mat-chip-list> -->
            {{ element.invoiceRef }}
              
            </td>
          </ng-container>
  
          <ng-container matColumnDef="invoiceAmt">
            <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
            matTooltip="{{dashboardTooltip.invoiceAmount}}" [matTooltipPosition]="'below'" mat-sort-header>Invoice Amount</th>
            <td mat-cell *matCellDef="let element">
              <!-- <mat-chip-list>
                <mat-chip> {{ element.invoiceAmt }} </mat-chip>
            </mat-chip-list> -->
            {{ element.invoiceCcy + ' ' + element.invoiceAmt }}
             </td>
          </ng-container>

          <ng-container matColumnDef="smeId">
            <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
            matTooltip="{{dashboardTooltip.invoiceAmount}}" [matTooltipPosition]="'below'" mat-sort-header>SME Name</th>
            <td mat-cell *matCellDef="let element">
              <!-- <mat-chip-list>
                <mat-chip> {{ element.invoiceAmt }} </mat-chip>
            </mat-chip-list> -->
            {{ element.smeId }}
             </td>
          </ng-container>
  
  
          <ng-container matColumnDef="buyerName">
            <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
            matTooltip="{{dashboardTooltip.buyerName}}" [matTooltipPosition]="'below'" mat-sort-header>Buyer Name</th>
            <td mat-cell *matCellDef="let element">
              <!-- <mat-chip-list>
                <mat-chip> </mat-chip>
            </mat-chip-list> -->
            {{ element.buyerName }} 
              </td>
          </ng-container>
          <!-- <ng-container matColumnDef="SellerRating">
            <th mat-header-cell *matHeaderCellDef scope="column">Seller Rating</th>
            <td mat-cell *matCellDef="let element">
              <mat-chip-list>
                <mat-chip> {{ element.SellerRating }} </mat-chip>
            </mat-chip-list>
              </td>
          </ng-container>
          <ng-container matColumnDef="BuyerRating">
            <th mat-header-cell *matHeaderCellDef scope="column">Buyer Rating</th>
            <td mat-cell *matCellDef="let element">
              <mat-chip-list>
                <mat-chip> {{ element.BuyerRating }} </mat-chip>
            </mat-chip-list>
              </td>
          </ng-container> -->
          <ng-container matColumnDef="invDate">
            <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
            matTooltip="{{dashboardTooltip.invoiceCreateDate}}" [matTooltipPosition]="'below'" mat-sort-header>Invoice Date</th>
            <td mat-cell *matCellDef="let element">
              <!-- <mat-chip-list>
                <mat-chip>  </mat-chip>
            </mat-chip-list> -->
            {{ element.invoiceDate | date}}
              </td>
          </ng-container>
          <!-- <ng-container matColumnDef="invAmt">
            <th mat-header-cell *matHeaderCellDef scope="column">Invoice Amount</th>
            <td mat-cell *matCellDef="let element">
              <mat-chip-list>
                <mat-chip>  {{ element.invAmt }} </mat-chip>
            </mat-chip-list>
             </td>
          </ng-container> -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element"> 
              <a href="javascript:void(0)" (click)="navigateInvoiceDetails(element.invoiceId)">
                  <mat-icon #tooltip="matTooltip"
                  matTooltip="Edit" [matTooltipPosition]="'below'">edit</mat-icon>
                </a>&nbsp;
              <!-- <a href="javascript:void(0)" (click)="navigateInvoiceDetails(element.invoiceId)">
                  <mat-icon #tooltip="matTooltip"
                  matTooltip="View" [matTooltipPosition]="'below'">visibility</mat-icon>
              </a> -->
               </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color:#B4A6EA">jega</tr>
          <tr mat-row class="BID-Details" *matRowDef="let row; columns: displayedColumns"></tr>
        </table>  
        <mat-paginator [hidePageSize]="true" showFirstLastButtons></mat-paginator>
        </div>
        
    
        
          <!-- <app-invoice-details></app-invoice-details> -->
      <ng-template #template>
        <div class="modal-header">
           <h4 class="modal-title pull-left">Bid Details</h4>
           <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">×</span>
           </button>
        </div>
        <div class="modal-body">          
           <div class="container-fluid">
               <div class="row">
                    <app-invoice-details style="width: 100%;" [id]="id" ></app-invoice-details>
               </div>            
           </div>
        </div>
        <!-- <div class="modal-footer">
           <button type="button" class="btn model-btn-outline">Authorize</button>
           <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
        </div> -->
     </ng-template>
  </header>
</div>
  
  