<div class="app-content {{isOpen}} ">
    <header class="m0p0">
        <br>
        <h5>User List</h5>
        <div class="row" style="padding-bottom: inherit;">
            <div class="col-sm-12" style="text-align: end;">
                <button mat-flat-button color="primary" (click)="userClick()" > Add User </button>
            </div>
        </div>
        <div class="mat-elevation-z8 table-res">
            <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" (mouseenter)="isHover=true" (mouseleave)="isHover=false">
                
                
                <ng-container matColumnDef="userId">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
                    matTooltip="{{biddingTooltip.tradecommRef}}" [matTooltipPosition]="'below'"> User Id </th>
                    <td mat-cell *matCellDef="let element">
                                {{element.userId}}
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
                        matTooltip="{{biddingTooltip.invoiceId}}" [matTooltipPosition]="'below'"> First Name </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.firstName}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
                        matTooltip="{{biddingTooltip.invoiceAmount}}" [matTooltipPosition]="'below'"> Last Name 
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.lastName}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="companyName">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" matTooltip="{{biddingTooltip.smeName}}"
                        [matTooltipPosition]="'below'"> Company Name </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.companyName}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="emailId">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
                        matTooltip="{{biddingTooltip.buyerName}}" [matTooltipPosition]="'below'"> Email Id  </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.email}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="phoneNumber">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
                        matTooltip="{{biddingTooltip.invoiceCreateDate}}" [matTooltipPosition]="'below'"> Phone Number  </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.contactNo }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
                        matTooltip="{{biddingTooltip.invoiceCreateDate}}" [matTooltipPosition]="'below'"> Status </th>
                    <td mat-cell class="toggleclass" *matCellDef="let element">
                        <mat-slide-toggle 
                        [checked]="element.status === 'A' ? true : false"  (change)="displayMessage($event,statusActive,element)"></mat-slide-toggle><br>
                        {{element.status === 'A' ? 'Active' : 'Deactive'}}
                    </td>
                </ng-container>
               
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> {{'Action' | translate}} </th>
                    <td mat-cell *matCellDef="let element">
                        <a  href="javascript:void(0)" (click)="navigateFinanceDetails(element.userKey)">
                            <mat-icon  #tooltip="matTooltip"
                            matTooltip="Edit" [matTooltipPosition]="'below'">edit</mat-icon>
                          </a>&nbsp;
                        <!-- <a href="javascript:void(0)" (click)="openModal($event,template,element)">
                            <mat-icon #tooltip="matTooltip" matTooltip="View" [matTooltipPosition]="'below'">visibility
                            </mat-icon>
                        </a> -->
                    </td>
                </ng-container>
                <ng-container matColumnDef="TopBar">
                    <th colspan="8" mat-header-cell *matHeaderCellDef> 
                      <div style="justify-content:flex-end;cursor: pointer;">
                      <span (click)="searchDiv()" class="material-icons">search</span>&nbsp;
                      <span (click)="filterDiv()" class="material-icons">filter_list</span>
                        </div>
                     </th>
                  </ng-container>
                  <ng-container matColumnDef="Search">
                    <th colspan="8" mat-header-cell *matHeaderCellDef> 
                        <h6>{{'Search By' | translate}}</h6>
                      <!-- <div class="row">
                          <div class="col-sm-2">
                            <mat-form-field appearance="outline">
                                <mat-label>User ID</mat-label>
                                <input type="text" matInput />
                              </mat-form-field>
                          </div>
                       
                          <div class="col-sm-2">
                            <mat-form-field appearance="outline">
                                <mat-label>First Name</mat-label>
                                <input type="text" matInput />
                              </mat-form-field>
                          </div>
                          <div class="col-sm-2">
                            <mat-form-field appearance="outline">
                                <mat-label>buyerName</mat-label>
                                <input type="text" matInput />
                              </mat-form-field>
                          </div>
                      </div>
                      <div class="row" style="justify-content: flex-end;padding-bottom: 20px;padding-right: 20px;">
                        <button  mat-raised-button style="color: #5e52a1;" (click)="SearchAPI()">
                            <mat-icon #tooltip="matTooltip"
                            matTooltip="Done" [matTooltipPosition]="'below'">done</mat-icon>  Search
                          </button>&nbsp;
                          <button  mat-raised-button style="color: #5e52a1;">
                            <mat-icon #tooltip="matTooltip"
                            matTooltip="Done" [matTooltipPosition]="'below'">restart_alt</mat-icon>  Reset
                          </button>
                      </div> -->
                     
                     </th>
                  </ng-container>
                  <ng-container matColumnDef="Filter">
                    <th class="class2" colspan="8" mat-header-cell *matHeaderCellDef> 
                        <!-- <div class="row">
                            <div class="col-sm-3">
                                <label>{{'invoiceAmount' | translate}}</label>
                                <div class="custom-slider">
                                <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
                              </div>
                              </div>
                              <div class="col-sm-3" style="padding-top: 22px;">
                                <mat-form-field appearance="fill">
                                    <mat-label>InvoiceDate</mat-label>
                                    <mat-date-range-input [rangePicker]="picker">
                                      <input matStartDate placeholder="Start date">
                                      <input matEndDate placeholder="End date">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                  </mat-form-field>
                              </div>
                              <div class="col-sm-3" style="padding-top: 22px;">
                                <mat-form-field appearance="fill">
                                    <mat-label>InvDueDate</mat-label>
                                    <mat-date-range-input [rangePicker]="picker1">
                                      <input matStartDate placeholder="Start date">
                                      <input matEndDate placeholder="End date">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker1></mat-date-range-picker>
                                  </mat-form-field>
                              </div>
                        </div>
                          <div class="row" style="justify-content: flex-end;padding-bottom: 20px;padding-right: 20px;">
                            <button  mat-raised-button style="color: #5e52a1;">
                                <mat-icon #tooltip="matTooltip"
                                matTooltip="Done" [matTooltipPosition]="'below'">done</mat-icon>  Search
                              </button>&nbsp;
                              <button  mat-raised-button style="color: #5e52a1;">
                                <mat-icon #tooltip="matTooltip"
                                matTooltip="Done" [matTooltipPosition]="'below'">restart_alt</mat-icon>  Reset
                              </button>
                          </div> -->
                     </th>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsload"></tr>
                  <tr [hidden]="!searchDivOpen" class="searchInput" mat-header-row *matHeaderRowDef="displayedColumnsearch"></tr>
                  <tr [hidden]="!filterDivOpen" mat-header-row *matHeaderRowDef="displayedColumnFilter"></tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color:#694ed6e0"></tr>
                <tr mat-row class="BID-Details" *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            </div>
            <mat-paginator [hidePageSize]="true" showFirstLastButtons></mat-paginator>
        </div>
    </header>
</div>
<ng-template #statusActive>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Do you want {{this.message === 'A' ? 'Active' : 'Deactive'}} {{this.userValue.name}}</h4>
       <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">×</span>
       </button>
    </div>
    <!-- <div class="modal-body">       
       <div class="container-fluid">
      
       </div>
    </div> -->
    <div class="modal-footer" style="justify-content: center;">
       <button type="button"  (click)="Activeuser(this.userValue)"class="btn model-btn-outline">Yes</button>
       <button type="button"  (click)="ActiveuserNo()"class="btn model-btn-outline">No</button>
    </div>
  </ng-template>