@import "~@ffdc/uxg-angular-theme/lib/core/style/spacing";

table {
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

.submit {
    text-align: center;
    padding-bottom: $uxg-spacing-4;
}

mat-form-field {
    align-self: stretch;
    margin-bottom: $uxg-spacing-4;
    margin-left: $uxg-spacing-3 * 6;
    width: 400px;
}

#left {
    float: left;
    margin-left: 40px;
}
#right {
    margin-left: 40px;
}
#grid {
    margin-left: 600px;
}

.uxg-toolbar.mat-toolbar.mat-toolbar-single-row {
    height: 80px;
}

.uxg-product-name {
    font: 700 24px/28px "Futura EF", "futura-pt", "Futura", "Hind", "Verdana", "Arial Black", sans-serif;
}

.uxg-corporate-name {
    margin-left: $uxg-spacing-2 * 12;
}

@import "~@ffdc/uxg-angular-theme/lib/core/style/spacing";
// @import "./_financier-onboarding.component";

$margin: $uxg-spacing-4 + $uxg-spacing-2; // $margin;

header {
    // margin: -$margin (-$margin) $uxg-spacing-0;
   // margin: -32px 30px 0;
    //padding: $margin;
    position: relative;
    height: 45%;
    width: 100%;

    .account-services-headline {
        display: flex;
        justify-content: space-between;
        color: white;
        .global-balance {
            z-index: 10;
        }
    }

    .paginator {
        display: flex;
        align-self: flex-end;
        z-index: 10;
    }
}

.app-content {
    bottom: 0;
    left: -20px;
    overflow-x: auto;
    padding: 0.6rem;
    position: absolute;
    right: 0;
    top: 40px;
}
 .multiselect-dropdown-dsgn{
        width: 351px;
    margin: 2px 8px 44px 14px;
    background-color: #f3f1fc;
    border-bottom: 1px solid #694ed6;
    padding-top: 5px;
    border-radius: 3px;  
    }
    .error-color{
        background-color: #FDEBF0;
    }

.minus-btn{
    // background: #ec5757;
    // color: white;
    padding: 3% 12% 6% 11%;
    margin-left: -50px;
    // border-radius: 4px;
    // font-size: 10px;
    // cursor: pointer;
}

.fin-stepper{
    .more-table{
        margin-bottom: 20px;
        .mat-form-field{
           margin: 0;
           width: 200px;
           margin-top: 14px;
       }
       .mat-table td.mat-cell:last-of-type, .mat-table td.mat-footer-cell:last-of-type, .mat-table th.mat-header-cell:last-of-type{
           padding-right: 2px;
       }
       .add-good-plusbtn{
           padding: 5px 10px;
           line-height: 1;
       }
       .minus-btn{
        padding: 0;
        position: absolute;
        bottom: 22px;
        right:-22px;
       }
       .input-pos{
           position: relative;
       }
   }
}

@media only screen and (max-width: 575px) {
    .app-content{
        left: -12px;
        padding: 0.6rem 6px;
    }
    header{
        padding: 10px;
        margin: 0;
        margin-top: 20px;
    }
    .more-table .add-good-plusbtn{
        float: right;
    }
}
@media only screen and (min-width:768px) and (max-width:991px){
    header{
        padding: 10px;
        margin: 0;
        margin-top: 20px;
    }

}
@media only screen and (min-width: 500px) and (max-width: 1024px) {
    .more-table .add-good-plusbtn{
        float: right;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}