<div class="app-content {{isOpen}} ">
  <header>
    <!-- <mat-toolbar class="uxg-toolbar uxg-toolbar-elevated mat-primary">
  <div class="uxg-logo" dense></div>
  <ul class="uxg-breadcrumb uxg-breadcrumb-responsive">
    <li class="uxg-h3">FINANCIER ONBOARDING</li>
  </ul>
</mat-toolbar> -->

    <form (ngSubmit)="onSubmit()"
          [formGroup]="financierForm">
      <mat-horizontal-stepper linear="true"
                              selectedIndex="0"
                              #stepper>
        <mat-step>

          <ng-template matStepLabel>Financier OnBoarding</ng-template>
          <mat-card>
            <mat-card-content>
              <table style="width: 100%;">
                <tbody>

                  <!-- <tr *ngIf="financierId">
                <td rowspan="1" colspan="1" *ngIf="financierId">
                  <mat-form-field dense>
                    <mat-icon dense color="primary" matPrefix>person_outline</mat-icon>
                    <mat-label>Financier Name Constitution</mat-label>
                    <input matInput type="text" formControlName="fName" required
                       />
                    <mat-hint>Please Enter Financier Name Constitution</mat-hint>
                  </mat-form-field>
                </td>
              </tr> -->

                  <tr *ngIf="financierId">
                    <td rowspan="1"
                        colspan="1"
                        *ngIf="financierId">
                      <mat-form-field dense>
                        <mat-label>Financier Id</mat-label>
                        <input matInput
                               type="number"
                               value="{{'FIN' + financierId}}"
                               readonly />
                        <!-- <mat-hint>Please Enter Financier Name Constitution</mat-hint> -->
                      </mat-form-field>
                    </td>
                  </tr>

                  <tr>
                    <td rowspan="1"
                        colspan="1">
                      <mat-form-field dense>
                        <mat-icon dense
                                  color="primary"
                                  matPrefix>person_outline</mat-icon>
                        <mat-label>Financier Name Constitution</mat-label>
                        <input matInput
                               type="text"
                               formControlName="fName"
                               [readonly]="isView"
                               required />
                        <mat-hint>Please Enter Financier Name Constitution</mat-hint>
                      </mat-form-field>
                    </td>
                    <td rowspan="1"
                        colspan="1">
                      <mat-form-field dense>
                        <mat-icon dense
                                  color="primary"
                                  matPrefix>person_outline</mat-icon>
                        <mat-label>Local Registration Number</mat-label>
                        <input matInput
                               type="number"
                               formControlName="regNum"
                               [readonly]="isView"
                               required />
                        <mat-hint>Please Enter Local Registration Number</mat-hint>
                      </mat-form-field>
                    </td>
                  </tr>

                  <tr>
                    <td rowspan="1"
                        colspan="1">
                      <mat-form-field dense>
                        <mat-icon dense
                                  color="primary"
                                  matPrefix>person_outline</mat-icon>
                        <mat-label>Tax Identification No</mat-label>
                        <input matInput
                               type="number"
                               formControlName="taxIdNum"
                               [readonly]="isView"
                               required />
                        <mat-hint>Please Enter Tax Identification Number</mat-hint>
                      </mat-form-field>
                    </td>
                    <td rowspan="1"
                        colspan="1">
                      <mat-form-field dense>
                        <mat-label>Registration Date</mat-label>
                        <input matInput
                               formControlName="regDate"
                               [matDatepicker]="pickers"
                               readonly="true" />
                        <mat-datepicker-toggle matSuffix
                                               [for]="pickers"></mat-datepicker-toggle>
                        <mat-datepicker #pickers></mat-datepicker>
                      </mat-form-field>
                    </td>
                  </tr>

                  <tr>
                    <td rowspan="1"
                        colspan="1">
                      <mat-form-field dense>
                        <mat-icon dense
                                  color="primary"
                                  matPrefix>person_outline</mat-icon>
                        <mat-label>SCF Financing Experience Years</mat-label>
                        <input matInput
                               type="number"
                               formControlName="fExpYears"
                               required
                               [readonly]="isView" />
                        <mat-hint>Please Enter Financing Experience in Years</mat-hint>
                      </mat-form-field>
                    </td>
                    <td rowspan="1"
                        colspan="1">
                      <mat-form-field dense>
                        <mat-icon dense
                                  color="primary"
                                  matPrefix>person_outline</mat-icon>
                        <mat-label>Type of Activity</mat-label>
                        <input matInput
                               type="text"
                               formControlName="activity"
                               [readonly]="isView" />
                        <mat-hint>Please Enter Type of Activity</mat-hint>
                      </mat-form-field>
                    </td>
                  </tr>

                  <tr>
                    <td rowspan="1"
                        colspan="1">
                      <mat-form-field dense>
                        <mat-icon dense
                                  color="primary"
                                  matPrefix>person_outline</mat-icon>
                        <mat-label>Principal Bank Account</mat-label>
                        <input matInput
                               type="number"
                               formControlName="principalBankAccount"
                               [readonly]="isView" />
                        <mat-hint>Please Enter Principal Bank Account</mat-hint>
                      </mat-form-field>
                    </td>
                    <td rowspan="1"
                        colspan="1">
                      <mat-form-field dense>
                        <mat-icon dense
                                  color="primary"
                                  matPrefix>person_outline</mat-icon>
                        <mat-label>Principal Bank Branch</mat-label>
                        <input matInput
                               type="text"
                               formControlName="prncbankbranch"
                               [readonly]="isView" />
                        <mat-hint>Please Enter Principal Bank Branch</mat-hint>
                      </mat-form-field>
                    </td>
                  </tr>

                  <tr class="form-group"
                      data-always-visible="false">
                    <td class="T1"
                        rowspan="1"
                        colspan="1">
                      <div class="card-form-container">
                        <div>
                          <mat-form-field floatLabel="never"
                                          dense
                                          appearance="fill"
                                          class="example-full-width">
                            <mat-icon color="primary"
                                      dense
                                      matPrefix>person_outline</mat-icon>
                            <mat-label>Annual SCF Turnover</mat-label>
                            <input type="number"
                                   matInput
                                   formControlName="anlScfTrnOver"
                                   [readonly]="isView" />
                            <mat-hint>Please enter annual SCF turnover</mat-hint>
                          </mat-form-field>
                        </div>
                      </div>
                    </td>
                    <td class="T1"
                        rowspan="1"
                        colspan="1">
                      <div class="card-form-container">
                        <div>
                          <mat-form-field floatLabel="never"
                                          dense
                                          appearance="fill"
                                          class="example-full-width">
                            <mat-icon color="primary"
                                      dense
                                      matPrefix>person_outline</mat-icon>
                            <mat-label>Transaction Limit</mat-label>
                            <input type="number"
                                   matInput
                                   formControlName="transLimit"
                                   [readonly]="isView" />
                            <mat-hint>Please enter transaction limit</mat-hint>
                          </mat-form-field>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </mat-card-content>
            <mat-card-actions>
              <span class="fill-remaining-space"></span>

              <button type="button"
                      matStepperNext
                      mat-flat-button
                      color="primary">
                <mat-icon>arrow_forward</mat-icon>
                Next
              </button>
            </mat-card-actions>
          </mat-card>

        </mat-step>

        <mat-step>

          <ng-template matStepLabel>Financier Registered Head Quarters</ng-template>
          <mat-card>

            <mat-card-content>
              <!-- <mat-card-title>
              <h4 class="uxg-h4"></h4>
            </mat-card-title> -->

              <table style="width: 100%;">
                <tbody>

                  <tr class="form-group"
                      data-always-visible="false">
                    <td class="T1"
                        rowspan="1"
                        colspan="1">
                      <div class="card-form-container">
                        <div>
                          <mat-form-field floatLabel="never"
                                          dense
                                          appearance="fill"
                                          class="example-full-width">
                            <mat-icon color="primary"
                                      dense
                                      matPrefix>person_outline</mat-icon>
                            <mat-label>Address Line 1</mat-label>
                            <input type="text"
                                   matInput
                                   formControlName="headAddrLine1"
                                   [readonly]="isView" />
                            <mat-hint>Please enter address line 1</mat-hint>
                          </mat-form-field>
                        </div>
                      </div>
                    </td>

                    <td class="T1"
                    rowspan="1"
                    colspan="1">
                  <div class="card-form-container">
                    <div>
                      <mat-form-field floatLabel="never"
                                      dense
                                      appearance="fill"
                                      class="example-full-width">
                        <mat-icon color="primary"
                                  dense
                                  matPrefix>person_outline</mat-icon>
                        <mat-label>Email / Domain</mat-label>
                        <input type="email"
                               matInput
                               formControlName="heademail"
                               [readonly]="isView" />
                        <mat-hint>Please enter your email / domain</mat-hint>
                      </mat-form-field>
                    </div>
                  </div>
                </td>
                  </tr>
                  <tr class="form-group"
                      data-always-visible="false">
                    <td class="T1"
                        rowspan="1"
                        colspan="1">
                      <div class="card-form-container">
                        <div>
                          <mat-form-field floatLabel="never"
                                          dense
                                          appearance="fill"
                                          class="example-full-width">
                            <mat-icon color="primary"
                                      dense
                                      matPrefix>person_outline</mat-icon>
                            <mat-label>Address Line 2</mat-label>
                            <input type="text"
                                   matInput
                                   formControlName="headAddrLine2"
                                   [readonly]="isView" />
                            <mat-hint>Please enter address line 2</mat-hint>
                          </mat-form-field>
                        </div>
                      </div>
                    </td>
                    <td class="T1"
                        rowspan="1"
                        colspan="1">
                      <div class="card-form-container">
                        <div>
                          <mat-form-field floatLabel="never"
                                          dense
                                          appearance="fill"
                                          class="example-full-width">
                            <mat-icon color="primary"
                                      dense
                                      matPrefix>person_outline</mat-icon>
                            <mat-label>Telephone No</mat-label>
                            <input type="number"
                                   matInput
                                   formControlName="headtelephoneNumber"
                                   [readonly]="isView" />
                            <mat-hint>Please enter your telephone number</mat-hint>
                          </mat-form-field>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr class="form-group"
                      data-always-visible="false">
                    <td class="T1"
                        rowspan="1"
                        colspan="1">
                      <div class="card-form-container">
                        <div>
                          <mat-form-field floatLabel="never"
                                          dense
                                          appearance="fill"
                                          class="example-full-width">
                            <mat-icon color="primary"
                                      dense
                                      matPrefix>person_outline</mat-icon>
                            <mat-label>Address Line 3</mat-label>
                            <input type="text"
                                   matInput
                                   formControlName="headAddrLine3"
                                   [readonly]="isView" />
                            <mat-hint>Please enter address line 3</mat-hint>
                          </mat-form-field>
                        </div>
                      </div>
                    </td>
                    <td class="T1"
                        rowspan="1"
                        colspan="1">
                      <div class="card-form-container">
                        <div>
                          <mat-form-field floatLabel="never"
                                          dense
                                          appearance="fill"
                                          class="example-full-width">
                            <mat-icon color="primary"
                                      dense
                                      matPrefix>person_outline</mat-icon>
                            <mat-label>Fax No</mat-label>
                            <input type="number"
                                   matInput
                                   formControlName="headfaxNo"
                                   [readonly]="isView" />
                            <mat-hint>Please enter your fax number</mat-hint>
                          </mat-form-field>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr class="form-group"
                      data-always-visible="false">
                    <td class="T1"
                        rowspan="1"
                        colspan="1">
                      <div class="card-form-container">
                        <div>
                          <mat-form-field floatLabel="never"
                                          dense
                                          appearance="fill"
                                          class="example-full-width">
                            <mat-icon color="primary"
                                      dense
                                      matPrefix>person_outline</mat-icon>
                            <mat-label>Place / City</mat-label>
                            <input type="text"
                                   matInput
                                   formControlName="headcity"
                                   [readonly]="isView" />
                            <mat-hint>Please enter your place / city</mat-hint>
                          </mat-form-field>
                        </div>
                      </div>
                    </td>
                  
                    <td class="T1"
                    rowspan="1"
                    colspan="1">
                  <div class="card-form-container">
                    <div class="multiselect-dropdown-dsgn">                   
                      <angular2-multiselect [data]="cities"
                                            formControlName="headcountry"
                                            [settings]="dropdownSettings"></angular2-multiselect>                         
                    </div>
                  </div>
                </td>


                  </tr>
                  <tr class="form-group"
                      data-always-visible="false">
                    <td class="T1"
                        rowspan="1"
                        colspan="1">
                      <div class="card-form-container">
                        <div>
                          <mat-form-field floatLabel="never"
                                          dense
                                          appearance="fill"
                                          class="example-full-width">
                            <mat-icon color="primary"
                                      dense
                                      matPrefix>person_outline</mat-icon>
                            <mat-label>State / Region</mat-label>
                            <input type="text"
                                   matInput
                                   formControlName="headstate"
                                   [readonly]="isView" />
                            <mat-hint>Please enter your state / region</mat-hint>
                          </mat-form-field>
                        </div>
                      </div>
                    </td>
                    <td class="T1"
                        rowspan="1"
                        colspan="1">
                      <div class="card-form-container">
                        <div>
                          <mat-form-field floatLabel="never"
                                          dense
                                          appearance="fill"
                                          class="example-full-width">
                            <mat-icon color="primary"
                                      dense
                                      matPrefix>person_outline</mat-icon>
                            <mat-label>SWIFT BIC</mat-label>
                            <input type="text"
                                   matInput
                                   formControlName="headswiftBic"
                                   [readonly]="isView" />
                            <mat-hint>Please enter SWIFT BIC</mat-hint>
                          </mat-form-field>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <mat-card-actions>
                <span class="fill-remaining-space"></span>
                <button type="button"
                        mat-stroked-button
                        color="primary"
                        matStepperPrevious>
                  <mat-icon>arrow_back</mat-icon>
                  Back to Financiar Onboarding
                </button>
                <button mat-flat-button
                        color="primary"
                        type="button"
                        matStepperNext>
                  <mat-icon>arrow_forward</mat-icon>
                  Next
                </button>
              </mat-card-actions>
            </mat-card-content>


          </mat-card>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Financier's TradeComm Service Branch</ng-template>
          <mat-card>
            <!-- <mat-card-title>
          <h4 class="uxg-h4"></h4>
        </mat-card-title> -->

            <table style="width: 100%;">
              <tbody>


                <tr class="form-group"
                    data-always-visible="false">
                  <td class="T1"
                      rowspan="1"
                      colspan="1">
                    <div class="card-form-container">
                      <div>
                        <mat-form-field floatLabel="never"
                                        dense
                                        appearance="fill"
                                        class="example-full-width">
                          <mat-icon color="primary"
                                    dense
                                    matPrefix>person_outline</mat-icon>
                          <mat-label>Address Line 1</mat-label>
                          <input type="text"
                                 matInput
                                 formControlName="servAddrLine1"
                                 [readonly]="isView" />
                          <mat-hint>Please enter address line 1</mat-hint>
                        </mat-form-field>
                      </div>
                    </div>
                  </td>

                  <td class="T1"
                  rowspan="1"
                  colspan="1">
                <div class="card-form-container">
                  <div>
                    <mat-form-field floatLabel="never"
                                    dense
                                    appearance="fill"
                                    class="example-full-width">
                      <mat-icon color="primary"
                                dense
                                matPrefix>person_outline</mat-icon>
                      <mat-label>Email / Domain</mat-label>
                      <input type="email"
                             matInput
                             formControlName="servemail"
                             [readonly]="isView" />
                      <mat-hint>Please enter your email / domain</mat-hint>
                    </mat-form-field>
                  </div>
                </div>
              </td>
                 
                </tr>
                <tr class="form-group"
                    data-always-visible="false">
                  <td class="T1"
                      rowspan="1"
                      colspan="1">
                    <div class="card-form-container">
                      <div>
                        <mat-form-field floatLabel="never"
                                        dense
                                        appearance="fill"
                                        class="example-full-width">
                          <mat-icon color="primary"
                                    dense
                                    matPrefix>person_outline</mat-icon>
                          <mat-label>Address Line 2</mat-label>
                          <input type="text"
                                 matInput
                                 formControlName="servAddrLine2"
                                 [readonly]="isView" />
                          <mat-hint>Please enter address line 2</mat-hint>
                        </mat-form-field>
                      </div>
                    </div>
                  </td>
                  <td class="T1"
                      rowspan="1"
                      colspan="1">
                    <div class="card-form-container">
                      <div>
                        <mat-form-field floatLabel="never"
                                        dense
                                        appearance="fill"
                                        class="example-full-width">
                          <mat-icon color="primary"
                                    dense
                                    matPrefix>person_outline</mat-icon>
                          <mat-label>Telephone No</mat-label>
                          <input type="number"
                                 matInput
                                 formControlName="servtelephoneNumber"
                                 [readonly]="isView" />
                          <mat-hint>Please enter your telephone number</mat-hint>
                        </mat-form-field>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class="form-group"
                    data-always-visible="false">
                  <td class="T1"
                      rowspan="1"
                      colspan="1">
                    <div class="card-form-container">
                      <div>
                        <mat-form-field floatLabel="never"
                                        dense
                                        appearance="fill"
                                        class="example-full-width">
                          <mat-icon color="primary"
                                    dense
                                    matPrefix>person_outline</mat-icon>
                          <mat-label>Address Line 3</mat-label>
                          <input type="text"
                                 matInput
                                 formControlName="servAddrLine3"
                                 [readonly]="isView" />
                          <mat-hint>Please enter address line 3</mat-hint>
                        </mat-form-field>
                      </div>
                    </div>
                  </td>
                  <td class="T1"
                      rowspan="1"
                      colspan="1">
                    <div class="card-form-container">
                      <div>
                        <mat-form-field floatLabel="never"
                                        dense
                                        appearance="fill"
                                        class="example-full-width">
                          <mat-icon color="primary"
                                    dense
                                    matPrefix>person_outline</mat-icon>
                          <mat-label>Fax No</mat-label>
                          <input type="number"
                                 matInput
                                 formControlName="servfaxNo"
                                 [readonly]="isView" />
                          <mat-hint>Please enter your fax number</mat-hint>
                        </mat-form-field>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class="form-group"
                    data-always-visible="false">
                  <td class="T1"
                      rowspan="1"
                      colspan="1">
                    <div class="card-form-container">
                      <div>
                        <mat-form-field floatLabel="never"
                                        dense
                                        appearance="fill"
                                        class="example-full-width">
                          <mat-icon color="primary"
                                    dense
                                    matPrefix>person_outline</mat-icon>
                          <mat-label>Place / City</mat-label>
                          <input type="text"
                                 matInput
                                 formControlName="servcity"
                                 [readonly]="isView" />
                          <mat-hint>Please enter your place / city</mat-hint>
                        </mat-form-field>
                      </div>
                    </div>
                  </td>                 

                  <td class="T1"
                  rowspan="1"
                  colspan="1">
                <div class="card-form-container">
                  <div class="multiselect-dropdown-dsgn">

                    <angular2-multiselect [data]="cities"
                                          formControlName="servCountry"
                                          [settings]="dropdownSettings"></angular2-multiselect>
                  </div>
                </div>
              </td>
                </tr>
                <tr class="form-group"
                    data-always-visible="false">
                  <td class="T1"
                      rowspan="1"
                      colspan="1">
                    <div class="card-form-container">
                      <div>
                        <mat-form-field floatLabel="never"
                                        dense
                                        appearance="fill"
                                        class="example-full-width">
                          <mat-icon color="primary"
                                    dense
                                    matPrefix>person_outline</mat-icon>
                          <mat-label>Local Payment Code</mat-label>
                          <input type="text"
                                 matInput
                                 formControlName="paymentCode"
                                 [readonly]="isView" />
                          <mat-hint>Please enter local payment code</mat-hint>
                        </mat-form-field>
                      </div>
                    </div>
                  </td>
                  <td class="T1"
                      rowspan="1"
                      colspan="1">
                    <div class="card-form-container">
                      <div>
                        <mat-form-field floatLabel="never"
                                        dense
                                        appearance="fill"
                                        class="example-full-width">
                          <mat-icon color="primary"
                                    dense
                                    matPrefix>person_outline</mat-icon>
                          <mat-label>SWIFT BIC</mat-label>
                          <input type="text"
                                 matInput
                                 formControlName="servswiftBic"
                                 [readonly]="isView" />
                          <mat-hint>Please enter SWIFT BIC</mat-hint>
                        </mat-form-field>
                      </div>
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>


            <mat-card-actions>
              <span class="fill-remaining-space"></span>
              <button mat-stroked-button
                      color="primary"
                      type="button"
                      matStepperPrevious>
                <mat-icon>arrow_back</mat-icon>
                Back to Financiar Registered Head Quarters
              </button>
              <button mat-flat-button
                      type="button"
                      color="primary"
                      matStepperNext>
                <mat-icon>arrow_forward</mat-icon>
                Next
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-step>


        <mat-step>
          <ng-template matStepLabel>More Details</ng-template>
          <mat-card>

            <span class="uxg-h6"
                  id=grid>Director / Partner Details</span>
            <table mat-table
                   [dataSource]="dataSource1"
                   style="width: 90%;"
                   id=right
                   formArrayName="partnerDetails">
              <ng-container matColumnDef="Name">
                <th mat-header-cell
                    *matHeaderCellDef
                    scope="column">NAME</th>
                <td mat-cell
                    *matCellDef="let element;let row; let index = index"
                    [formGroupName]="index">
                  <input matInput
                         type="text"
                         formControlName="name"
                         placeholder="Name"
                         [readonly]="isView">
                </td>
              </ng-container>
              <ng-container matColumnDef="Position">
                <th mat-header-cell
                    *matHeaderCellDef
                    scope="column">POSITION</th>
                <td mat-cell
                    *matCellDef="let element;let row; let index = index"
                    [formGroupName]="index">
                  <input matInput
                         type="text"
                         formControlName="position"
                         placeholder="Position"
                         [readonly]="isView">
                </td>
              </ng-container>
              <ng-container matColumnDef="Address">
                <th mat-header-cell
                    *matHeaderCellDef
                    scope="column">Address</th>
                <td mat-cell
                    *matCellDef="let element;let row; let index = index"
                    [formGroupName]="index">
                  <input matInput
                         type="text"
                         formControlName="address"
                         placeholder="Address"
                         [readonly]="isView">
                </td>
              </ng-container>
              <ng-container matColumnDef="TelephoneNo">
                <th mat-header-cell
                    *matHeaderCellDef
                    scope="column">TELEPHONE NO</th>
                <td mat-cell
                    *matCellDef="let element;let row; let index = index"
                    [formGroupName]="index">
                  <input matInput
                         type="number"
                         formControlName="phoneNo"
                         placeholder="Telephone No"
                         [readonly]="isView">
                </td>
              </ng-container>
              <ng-container matColumnDef="Email">
                <th mat-header-cell
                    *matHeaderCellDef
                    scope="column">EMAIL<span class="add-good-plusbtn"
                        mat-flat-button
                        color="primary"
                        (click)="addRow('partner')">
                    +
                  </span></th>
                <td mat-cell
                    *matCellDef="let element;let row; let index = index"
                    [formGroupName]="index">
                  <input matInput
                         type="email"
                         formControlName="email"
                         placeholder="Email"
                         [readonly]="isView">
                  <span class="minus-btn"
                        *ngIf="this.dataSource1.data.length > 1 && index >= 1"
                        mat-flat-button
                        color="primary"
                        (click)="removeRow('partner',index)">
                    <mat-icon (click)="removeRow('partner',index)"
                              style="cursor: pointer;">cancel</mat-icon>
                  </span>
                </td>
              </ng-container>
              <tr mat-header-row
                  *matHeaderRowDef="displayedColumns"
                  style="background-color:#B4A6EA"></tr>
              <tr mat-row
                  *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <span class="uxg-h6"
                  id=grid>Authorised Signatories</span>
            <table mat-table
                   [dataSource]="dataSource2"
                   style="width: 90%;"
                   id=right
                   formArrayName="authSign">
              <ng-container matColumnDef="Name">
                <th mat-header-cell
                    *matHeaderCellDef
                    scope="column">NAME</th>
                <td mat-cell
                    *matCellDef="let element;let row; let index = index"
                    [formGroupName]="index">
                  <input matInput
                         type="text"
                         formControlName="name"
                         placeholder="Name"
                         [readonly]="isView">
                </td>
              </ng-container>
              <ng-container matColumnDef="Position">
                <th mat-header-cell
                    *matHeaderCellDef
                    scope="column">POSITION</th>
                <td mat-cell
                    *matCellDef="let element;let row; let index = index"
                    [formGroupName]="index">
                  <input matInput
                         type="text"
                         formControlName="position"
                         placeholder="Position"
                         [readonly]="isView">
                </td>
              </ng-container>
              <ng-container matColumnDef="Address">
                <th mat-header-cell
                    *matHeaderCellDef
                    scope="column">Address</th>
                <td mat-cell
                    *matCellDef="let element;let row; let index = index"
                    [formGroupName]="index">
                  <input matInput
                         type="text"
                         formControlName="address"
                         placeholder="Address"
                         [readonly]="isView">
                </td>
              </ng-container>
              <ng-container matColumnDef="TelephoneNo">
                <th mat-header-cell
                    *matHeaderCellDef
                    scope="column">TELEPHONE NO</th>
                <td mat-cell
                    *matCellDef="let element;let row; let index = index"
                    [formGroupName]="index">
                  <input matInput
                         type="number"
                         formControlName="phoneNo"
                         placeholder="Telephone No"
                         [readonly]="isView">
                </td>
              </ng-container>
              <ng-container matColumnDef="Email">
                <th mat-header-cell
                    *matHeaderCellDef
                    scope="column">EMAIL<span class="add-good-plusbtn"
                        mat-flat-button
                        color="primary"
                        (click)="addRow('auth')">
                    +
                  </span></th>
                <td mat-cell
                    *matCellDef="let element;let row; let index = index"
                    [formGroupName]="index">
                  <input matInput
                         type="email"
                         formControlName="email"
                         placeholder="Email"
                         [readonly]="isView">

                  <span class="minus-btn"
                        *ngIf="this.dataSource2.data.length > 1 && index >= 1"
                        mat-flat-button
                        color="primary"
                        (click)="removeRow('auth',index)">
                    <mat-icon (click)="removeRow('auth',index)"
                              style="cursor: pointer;">cancel</mat-icon>
                  </span>
                </td>
              </ng-container>
              <tr mat-header-row
                  *matHeaderRowDef="displayedColumns"
                  style="background-color:#B4A6EA"></tr>
              <tr mat-row
                  *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <span class="uxg-h6"
                  id=grid>Entity Administrator </span>
            <table mat-table
                   [dataSource]="dataSource3"
                   style="width: 90%;"
                   id=right
                   formArrayName="entityAdmin">
              <ng-container matColumnDef="Name">
                <th mat-header-cell
                    *matHeaderCellDef
                    scope="column">NAME</th>
                <td mat-cell
                    *matCellDef="let element;let row; let index = index"
                    [formGroupName]="index">
                  <input matInput
                         type="text"
                         formControlName="name"
                         placeholder="Name"
                         [readonly]="isView">
                </td>
              </ng-container>
              <ng-container matColumnDef="Position">
                <th mat-header-cell
                    *matHeaderCellDef
                    scope="column">POSITION</th>
                <td mat-cell
                    *matCellDef="let element;let row; let index = index"
                    [formGroupName]="index">
                  <input matInput
                         type="text"
                         formControlName="position"
                         placeholder="Position"
                         [readonly]="isView">
                </td>
              </ng-container>
              <ng-container matColumnDef="Address">
                <th mat-header-cell
                    *matHeaderCellDef
                    scope="column">Address</th>
                <td mat-cell
                    *matCellDef="let element;let row; let index = index"
                    [formGroupName]="index">
                  <input matInput
                         type="text"
                         formControlName="address"
                         placeholder="Address"
                         [readonly]="isView">
                </td>
              </ng-container>
              <ng-container matColumnDef="TelephoneNo">
                <th mat-header-cell
                    *matHeaderCellDef
                    scope="column">TELEPHONE NO</th>
                <td mat-cell
                    *matCellDef="let element;let row; let index = index"
                    [formGroupName]="index">
                  <input matInput
                         type="number"
                         formControlName="phoneNo"
                         placeholder="Telephone No"
                         [readonly]="isView">
                </td>
              </ng-container>
              <ng-container matColumnDef="Email">
                <th mat-header-cell
                    *matHeaderCellDef
                    scope="column">EMAIL<span class="add-good-plusbtn"
                        mat-flat-button
                        color="primary"
                        (click)="addRow('entity')">
                    +
                  </span></th>
                <td mat-cell
                    *matCellDef="let element;let row; let index = index"
                    [formGroupName]="index">
                  <input matInput
                         type="email"
                         formControlName="email"
                         placeholder="Email"
                         [readonly]="isView">
                  <span class="minus-btn"
                        *ngIf="this.dataSource3.data.length > 1 && index >= 1"
                        mat-flat-button
                        color="primary"
                        (click)="removeRow('entity',index)">
                    <mat-icon (click)="removeRow('entity',index)"
                              style="cursor: pointer;">cancel</mat-icon>
                  </span>
                </td>
              </ng-container>
              <tr mat-header-row
                  *matHeaderRowDef="displayedColumns"
                  style="background-color:#B4A6EA"></tr>
              <tr mat-row
                  *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-card-actions>
              <span class="fill-remaining-space"></span>
              <button mat-stroked-button
                      color="primary"
                      type="button"
                      matStepperPrevious>
                <mat-icon>arrow_back</mat-icon>
                Back to Financiar TradeComm Service Branch
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-step>

      </mat-horizontal-stepper>
      <div class="submit">
        <button mat-flat-button
                color="primary"
                [disabled]="!check">
          <!-- [disabled]="!check" -->
          <mat-icon>arrow_right_alt</mat-icon>
          Submit
        </button>
        <button *ngIf="isView"
                type="button"
                (click)="editPath()"
                mat-flat-button
                color="primary">
          <mat-icon>arrow_right_alt</mat-icon>
          Edit
        </button>
      </div>
    </form>

  </header>
</div>