<div class="card-form-container">
    <div class="dynamic-radio-btn file-input" #tooltip="matTooltip"
    matTooltip="{{questionDatas.description}}" [matTooltipPosition]="'below'">
      <h6>{{questionDatas && questionDatas.label}}</h6>
        <!-- .&nbsp;<span style="color: red;">(Upto {{questionDatas.filesMax}} files)</span></h6> -->
        <!-- <mat-file-upload></mat-file-upload> -->
        <div class="file-upload">
        <div class="upload-btn-wrapper">
          <!-- [disabled]="questionDatas.filesMax == fileNames.length" -->
          <button class="filebtn" >Upload a file</button>
        <input type="file" class="dynamic-file-upload form" (change)="onChange($event)"
        accept=".xlsx,.xls,.doc, .docx,.ppt, .pptx,.txt,.pdf,.csv" />
        </div>
        <div class="file-label">
          <label *ngFor="let file of fileNames;let i=index" >{{file.name}}<span (click)="onFileRemove(i)"><i class="fa fa-times-circle" aria-hidden="true" style="margin-left: 3px;height: 10px;font-size: 16px;"></i></span></label>
        </div>
        </div>
    </div>
</div>