
<div class="app-content {{isOpen}} ">
<header>
    <div class="mat-elevation-z8">
    <div class="table-responsive">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="financierId">
          <th mat-header-cell *matHeaderCellDef>
            {{'FinancierOnboardingComponent.FinancierId' | translate}} </th>
          <td mat-cell *matCellDef="let element"> FIN {{element.namedPKKey}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="financierName">
          <th mat-header-cell *matHeaderCellDef > {{'FinancierOnboardingComponent.FinancierNameConstitution' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.financierNameConstitution}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="regNumber">
          <th mat-header-cell *matHeaderCellDef > {{'FinancierOnboardingComponent.LocalRegNo' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.locregno}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> {{'Action' | translate}} </th>
          <td mat-cell *matCellDef="let element"> 
            <a href="javascript:void(0)" (click)="editFinancier(element.profileID,'edit')">
                <mat-icon>edit</mat-icon>
              </a>&nbsp;
            <a href="javascript:void(0)" (click)="openModal($event,template,element)">
                <mat-icon>visibility</mat-icon>
            </a>
             </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns1" style="background-color:#B4A6EA"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
      </table> 
      </div>
      <mat-paginator [hidePageSize]="true" showFirstLastButtons></mat-paginator>
    </div>
</header>
</div>



<ng-template #template>
    <div class="modal-header">
       <h4 class="modal-title pull-left"> {{'FinancierOnboardingComponent.FinancierView' | translate}}:</h4>
       <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">×</span>
       </button>
    </div>
    <div class="modal-body">          
       <div class="container-fluid">
          <form (ngSubmit)="onSubmit()" [formGroup]="financierForm">
              <mat-horizontal-stepper linear="true" selectedIndex="0" #stepper>
                <mat-step completed="true">
                  <ng-template matStepLabel>{{'FinancierOnboardingComponent.FinancierOnBoarding' | translate}}</ng-template>
                  <mat-card>
                    <mat-card-content>
                      <table>
                        <tbody>
                          <tr>
                            <td>
                              <mat-form-field dense>
                                <mat-label>{{'FinancierOnboardingComponent.FinancierId' | translate}}</mat-label>
                                <input matInput type="text" value="{{'FIN' + financierId}}"  readonly/>
                              </mat-form-field>
                            </td>
                            <td rowspan="1" colspan="1">
                                <mat-form-field dense>
                                  <mat-icon dense color="primary" matPrefix>person_outline</mat-icon>
                                  <mat-label> {{'FinancierOnboardingComponent.FinancierNameConstitution' | translate}}</mat-label>
                                  <input matInput type="text" formControlName="fName" [readonly]="isView"  required />
                                </mat-form-field>
                              </td>
                              <td rowspan="1" colspan="1">
                                  <mat-form-field dense>
                                    <mat-icon dense color="primary" matPrefix>person_outline</mat-icon>
                                    <mat-label>{{'FinancierOnboardingComponent.LocalRegNo' | translate}}</mat-label>
                                    <input matInput type="number" formControlName="regNum" [readonly]="isView" required/>
                                  </mat-form-field>
                                </td>
                          </tr>
                          <tr>
                            <td rowspan="1" colspan="1">
                              <mat-form-field dense>
                                <mat-icon dense color="primary" matPrefix>person_outline</mat-icon>
                                <mat-label>{{'FinancierOnboardingComponent.TaxId' | translate}}</mat-label>
                                <input matInput type="text" formControlName="taxIdNum" [readonly]="isView" required />
                              </mat-form-field>
                            </td>
                            <td rowspan="1" colspan="1">
                              <mat-form-field dense>
                                <mat-label>{{'FinancierOnboardingComponent.RegDate' | translate}}</mat-label>
                                <input matInput formControlName="regDate"  [matDatepicker]="pickers" [readonly]="isView"  />
                                 <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
                                <mat-datepicker #pickers></mat-datepicker> 
                            </mat-form-field>
                            </td>
                            <td rowspan="1" colspan="1">
                                <mat-form-field dense>
                                  <mat-icon dense color="primary" matPrefix>person_outline</mat-icon>
                                  <mat-label>{{'FinancierOnboardingComponent.SCFYears' | translate}}</mat-label>
                                  <input matInput type="number" formControlName="fExpYears" required [readonly]="isView" />
                                </mat-form-field>
                              </td>
                          </tr>
                          <tr>
                            <td rowspan="1" colspan="1">
                              <mat-form-field dense>
                                <mat-icon dense color="primary" matPrefix>person_outline</mat-icon>
                                <mat-label>{{'FinancierOnboardingComponent.TypeOfActivity' | translate}}</mat-label>
                                <input matInput type="text" formControlName="activity" [readonly]="isView"  />
                              </mat-form-field>
                            </td>
                      
                            <td rowspan="1" colspan="1">
                              <mat-form-field dense>
                                <mat-icon dense color="primary" matPrefix>person_outline</mat-icon>
                                <mat-label>{{'FinancierOnboardingComponent.PrincipalAc' | translate}}</mat-label>
                                <input matInput type="text" formControlName="principalBankAccount" [readonly]="isView"/>
                              </mat-form-field>
                            </td>
                            <td rowspan="1" colspan="1">
                              <mat-form-field dense>
                                <mat-icon dense color="primary" matPrefix>person_outline</mat-icon>
                                <mat-label>{{'FinancierOnboardingComponent.PrincipalBankBrn' | translate}}</mat-label>
                                <input matInput type="text" formControlName="prncbankbranch" [readonly]="isView"/>
                              </mat-form-field>
                            </td>
                          </tr>
            
                          <tr class="form-group" data-always-visible="false">
                            <td class="T1" rowspan="1" colspan="1">
                              <div class="card-form-container">
                                <div>
                                  <mat-form-field floatLabel="never" dense appearance="fill" class="example-full-width">
                                    <mat-icon color="primary" dense matPrefix>person_outline</mat-icon>
                                    <mat-label>{{'FinancierOnboardingComponent.AnnualSCF' | translate}}</mat-label>
                                    <input type="text" matInput formControlName="anlScfTrnOver" [readonly]="isView"/>
                                  </mat-form-field>
                                </div>
                              </div>
                            </td>
                            <td class="T1" rowspan="1" colspan="1">
                              <div class="card-form-container">
                                <div>
                                  <mat-form-field floatLabel="never" dense appearance="fill" class="example-full-width">
                                    <mat-icon color="primary" dense matPrefix>person_outline</mat-icon>
                                    <mat-label>{{'FinancierOnboardingComponent.TransactionLimit' | translate}}</mat-label>
                                    <input type="text" matInput  formControlName="transLimit" [readonly]="isView" />
                                  </mat-form-field>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </mat-card-content>
                    <mat-card-actions>
                      <span class="fill-remaining-space"></span>
            
                      <button type="button" matStepperNext mat-flat-button color="primary">
                        <mat-icon>arrow_forward</mat-icon>
                        {{'FinancierOnboardingComponent.Next' | translate}}
                      </button>
                    </mat-card-actions>
                  </mat-card>
            
                </mat-step>
            
                <mat-step completed="true">
            
                  <ng-template matStepLabel> {{'FinancierOnboardingComponent.FinancierRegistered' | translate}}</ng-template>
                  <mat-card>
            
                      <mat-card-content>
                        <!-- <mat-card-title>
                          <h4 class="uxg-h4"></h4>
                        </mat-card-title> -->
            
                        <table style="width: 100%;">
                          <tbody>
            
                            <tr class="form-group" data-always-visible="false">
                              <td class="T1" rowspan="1" colspan="1">
                                <div class="card-form-container">
                                  <div>
                                    <mat-form-field floatLabel="never" dense appearance="fill" class="example-full-width">
                                      <mat-icon color="primary" dense matPrefix>person_outline</mat-icon>
                                      <mat-label>{{'FinancierOnboardingComponent.Addr1' | translate}}</mat-label>
                                      <input type="text" matInput  formControlName="headAddrLine1" [readonly]="isView"/>
                                    </mat-form-field>
                                  </div>
                                </div>
                              </td>
                              <td  class="T1" rowspan="1" colspan="1">
                                <div class="card-form-container">
                                  <!-- <div class="multiselect-dropdown-dsgn"> -->
                                    <!-- <mat-form-field floatLabel="never" dense appearance="fill" class="example-full-width">
                                      <mat-icon color="primary" dense matPrefix>person_outline</mat-icon>
                                      <mat-label>Country</mat-label>
                                      <input type="text" matInput value="" />
                                      <mat-hint>Please enter your country</mat-hint>
                                    </mat-form-field> -->
            
                                    <!-- <ng-multiselect-dropdown name="city" [placeholder]="'Select City'" 
                                    [data]="cities" [settings]="dropdownSettings"
                                    (onDropDownClose)="onDropDownClose()" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                  </ng-multiselect-dropdown> -->
                                  
                                  <!-- <ng-multiselect-dropdown
                                  formControlName="headcountry"
                                  [settings]="dropdownSettings"
                                  [data]="cities"
                                  (onSelect)="onItemSelect($event)"
                              >
                              </ng-multiselect-dropdown> -->
                              <!-- <angular2-multiselect [data]="cities" formControlName="headcountry"  [settings]="dropdownSettings" ></angular2-multiselect> -->
                              <!-- <mat-form-field appearance="fill">
                                <mat-label>Country</mat-label>
                                <mat-select matInput formControlName="headcountry" >
                                  <mat-option *ngFor="let city of cities" > {{city.itemName}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field> -->
                                  <!-- </div> -->
                                  <mat-form-field floatLabel="never" dense appearance="fill" class="example-full-width">
                                      <mat-label>{{'FinancierOnboardingComponent.Country' | translate}}</mat-label>
                                      <input type="text" matInput formControlName="headcountry" [readonly]="isView" />
                                    </mat-form-field>
                                </div>
                              </td>
                              <td class="T1" rowspan="1" colspan="1">
                                  <div class="card-form-container">
                                    <div>
                                      <mat-form-field floatLabel="never" dense appearance="fill" class="example-full-width">
                                        <mat-icon color="primary" dense matPrefix>person_outline</mat-icon>
                                        <mat-label>{{'FinancierOnboardingComponent.Addr2' | translate}}</mat-label>
                                        <input type="text" matInput formControlName="headAddrLine2" [readonly]="isView" />
                                      </mat-form-field>
                                    </div>
                                  </div>
                                </td>
                            </tr>
                            <tr class="form-group" data-always-visible="false">
                              <td class="T1" rowspan="1" colspan="1">
                                <div class="card-form-container">
                                  <div>
                                    <mat-form-field floatLabel="never" dense appearance="fill" class="example-full-width">
                                      <mat-icon color="primary" dense matPrefix>person_outline</mat-icon>
                                      <mat-label>{{'FinancierOnboardingComponent.TelNo' | translate}}</mat-label>
                                      <input type="text" matInput formControlName="headtelephoneNumber" [readonly]="isView" />
                                    </mat-form-field>
                                  </div>
                                </div>
                              </td>
                           
                              <td class="T1" rowspan="1" colspan="1">
                                <div class="card-form-container">
                                  <div>
                                    <mat-form-field floatLabel="never" dense appearance="fill" class="example-full-width">
                                      <mat-icon color="primary" dense matPrefix>person_outline</mat-icon>
                                      <mat-label>{{'FinancierOnboardingComponent.Addr3' | translate}}</mat-label>
                                      <input type="text" matInput formControlName="headAddrLine3" [readonly]="isView" />
                                    </mat-form-field>
                                  </div>
                                </div>
                              </td>
                              <td class="T1" rowspan="1" colspan="1">
                                <div class="card-form-container">
                                  <div>
                                    <mat-form-field floatLabel="never" dense appearance="fill" class="example-full-width">
                                      <mat-icon color="primary" dense matPrefix>person_outline</mat-icon>
                                      <mat-label>{{'FinancierOnboardingComponent.FaxNo' | translate}}</mat-label>
                                      <input type="text" matInput formControlName="headfaxNo" [readonly]="isView"/>
                                    </mat-form-field>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr class="form-group" data-always-visible="false">
                              <td class="T1" rowspan="1" colspan="1">
                                <div class="card-form-container">
                                  <div>
                                    <mat-form-field floatLabel="never" dense appearance="fill" class="example-full-width">
                                      <mat-icon color="primary" dense matPrefix>person_outline</mat-icon>
                                      <mat-label>{{'FinancierOnboardingComponent.City' | translate}}</mat-label>
                                      <input type="text" matInput formControlName="headcity" [readonly]="isView" />
                                    </mat-form-field>
                                  </div>
                                </div>
                              </td>
                              <td class="T1" rowspan="1" colspan="1">
                                <div class="card-form-container">
                                  <div>
                                    <mat-form-field floatLabel="never" dense appearance="fill" class="example-full-width">
                                      <mat-icon color="primary" dense matPrefix>person_outline</mat-icon>
                                      <mat-label>{{'FinancierOnboardingComponent.EnterEmailDomain' | translate}}</mat-label>
                                      <input type="text" matInput formControlName="heademail" [readonly]="isView"/>
                                    </mat-form-field>
                                  </div>
                                </div>
                              </td>
                              <td class="T1" rowspan="1" colspan="1">
                                  <div class="card-form-container">
                                    <div>
                                      <mat-form-field floatLabel="never" dense appearance="fill" class="example-full-width">
                                        <mat-icon color="primary" dense matPrefix>person_outline</mat-icon>
                                        <mat-label>{{'FinancierOnboardingComponent.State' | translate}}</mat-label>
                                        <input type="text" matInput formControlName="headstate"  [readonly]="isView"/>
                                      </mat-form-field>
                                    </div>
                                  </div>
                                </td>
                            </tr>
                            <tr class="form-group" data-always-visible="false">
                             
                              <td class="T1" rowspan="1" colspan="1">
                                <div class="card-form-container">
                                  <div>
                                    <mat-form-field floatLabel="never" dense appearance="fill" class="example-full-width">
                                      <mat-icon color="primary" dense matPrefix>person_outline</mat-icon>
                                      <mat-label>{{'FinancierOnboardingComponent.SWIFT_BIC' | translate}}</mat-label>
                                      <input type="text" matInput formControlName="headswiftBic" [readonly]="isView"/>
                                    </mat-form-field>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <mat-card-actions>
                          <span class="fill-remaining-space"></span>
                          <button type="button" mat-stroked-button color="primary" matStepperPrevious>
                            <mat-icon>arrow_back</mat-icon>
                            {{'FinancierOnboardingComponent.BackToFinancier' | translate}}
                          </button>
                          <button mat-flat-button color="primary" type="button" matStepperNext>
                            <mat-icon>arrow_forward</mat-icon>
                            {{'FinancierOnboardingComponent.Next' | translate}}
                          </button>
                        </mat-card-actions>
                      </mat-card-content>
            
            
                  </mat-card>
                </mat-step>
            
                <mat-step completed="true">
                  <ng-template matStepLabel>{{'FinancierOnboardingComponent.FinancierTradecommSer' | translate}}</ng-template>
                  <mat-card>
                    <!-- <mat-card-title>
                      <h4 class="uxg-h4"></h4>
                    </mat-card-title> -->
            
                    <table style="width: 100%;">
                      <tbody>
            
            
                        <tr class="form-group" data-always-visible="false">
                          <td class="T1" rowspan="1" colspan="1">
                            <div class="card-form-container">
                              <div>
                                <mat-form-field floatLabel="never" dense appearance="fill" class="example-full-width">
                                  <mat-icon color="primary" dense matPrefix>person_outline</mat-icon>
                                  <mat-label>{{'FinancierOnboardingComponent.Addr1' | translate}}</mat-label>
                                  <input type="text" matInput formControlName="servAddrLine1"  [readonly]="isView"/>
                                </mat-form-field>
                              </div>
                            </div>
                          </td>
                          <td class="T1" rowspan="1" colspan="1">
                            <div class="card-form-container">
                                <mat-form-field floatLabel="never" dense appearance="fill" class="example-full-width">
                                    <mat-label>{{'FinancierOnboardingComponent.Country' | translate}}</mat-label>
                                    <input type="text" matInput formControlName="servCountry" [readonly]="isView" />
                                  </mat-form-field>
                              <!-- <div class="multiselect-dropdown-dsgn"> -->
                                <!-- <mat-form-field floatLabel="never" dense appearance="fill" class="example-full-width">
                                  <mat-icon color="primary" dense matPrefix>person_outline</mat-icon>
                                  <mat-label>Country</mat-label>
                                  <input type="text" matInput value="" />
                                  <mat-hint>Please enter your country</mat-hint>
                                </mat-form-field> -->
                                <!-- <ng-multiselect-dropdown
                                formControlName="servCountry"
                                  [settings]="dropdownSettings"
                                  [data]="cities"
                                  
                              >
                              </ng-multiselect-dropdown> -->
            
                               <!-- <angular2-multiselect [data]="cities" formControlName="servCountry" 
                [settings]="dropdownSettings" ></angular2-multiselect>
                              </div> -->
                            </div>
                          </td>
                          <td class="T1" rowspan="1" colspan="1">
                              <div class="card-form-container">
                                <div>
                                  <mat-form-field floatLabel="never" dense appearance="fill" class="example-full-width">
                                    <mat-icon color="primary" dense matPrefix>person_outline</mat-icon>
                                    <mat-label>{{'FinancierOnboardingComponent.Addr2' | translate}}</mat-label>
                                    <input type="text" matInput formControlName="servAddrLine2" [readonly]="isView"/>
                                  </mat-form-field>
                                </div>
                              </div>
                            </td>
                        </tr>
                        <tr class="form-group" data-always-visible="false">
                          
                          <td class="T1" rowspan="1" colspan="1">
                            <div class="card-form-container">
                              <div>
                                <mat-form-field floatLabel="never" dense appearance="fill" class="example-full-width">
                                  <mat-icon color="primary" dense matPrefix>person_outline</mat-icon>
                                  <mat-label>{{'FinancierOnboardingComponent.TelNo' | translate}}</mat-label>
                                  <input type="text" matInput formControlName="servtelephoneNumber" [readonly]="isView" />
                                </mat-form-field>
                              </div>
                            </div>
                          </td>
                        
                          <td class="T1" rowspan="1" colspan="1">
                            <div class="card-form-container">
                              <div>
                                <mat-form-field floatLabel="never" dense appearance="fill" class="example-full-width">
                                  <mat-icon color="primary" dense matPrefix>person_outline</mat-icon>
                                  <mat-label>{{'FinancierOnboardingComponent.Addr3' | translate}}</mat-label>
                                  <input type="text" matInput formControlName="servAddrLine3" [readonly]="isView" />
                                </mat-form-field>
                              </div>
                            </div>
                          </td>
                          <td class="T1" rowspan="1" colspan="1">
                            <div class="card-form-container">
                              <div>
                                <mat-form-field floatLabel="never" dense appearance="fill" class="example-full-width">
                                  <mat-icon color="primary" dense matPrefix>person_outline</mat-icon>
                                  <mat-label>{{'FinancierOnboardingComponent.FaxNo' | translate}}</mat-label>
                                  <input type="text" matInput formControlName="servfaxNo" [readonly]="isView" />
                                </mat-form-field>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="form-group" data-always-visible="false">
                          <td class="T1" rowspan="1" colspan="1">
                            <div class="card-form-container">
                              <div>
                                <mat-form-field floatLabel="never" dense appearance="fill" class="example-full-width">
                                  <mat-icon color="primary" dense matPrefix>person_outline</mat-icon>
                                  <mat-label>{{'FinancierOnboardingComponent.City' | translate}}</mat-label>
                                  <input type="text" matInput formControlName="servcity" [readonly]="isView"/>
                                </mat-form-field>
                              </div>
                            </div>
                          </td>
                          <td class="T1" rowspan="1" colspan="1">
                            <div class="card-form-container">
                              <div>
                                <mat-form-field floatLabel="never" dense appearance="fill" class="example-full-width">
                                  <mat-icon color="primary" dense matPrefix>person_outline</mat-icon>
                                  <mat-label>{{'FinancierOnboardingComponent.Email' | translate}}</mat-label>
                                  <input type="text" matInput formControlName="servemail" [readonly]="isView" />
                                </mat-form-field>
                              </div>
                            </div>
                          </td>

                          <td class="T1" rowspan="1" colspan="1">
                            <div class="card-form-container">
                              <div>
                                <mat-form-field floatLabel="never" dense appearance="fill" class="example-full-width">
                                  <mat-icon color="primary" dense matPrefix>person_outline</mat-icon>
                                  <mat-label>{{'FinancierOnboardingComponent.SWIFT_BIC' | translate}}</mat-label>
                                  <input type="text" matInput formControlName="servswiftBic" [readonly]="isView" />
                                </mat-form-field>
                              </div>
                            </div>
                          </td>
                          <!-- <td class="T1" rowspan="1" colspan="1">
                              <div class="card-form-container">
                                <div>
                                  <mat-form-field floatLabel="never" dense appearance="fill" class="example-full-width">
                                    <mat-icon color="primary" dense matPrefix>person_outline</mat-icon>
                                    <mat-label>Local Payment Code</mat-label>
                                    <input type="text" matInput formControlName="paymentCode" [readonly]="isView"/>
                                  </mat-form-field>
                                </div>
                              </div>
                            </td> -->
                        </tr>
                        <!-- <tr class="form-group" data-always-visible="false">
                         
                         
                        </tr> -->
            
                      </tbody>
                    </table>
            
            
                    <mat-card-actions>
                      <span class="fill-remaining-space"></span>
                      <button mat-stroked-button color="primary" type="button" matStepperPrevious>
                        <mat-icon>arrow_back</mat-icon>
                        {{'FinancierOnboardingComponent.BackFinReg' | translate}}
                      </button>
                      <button mat-flat-button type="button" color="primary" matStepperNext>
                        <mat-icon>arrow_forward</mat-icon>
                        {{'FinancierOnboardingComponent.Next' | translate}}
                      </button>
                    </mat-card-actions>
                  </mat-card>
                </mat-step>
            
            
                <mat-step completed="true">
                  <ng-template matStepLabel>{{'FinancierOnboardingComponent.MoreDetails' | translate}}</ng-template>
                  <mat-card>
            
                    <span class="uxg-h6" id=grid>{{'FinancierOnboardingComponent.DirPartner' | translate}}</span>
                    <table mat-table [dataSource]="dataSource1" style="width: 90%;" id=right formArrayName="partnerDetails">
                      <ng-container matColumnDef="Name" >
                        <th mat-header-cell *matHeaderCellDef scope="column"  >{{'FinancierOnboardingComponent.Name' | translate}}</th>
                          <td mat-cell *matCellDef="let element;let row; let index = index" [formGroupName]="index" >
                          <input matInput 
                          formControlName="name" 
                          placeholder="{{'FinancierOnboardingComponent.Name' | translate}}" [readonly]="isView"
                          >
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="Position" >
                        <th mat-header-cell *matHeaderCellDef scope="column"  >{{'FinancierOnboardingComponent.Position' | translate}}</th>
                          <td mat-cell *matCellDef="let element;let row; let index = index" [formGroupName]="index" >
                          <input matInput 
                          formControlName="position" 
                          placeholder="{{'FinancierOnboardingComponent.Position' | translate}}" [readonly]="isView"
                          >
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="Address" >
                        <th mat-header-cell *matHeaderCellDef scope="column"  >{{'FinancierOnboardingComponent.Address' | translate}}</th>
                          <td mat-cell *matCellDef="let element;let row; let index = index" [formGroupName]="index" >
                          <input matInput 
                          formControlName="address" 
                          placeholder="{{'FinancierOnboardingComponent.Address' | translate}}" [readonly]="isView"
                          >
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="TelephoneNo" >
                        <th mat-header-cell *matHeaderCellDef scope="column"  >{{'FinancierOnboardingComponent.TelephoneNo' | translate}}</th>
                          <td mat-cell *matCellDef="let element;let row; let index = index" [formGroupName]="index" >
                          <input matInput 
                          formControlName="phoneNo" 
                          placeholder="{{'FinancierOnboardingComponent.TelephoneNo' | translate}}" [readonly]="isView"
                          >
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="Email" >
                        <th mat-header-cell *matHeaderCellDef scope="column"  >{{'FinancierOnboardingComponent.Email' | translate}}
                      </th>
                          <td mat-cell *matCellDef="let element;let row; let index = index" [formGroupName]="index" >
                          <input matInput 
                          formControlName="email" 
                          placeholder="{{'FinancierOnboardingComponent.Email' | translate}}" [readonly]="isView"
                          >
                          <span class="minus-btn" *ngIf="this.dataSource1.data.length > 1 && index >= 1" mat-flat-button color="primary" (click)="removeRow('partner',index)"  >
                            <mat-icon (click)="removeRow('partner',index)" style="cursor: pointer;">cancel</mat-icon>
                          </span>
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color:#B4A6EA"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
            
                    <span class="uxg-h6" id=grid>{{'FinancierOnboardingComponent.AuthorisedSign' | translate}}</span>
                    <table mat-table [dataSource]="dataSource2" style="width: 90%;" id=right formArrayName="authSign">
                      <ng-container matColumnDef="Name" >
                        <th mat-header-cell *matHeaderCellDef scope="column"  >{{'FinancierOnboardingComponent.Name' | translate}}</th>
                          <td mat-cell *matCellDef="let element;let row; let index = index" [formGroupName]="index" >
                          <input matInput 
                          formControlName="name" 
                          placeholder="{{'FinancierOnboardingComponent.Name' | translate}}" [readonly]="isView"
                          >
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="Position" >
                        <th mat-header-cell *matHeaderCellDef scope="column"  >{{'FinancierOnboardingComponent.Position' | translate}}</th>
                          <td mat-cell *matCellDef="let element;let row; let index = index" [formGroupName]="index" >
                          <input matInput 
                          formControlName="position" 
                          placeholder="{{'FinancierOnboardingComponent.Position' | translate}}" [readonly]="isView"
                          >
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="Address" >
                        <th mat-header-cell *matHeaderCellDef scope="column"  >{{'FinancierOnboardingComponent.Address' | translate}}</th>
                          <td mat-cell *matCellDef="let element;let row; let index = index" [formGroupName]="index" >
                          <input matInput 
                          formControlName="address" 
                          placeholder="{{'FinancierOnboardingComponent.Address' | translate}}" [readonly]="isView"
                          >
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="TelephoneNo" >
                        <th mat-header-cell *matHeaderCellDef scope="column"  >{{'FinancierOnboardingComponent.TelephoneNo' | translate}}</th>
                          <td mat-cell *matCellDef="let element;let row; let index = index" [formGroupName]="index" >
                          <input matInput 
                          formControlName="phoneNo" 
                          placeholder="{{'FinancierOnboardingComponent.TelephoneNo' | translate}}" [readonly]="isView"
                          >
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="Email" >
                        <th mat-header-cell *matHeaderCellDef scope="column"  >{{'FinancierOnboardingComponent.Email' | translate}}
                       
                      </th>
                          <td mat-cell *matCellDef="let element;let row; let index = index" [formGroupName]="index" >
                            <input matInput 
                          formControlName="email" 
                          placeholder="{{'FinancierOnboardingComponent.Email' | translate}}" [readonly]="isView"
                          >
            
                          <span class="minus-btn" *ngIf="this.dataSource2.data.length > 1 && index >= 1" mat-flat-button color="primary" (click)="removeRow('auth',index)"  >
                            <mat-icon (click)="removeRow('auth',index)" style="cursor: pointer;">cancel</mat-icon>
                          </span>
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color:#B4A6EA"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
            
                    <span class="uxg-h6" id=grid> {{'FinancierOnboardingComponent.EntityAdmin' | translate}}</span>
                    <table mat-table [dataSource]="dataSource3" style="width: 90%;" id=right formArrayName="entityAdmin">
                      <ng-container matColumnDef="Name" >
                        <th mat-header-cell *matHeaderCellDef scope="column"  >{{'FinancierOnboardingComponent.Name' | translate}}</th>
                          <td mat-cell *matCellDef="let element;let row; let index = index" [formGroupName]="index" >
                          <input matInput 
                          formControlName="name" 
                          placeholder="{{'FinancierOnboardingComponent.Name' | translate}}" [readonly]="isView"
                          >
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="Position" >
                        <th mat-header-cell *matHeaderCellDef scope="column"  >{{'FinancierOnboardingComponent.Position' | translate}}</th>
                          <td mat-cell *matCellDef="let element;let row; let index = index" [formGroupName]="index" >
                          <input matInput 
                          formControlName="position" 
                          placeholder="{{'FinancierOnboardingComponent.Position' | translate}}" [readonly]="isView"
                          >
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="Address" >
                        <th mat-header-cell *matHeaderCellDef scope="column"  >{{'FinancierOnboardingComponent.Address' | translate}}</th>
                          <td mat-cell *matCellDef="let element;let row; let index = index" [formGroupName]="index" >
                          <input matInput 
                          formControlName="address" 
                          placeholder="{{'FinancierOnboardingComponent.Address' | translate}}" [readonly]="isView"
                          >
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="TelephoneNo" >
                        <th mat-header-cell *matHeaderCellDef scope="column"  >{{'FinancierOnboardingComponent.TelephoneNo' | translate}}</th>
                          <td mat-cell *matCellDef="let element;let row; let index = index" [formGroupName]="index" >
                          <input matInput 
                          formControlName="phoneNo" 
                          placeholder="{{'FinancierOnboardingComponent.TelephoneNo' | translate}}" [readonly]="isView"
                          >
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="Email" >
                        <th mat-header-cell *matHeaderCellDef scope="column"  >{{'FinancierOnboardingComponent.Email' | translate}}
                       
                      </th>
                          <td mat-cell *matCellDef="let element;let row; let index = index" [formGroupName]="index" >
                          <input matInput 
                          formControlName="email" 
                          placeholder="{{'FinancierOnboardingComponent.Email' | translate}}" [readonly]="isView"
                          >
                          <span class="minus-btn" *ngIf="this.dataSource3.data.length > 1 && index >= 1" mat-flat-button color="primary" (click)="removeRow('entity',index)"  >
                            <mat-icon (click)="removeRow('entity',index)" style="cursor: pointer;">cancel</mat-icon>
                          </span>
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color:#B4A6EA"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                    <mat-card-actions>
                      <span class="fill-remaining-space"></span>
                      <button mat-stroked-button color="primary" type="button" matStepperPrevious>
                        <mat-icon>arrow_back</mat-icon>
                        {{'FinancierOnboardingComponent.BackToFintradecom' | translate}}
                      </button>
                    </mat-card-actions>
                  </mat-card>
                </mat-step>


                <!-- ===================== -->
                <mat-step completed="true">
                  <ng-template matStepLabel>{{'FinancierOnboardingComponent.UserDetails' | translate}}</ng-template>
                  <mat-card>
                    <!-- <mat-tab-group dynamicHeight>

                <mat-tab label="Related Users">  -->
                  <table mat-table [dataSource]="userDataSource" >
                  
                  
                    <ng-container matColumnDef="userId">
                        <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
                        matTooltip="UserID" [matTooltipPosition]="'below'"> {{'FinancierOnboardingComponent.UserId' | translate}} </th>
                        <td mat-cell *matCellDef="let element">
                                    {{element.userId}}
                        </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
                            matTooltip="{{biddingTooltip.invoiceId}}" [matTooltipPosition]="'below'">  {{'FinancierOnboardingComponent.FirstName' | translate}} </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.firstName}}
                        </td>
                    </ng-container>
              
                    <ng-container matColumnDef="lastName">
                        <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
                            matTooltip="{{biddingTooltip.invoiceAmount}}" [matTooltipPosition]="'below'"> {{'FinancierOnboardingComponent.LastName' | translate}} 
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.lastName}}
                        </td>
                    </ng-container>

              
                    <ng-container matColumnDef="emailId">
                        <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
                            matTooltip="{{biddingTooltip.buyerName}}" [matTooltipPosition]="'below'"> {{'FinancierOnboardingComponent.EmailId' | translate}}  </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.emailId}}
                        </td>
                    </ng-container>
              
                    <ng-container matColumnDef="phoneNumber">
                        <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
                            matTooltip="{{biddingTooltip.invoiceCreateDate}}" [matTooltipPosition]="'below'">  {{'FinancierOnboardingComponent.PhoneNo' | translate}}  </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.phoneNumber }}
                        </td>
                    </ng-container>
                   
                    <!-- <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> {{'Action' | translate}} </th>
                        <td mat-cell *matCellDef="let element">
                            <a  href="javascript:void(0)" (click)="navigateFinanceDetails(element.usersKey)">
                                <mat-icon  #tooltip="matTooltip"
                                matTooltip="Edit" [matTooltipPosition]="'below'">edit</mat-icon>
                              </a>&nbsp;
                        </td>
                    </ng-container> -->
                  
                  
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsUser" style="background-color:#B4A6EA"></tr>
                    <tr mat-row class="BID-Details" *matRowDef="let row; columns: displayedColumnsUser"></tr>
                </table>
                 <!-- </mat-tab>
                </mat-tab-group> -->
                 <mat-card-actions>
                  <span class="fill-remaining-space"></span>
                  <button mat-stroked-button color="primary" type="button" matStepperPrevious>
                    <mat-icon>arrow_back</mat-icon>
                    {{'FinancierOnboardingComponent.BackToMoreInfo' | translate}}
                  </button>
                </mat-card-actions>
              </mat-card>
            </mat-step>

                <!-- =========================== -->

              </mat-horizontal-stepper>
            </form>
       </div>
    </div>
    <div class="modal-footer" style="justify-content: center;">
    </div>
 </ng-template>
