<div class="app-content {{isOpen}} ">
    <header>
  <div class="data-section">
    <table  class="dis-block">
      <tbody>
          <tr>
              <td rowspan="1" colspan="1">
                <mat-form-field dense>
                  <mat-label>Invoice Reference No</mat-label>
                  <input type="text" matInput [value]="invoiceDetails ? invoiceDetails.invId : ''"  readonly/>
                </mat-form-field>
              </td>
              <td rowspan="1" colspan="1">
                <mat-form-field dense>
                  <mat-label>Internal BID ID</mat-label>
                  <input type="text" matInput value="SGTR953" readonly/>
                </mat-form-field>
              </td>
              <td rowspan="1" colspan="1">
                <mat-form-field dense>
                  <mat-label>SME Name</mat-label>
                  <input type="text" matInput [value]="invoiceDetails ? invoiceDetails.smeId : ''"   readonly/>
                </mat-form-field>
              </td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1">
                  <mat-form-field dense>
                    <mat-label>SME Rating</mat-label>
                    <input type="text" matInput value="7/10" readonly />
                  </mat-form-field>
                </td>
                <td rowspan="1" colspan="1">
                  <mat-form-field dense>
                    <mat-label>Transaction Rating</mat-label>
                    <input type="text" matInput value="9/10"readonly />
                  </mat-form-field>
                </td>
                <td rowspan="1" colspan="1">
                  <mat-form-field dense>
                    <mat-label>Buyer name</mat-label>
                    <input type="text" matInput [value]="invoiceDetails ? invoiceDetails.buyerName : ''" readonly />
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                  <td rowspan="1" colspan="1">
                    <mat-form-field dense>
                      <mat-label>Invoice Date</mat-label>
                      <input type="text" matInput  value="{{invoiceDetails ? invoiceDetails.invDate && moment(invoiceDetails.invDate).format('DD/MM/YYYY') : '' | date}}" readonly />
                    </mat-form-field>
                  </td>
                  <td rowspan="1" colspan="1">
                    <mat-form-field dense>
                      <mat-label>Inv Due Date</mat-label>
                      <input type="text" matInput value="{{invoiceDetails ? invoiceDetails.invDueDate && moment(invoiceDetails.invDueDate).format('DD/MM/YYYY') : '' | date}}" readonly/>
                    </mat-form-field>
                  </td>
                  <td rowspan="1" colspan="1">
                    <mat-form-field dense>
                      <mat-label>Invoice Amt</mat-label>
                      <input type="text" matInput [value]="invoiceDetails ? invoiceDetails.invAmt : ''" readonly/>
                    </mat-form-field>
                  </td>
                </tr>
              
     
      </tbody>
    </table>
    <mat-tab-group>
        <mat-tab label="BIDDING Economic Details Section">
          <form [formGroup]="finBidform" (ngSubmit)="onSubmitBidForm()">
           <mat-card>
                <mat-card-content>
                  <div id="container">
                    <div class="mat-elevation-z8">
                      <form [formGroup]="finBidform">
                       <table mat-table [dataSource]="dataSourceTwo">
                            <ng-container matColumnDef="Funding CCY" >
                                <th mat-header-cell *matHeaderCellDef scope="column">Funding CCY</th>
                                  <td mat-cell *matCellDef="let element;let row; let index = index" style="border-right: 1px solid grey;
                                  align-self: stretch;
                                  text-align: center">
                                  <input matInput [readonly]="isView" formControlName="fundingCcy"  placeholder="Funding CCY"  >
                                </td>
                              </ng-container>
                              <!-- <ng-container matColumnDef="Invoice Amount(Inv CCY)">
                                <th mat-header-cell *matHeaderCellDef scope="column">Invoice Amount(Inv CCY)</th>
                                  <td mat-cell *matCellDef="let element;let row; let index = index">
                                  <input matInput 
                                  formControlName="ccy" 
                                  placeholder="Invoice Amount(Inv CCY)" 
                                  required>
                                </td>
                              </ng-container> -->
                              <ng-container matColumnDef="FX rate Base CCY">
                                <th mat-header-cell *matHeaderCellDef scope="column" >FX rate Base CCY %</th>
                                <td mat-cell style="border-right: 1px solid grey;
                                align-self: stretch;
                                text-align: center" *matCellDef="let element;let row; let index = index">
                                  <input matInput [readonly]="isView"
                                  formControlName="fxRate" 
                                  placeholder="FX RB CCY" 
                                  (keyup)="changeRowgrid()"
                                   >
                                </td>
                              </ng-container>
            
                              <ng-container matColumnDef="Base CCY Amount">
                                <th mat-header-cell *matHeaderCellDef scope="column" >Base CCY Amount</th>
                                <td mat-cell style="border-right: 1px solid grey;
                                align-self: stretch;
                                text-align: center" *matCellDef="let element;let row; let index = index"  >
                                  <input matInput [readonly]="isView"
                                  formControlName="baseCcyAmt" 
                                  placeholder="Base CCY Amt" (keyup)="changeRowgrid()"
                                   required>
                                </td>
                              </ng-container>
            
                              <ng-container matColumnDef="Fundable percentage">
                                <th mat-header-cell *matHeaderCellDef scope="column" >Fundable percentage %</th>
                                <td mat-cell style="border-right: 1px solid grey;
                                align-self: stretch;
                                text-align: center" *matCellDef="let element;let row; let index = index"  >
                                  <input matInput [readonly]="isView"
                                  formControlName="fundablePercent" 
                                  placeholder="Fundable percentage" 
                                  required  (keyup)="changeRowgrid()">
                                </td>
                              </ng-container>
                              <ng-container matColumnDef="Funding Amount / Repay Amount (Base CCY)">
                                <th mat-header-cell *matHeaderCellDef  scope="column" >Funding Amount / Repay Amount (Base CCY)</th>
                                <td mat-cell style="border-right: 1px solid grey;
                                align-self: stretch;
                                text-align: center" *matCellDef="let element;let row; let index = index"  >
                                  <input matInput [readonly]="isView"
                                  formControlName="baseCcyFundingAmt" 
                                  placeholder="Funding Amount Repay Amount Base CCY" (keyup)="changeRowgrid()"
                                  required>
                                </td>
                              </ng-container>
                              <ng-container matColumnDef="Funding Amount / Repay Amount (Inv CCY)">
                                <th mat-header-cell *matHeaderCellDef scope="column" >Funding Amount / Repay Amount (Inv CCY)</th>
                                <td mat-cell style="border-right: 1px solid grey;
                                align-self: stretch;
                                text-align: center" *matCellDef="let element;let row; let index = index"  >
                                  <input matInput [readonly]="isView"
                                  formControlName="invCcyFundingAmt" 
                                  placeholder="Funding Amount Repay Amount Inv CCY" (keyup)="changeRowgrid()"
                                  required>
                                </td>
                              </ng-container>
            
                              <ng-container matColumnDef="Repayment Date">
                                <th mat-header-cell *matHeaderCellDef scope="column" >Repayment Date</th>
                                <td mat-cell style="border-right: 1px solid grey;
                                align-self: stretch;
                                text-align: center" *matCellDef="let element;let row; let index = index"  >
                                    <input matInput [readonly]="isView"
                                    formControlName="repaymentDate" 
                                    placeholder="RepaymentDate" 
                                    required>
                                  <!-- <input matInput [matDatepicker]="picker" formControlName="RepaymentDate">
                                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                  <mat-datepicker #picker></mat-datepicker> -->
                                </td>
                              </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsTwo" style="background-color:#B4A6EA"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsTwo"></tr>
                    
                       </table>
                       <table mat-table [dataSource]="dataSourceTwo">
                        <ng-container matColumnDef="Inv Discount  Rate">
                            <th mat-header-cell *matHeaderCellDef scope="column" >Inv Discount  Rate%</th>
                            <td mat-cell style="border-right: 1px solid grey;
                            align-self: stretch;
                            text-align: center" *matCellDef="let element;let row; let index = index"  >
                              <input matInput [readonly]="isView"
                              formControlName="invDiscRate" (keyup)="changeRowgrid()"
                              placeholder="Inv Discount Rate" 
                              required>
                            </td>
                          </ng-container>
        
                          <ng-container matColumnDef="Disc Amt (Base CCY)">
                            <th mat-header-cell *matHeaderCellDef scope="column" >Disc Amt (Base CCY)</th>
                            <td mat-cell style="border-right: 1px solid grey;
                            align-self: stretch;
                            text-align: center" *matCellDef="let element;let row; let index = index" >
                              <input matInput [readonly]="isView"
                              formControlName="baseCcyDiscAmt" (keyup)="changeRowgrid()"
                              placeholder="Disc Amt Base CCY" 
                              required>
                            </td>
                          </ng-container>
        
                          <ng-container matColumnDef="Disc Amt (Inv CCY)">
                            <th mat-header-cell *matHeaderCellDef scope="column" >Disc Amt (Inv CCY)</th>
                            <td mat-cell style="border-right: 1px solid grey;
                            align-self: stretch;
                            text-align: center" *matCellDef="let element;let row; let index = index"  >
                              <input matInput [readonly]="isView"
                              formControlName="invCcyDiscAmt" (keyup)="changeRowgrid()"
                              placeholder="Disc Amt Inv CCY" 
                              required>
                            </td>
                          </ng-container>
                          <ng-container matColumnDef="Annual Yield (Basis a360)">
                            <th mat-header-cell *matHeaderCellDef scope="column" >Annual Yield <br>(Basis a360) %</th>
                            <td mat-cell style="border-right: 1px solid grey;
                            align-self: stretch;
                            text-align: center" *matCellDef="let element;let row; let index = index"  >
                              <input matInput (keyup)="changeRowgrid()"[readonly]="isView"
                              formControlName="annualYeild" 
                              placeholder="Annual Yield Basis a360" 
                              required>
                            </td>
                          </ng-container>
                          <ng-container matColumnDef="Tenor Days">
                              <th mat-header-cell *matHeaderCellDef scope="column" >Tenor Days</th>
                              <td mat-cell style="border-right: 1px solid grey;
                              align-self: stretch;
                              text-align: center" *matCellDef="let element;let row; let index = index"  >
                                <input matInput (keyup)="changeRowgrid()"[readonly]="isView"
                                formControlName="tenor"
                                placeholder="Tenor Days" 
                                required>
                              </td>
                            </ng-container>
                          <ng-container matColumnDef="Net Amt payable (Base CCY)">
                            <th mat-header-cell *matHeaderCellDef scope="column" >
                                     Net Amt
                             <br> payable (Base CCY)</th>
                            <td mat-cell style="border-right: 1px solid grey;
                            align-self: stretch;
                            text-align: center" *matCellDef="let element;let row; let index = index"  >
                              <input matInput [readonly]="isView"
                              formControlName="baseCcyNetAmtPayable" 
                              placeholder="Net Amt payable Base CCY" 
                              required>
                            </td>
                          </ng-container>
                          <ng-container matColumnDef="Net Amt payable (Inv CCY)">
                              <th mat-header-cell *matHeaderCellDef scope="column" >Net Amt payable (Inv CCY)</th>
                              <td mat-cell style="border-right: 1px solid grey;
                              align-self: stretch;
                              text-align: center" *matCellDef="let element;let row; let index = index"  >
                                <input matInput [readonly]="isView"
                                formControlName="invCcyNetAmtPayable" 
                                placeholder="Net Amt payable Inv CCY" 
                                required>
                              </td>
                            </ng-container>
                              <ng-container matColumnDef="Offer Exp period">
                                  <th mat-header-cell *matHeaderCellDef scope="column" >Offer Exp period</th>
                                  <td mat-cell style="border-right: 1px solid grey;
                                  align-self: stretch;
                                  text-align: center" *matCellDef="let element;let row; let index = index"  >
                                    <input matInput [readonly]="isView"
                                    formControlName="offerExpPeriod" 
                                    placeholder="Offer Exp period" 
                                    required>
                                    <!-- <input matInput [matDatepicker]="picker" formControlName="offerExpPeriod">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker> -->
                                  </td>
                                </ng-container>
                                <ng-container matColumnDef="Off Exp date /time">
                                    <th mat-header-cell *matHeaderCellDef scope="column" >Off Exp date /time</th>
                                    <td mat-cell style="border-right: 1px solid grey;
                                    align-self: stretch;
                                    text-align: center" *matCellDef="let element;let row; let index = index"  >
                                      <input matInput [readonly]="isView"
                                      formControlName="offerExpDateTime" 
                                      placeholder="Off Exp date time" 
                                      required>
                                    </td>
                                  </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedInvoiceTwo" style="background-color:#B4A6EA"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedInvoiceTwo"></tr>
                  
                     </table>
                      </form>
                    </div>
                  </div>
                </mat-card-content>
            </mat-card>
            <div class="modal-footer" style="justify-content:center">
                <button type="button" *ngIf="!isView" class="btn model-btn-outline"  style="background-color: #4CAF50;color: white;" 
                 (click)="openModal($event,template)" >Re Launch Bid</button>
             </div>
          </form>
              <br>
            </mat-tab>
        <mat-tab label="Invoice Details Section"> 
          <!-- <div class="uxg-h4" style="text-align: center">BIDDING</div> -->
          <!-- Inovice Details -->
          <!-- <mat-accordion>
              <mat-expansion-panel>
              </mat-expansion-panel>
              <mat-expansion-panel [expanded]="true" (opened)="bidpanelOpenState = true" (closed)="bidpanelOpenState = false">
                  <mat-expansion-panel-header>
                      <mat-panel-title style="font-weight:500;color: #a899e4;">
                          Invoice Details
                      </mat-panel-title>
                  </mat-expansion-panel-header>
      
          <div class="container-fluid">
              <div class="row">
                  <table class="invoice-table" mat-table [dataSource]="displayInvDatas">
      
                      <ng-container matColumnDef="billNo">
                          <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                          matTooltip="{{detailsTooltip.invoiceRefNo}}" [matTooltipPosition]="'below'">Invoice Ref No</th>
                          <td mat-cell *matCellDef="let element">{{ element.billNo }}</td>
                      </ng-container>
                  
                      <ng-container matColumnDef="invId">
                          <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                          matTooltip="{{detailsTooltip.invoiceId}}" [matTooltipPosition]="'below'">Invoice ID</th>
                          <td mat-cell *matCellDef="let element">{{ element.invId }}</td>
                      </ng-container>
                  
                      <ng-container matColumnDef="invDate">
                          <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                          matTooltip="{{detailsTooltip.invoiceCreateDate}}" [matTooltipPosition]="'below'">Invoice Date</th>
                          <td mat-cell *matCellDef="let element">{{ element.invDate }}</td>
                      </ng-container>
                  
                      <ng-container matColumnDef="invDueDate">
                          <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                          matTooltip="{{detailsTooltip.invoiceDueDate}}" [matTooltipPosition]="'below'">Invoice Due Date</th>
                          <td mat-cell *matCellDef="let element">{{ element.invDueDate }}</td>
                      </ng-container>
                  
                      <ng-container matColumnDef="invAmt">
                          <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                          matTooltip="{{detailsTooltip.invoiceAmount}}" [matTooltipPosition]="'below'">Amount</th>
                          <td mat-cell *matCellDef="let element">{{ element.invAmt }}</td>
                      </ng-container>
                  
                      <ng-container matColumnDef="buyerName">
                          <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                          matTooltip="{{detailsTooltip.buyerName}}" [matTooltipPosition]="'below'">Buyer</th>
                          <td mat-cell *matCellDef="let element">{{ element.buyerName }}</td>
                      </ng-container>
                  
                      <ng-container matColumnDef="smeId">
                          <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                          matTooltip="{{detailsTooltip.sellerName}}" [matTooltipPosition]="'below'">Seller</th>
                          <td mat-cell *matCellDef="let element">{{ element.smeId }}</td>
                      </ng-container>
                  
                  
                      <tr mat-header-row *matHeaderRowDef="displayedInvoiceFormsColumns" style="background-color:#B4A6EA"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedInvoiceFormsColumns"></tr>
                  </table>
              </div>            
          </div>
      
      </mat-expansion-panel>
      </mat-accordion> -->
        
          <div class="table-section">
              <mat-accordion>
                  <mat-expansion-panel>
                  </mat-expansion-panel>
                  <mat-expansion-panel [expanded]="true" (opened)="bidpanelOpenState = true" (closed)="bidpanelOpenState = false">
                  <mat-expansion-panel-header>
                  <mat-panel-title style="font-weight:500;color: #a899e4;">
                  Goods Details
                  </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="table-res"> 
                  <table mat-table [dataSource]="dataSourceOne">
                  <ng-container matColumnDef="descGoods">
                  <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                  matTooltip="{{detailsTooltip.goodDesc}}" [matTooltipPosition]="'below'">Description of Goods</th>
                  <td mat-cell *matCellDef="let element">{{ element.descGoods }}</td>
                  </ng-container>
                  <!-- <ng-container matColumnDef="idNo">
                  <th mat-header-cell *matHeaderCellDef scope="column">ID No</th>
                  <td mat-cell *matCellDef="let element">{{ element.idNo }}</td>
                  </ng-container> -->
                  <!-- <ng-container matColumnDef="dateOfInvoice">
                  <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                  matTooltip="{{detailsTooltip.dateInvoice}}" [matTooltipPosition]="'below'">Date Of Invoice</th>
                  <td mat-cell *matCellDef="let element">{{ element.dateOfInvoice }}</td>
                  </ng-container> -->
                  <ng-container matColumnDef="quantity">
                  <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                  matTooltip="{{detailsTooltip.quantity}}" [matTooltipPosition]="'below'">Quantity</th>
                  <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
                  </ng-container>
                  <ng-container matColumnDef="rate">
                  <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                  matTooltip="{{detailsTooltip.ccyAmount}}" [matTooltipPosition]="'below'">Amt Ccy</th>
                  <td mat-cell *matCellDef="let element">{{ element.amtCcy }}</td>
                  </ng-container>
                  <ng-container matColumnDef="amt">
                  <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                  matTooltip="{{detailsTooltip.amount}}" [matTooltipPosition]="'below'">Amount</th>
                  <td mat-cell *matCellDef="let element">{{ element.amt }}</td>
                  </ng-container>
                  <!-- <ng-container matColumnDef="netAmtPay">
                  <th mat-header-cell *matHeaderCellDef scope="column">Net Amount</th>
                  <td mat-cell *matCellDef="let element">{{ element.netAmtPay }}</td>
                  </ng-container>
                  -->
                  <ng-container matColumnDef="taxRate">
                  <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                  matTooltip="{{detailsTooltip.taxRate}}" [matTooltipPosition]="'below'">Tax Rate %</th>
                  <td mat-cell *matCellDef="let element">{{ element.taxRate }}</td>
                  </ng-container>
                  <ng-container matColumnDef="taxAmount">
                  <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                  matTooltip="{{detailsTooltip.taxAmount}}" [matTooltipPosition]="'below'">Tax Amount</th>
                  <td mat-cell *matCellDef="let element">{{ element.taxAmt }}</td>
                  </ng-container>
                  <ng-container matColumnDef="discAmt">
                  <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                  matTooltip="{{detailsTooltip.ccyTaxAmount}}" [matTooltipPosition]="'below'">Tax Amt Ccy</th>
                  <td mat-cell *matCellDef="let element">{{ element.taxAmtCcy }}</td>
                  </ng-container>
                  <!-- <ng-container matColumnDef="taxAmountccy">
                  <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                  matTooltip="{{detailsTooltip.ccyTaxAmount}}" [matTooltipPosition]="'below'">Tax Amt Ccy</th>
                  <td mat-cell *matCellDef="let element">{{ element.taxAmtCcy }}</td>
                  </ng-container> -->
                  <!-- <ng-container matColumnDef="totalccy">
                  <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                  matTooltip="{{detailsTooltip.totalCcy}}" [matTooltipPosition]="'below'">Total Ccy</th>
                  <td mat-cell *matCellDef="let element">{{ element.totalCcy }}</td>
                  </ng-container> -->
                  
                  <ng-container matColumnDef="total">
                  <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                  matTooltip="{{detailsTooltip.total}}" [matTooltipPosition]="'below'">Total</th>
                  <td mat-cell *matCellDef="let element">{{ element.total }}</td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsOne" style="background-color:#B4A6EA"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsOne"></tr>
                  </table>
                  </div>
                  </mat-expansion-panel>
                </mat-accordion>
          </div>
          <div class="modal-footer" style="justify-content: center;">
              <button type="button" class="btn model-btn-outline  mob-btn">Invoice Preview (double click will pop up the PDF invoice)</button>
           </div>
      </mat-tab>
    </mat-tab-group>
</div>
</header>
</div>

<ng-template #template>
    <div class="modal-header">
       <h4 class="modal-title pull-left">You are about to send for authorization the following BID:</h4>
       <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">×</span>
       </button>
    </div>
    <div class="modal-body">          
       <div class="container-fluid">
           <div class="row">
              <div class="data-section">
                  <table>
                  <tbody>
                    <tr>
                        <td rowspan="1" colspan="1">
                            <mat-form-field dense>
                              <mat-label>SME Name</mat-label>
                              <input type="text" matInput [value]="invoiceDetails ? invoiceDetails.smeId : ''"  />
                            </mat-form-field>
                          </td>
                          <td rowspan="1" colspan="1">
                              <mat-form-field dense>
                                <mat-label>Transaction Rating</mat-label>
                                <input type="text" matInput value="9/10"  />
                              </mat-form-field>
                            </td>
                            <td rowspan="1" colspan="1">
                                <mat-form-field dense>
                                  <mat-label>SME Rating</mat-label>
                                  <input type="text" matInput value="7/10"  />
                                </mat-form-field>
                              </td>
                    
                    </tr>
                
                  </tbody>
                </table>
                  <br>
            </div>
           </div>     
           <div class="row">
             
              <table mat-table [dataSource]="launchBid_Popup" class="mat-elevation-z8">

                  <ng-container matColumnDef="Funding CCY">
                    <th mat-header-cell *matHeaderCellDef> Funding CCY. </th>
                    <td mat-cell *matCellDef="let element"> {{element?.fundingCcy || '' }} </td>
                  </ng-container>
                
                  <!-- Name Column -->
                  <ng-container matColumnDef="Base CCY Amount">
                    <th mat-header-cell *matHeaderCellDef> Base CCY Amount </th>
                    <td mat-cell *matCellDef="let element"> {{element?.baseCcyAmt || '' }}  </td>
                  </ng-container>
                
                  <!-- Weight Column -->
                  <ng-container matColumnDef="Fundable percentage">
                    <th mat-header-cell *matHeaderCellDef> Fundable percentage %</th>
                    <td mat-cell *matCellDef="let element">{{element?.fundablePercent || '' }}  </td>
                  </ng-container>
                
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="Funding Amount / Repay Amount (Base CCY)">
                    <th mat-header-cell *matHeaderCellDef> Funding Amount / Repay Amount (Base CCY) </th>
                    <td mat-cell *matCellDef="let element" style="color:red"> {{element?.baseCcyFundingAmt || '' }}  </td>
                  </ng-container>
                  <ng-container matColumnDef="Repayment Date">
                    <th mat-header-cell *matHeaderCellDef> Repayment Date </th>
                    <td mat-cell *matCellDef="let element"> {{element?.repaymentDate || '' }}  </td>
                  </ng-container>
                
                  <tr mat-header-row *matHeaderRowDef="launchBidPopup" style="background-color:#B4A6EA"></tr>
                  <tr mat-row *matRowDef="let row; columns: launchBidPopup;"></tr>
                </table>
                
                
           </div>
           <div class="row">
              <table mat-table [dataSource]="launchBid_Popup" class="mat-elevation-z8">

                  <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->
                
                  <!-- Position Column -->
                  <ng-container matColumnDef="Inv Discount Rate">
                    <th mat-header-cell *matHeaderCellDef>Inv Discount  Rate%</th>
                    <td mat-cell *matCellDef="let element"> {{element?.invDiscRate || '' }} </td>
                  </ng-container>
                
                  <!-- Name Column -->
                  <ng-container matColumnDef="Disc Amt (Base CCY)">
                    <th mat-header-cell *matHeaderCellDef>Disc Amt (Base CCY) </th>
                    <td mat-cell *matCellDef="let element"> {{element?.baseCcyDiscAmt || '' }}   </td>
                  </ng-container>
                
                  <!-- Weight Column -->
                  <ng-container matColumnDef="Net Amt payable (Base CCY)">
                    <th mat-header-cell *matHeaderCellDef> Net Amt payable (Base CCY) </th>
                    <td mat-cell *matCellDef="let element" style="color:red"> {{element?.baseCcyNetAmtPayable || '' }}   </td>
                  </ng-container>
                
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="Annual Yield (Basis a360)">
                    <th mat-header-cell *matHeaderCellDef> Annual Yield (Basis a360) %</th>
                    <td mat-cell *matCellDef="let element"> {{element?.annualYeild || '' }}   </td>
                  </ng-container>
                  <ng-container matColumnDef="Offer Exp period">
                      <th mat-header-cell *matHeaderCellDef> Offer Exp period </th>
                      <td mat-cell *matCellDef="let element"> {{element?.offerExpPeriod || '' }}   </td>
                    </ng-container>
                    <ng-container matColumnDef="Off Exp date /time">
                        <th mat-header-cell *matHeaderCellDef> Off Exp date /time </th>
                        <td mat-cell *matCellDef="let element"> {{element?.offerExpDateTime || '' }}   </td>
                      </ng-container>
                
                  <tr mat-header-row *matHeaderRowDef="launchBidTableTwoPopup" style="background-color:#B4A6EA"></tr>
                  <tr mat-row *matRowDef="let row; columns: launchBidTableTwoPopup;"></tr>
                </table>
                
                
           </div>          
       </div>
    </div>
    <div class="modal-footer" style="justify-content: center;">
       <button type="button" (click)="onSubmitBidForm()" class="btn model-btn-outline">Accept</button>
    </div>
 </ng-template>

