<div class="app-content ">
    <header class="mm0p0">
        <br>
        <h5 class="mmt20"> {{'FinanceDashboardComponent.Financier Funded' | translate}}</h5>
        <div class="mat-elevation-z8 table-post">
            <table mat-table [dataSource]="dataSource" matSort class="table-responsive">
                    
            <ng-container matColumnDef="invoiceRef">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header> {{'ICC Tradecomm Ref' | translate}} </th>
                <td mat-cell *matCellDef="let element">
                            {{element.invoiceRef}} 
                </td>
            </ng-container>

          <ng-container matColumnDef="invoiceAmt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Invoice Amount' | translate}}  </th>
            <td mat-cell *matCellDef="let element"> 
                         {{element.invoiceCcy}} {{element.invoiceAmt}} 
             </td>
          </ng-container>
          <ng-container matColumnDef="smeId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'SME Name' | translate}} </th>
            <td mat-cell *matCellDef="let element"> 
         
                         {{element.smeId}} 
                  
             </td>
          </ng-container>
          <ng-container matColumnDef="buyerName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Buyer Name' | translate}} </th>
            <td mat-cell *matCellDef="let element"> 
    
                          {{element.buyerName}} 
               
              </td>
          </ng-container>
          <ng-container matColumnDef="invoiceDate">
            <th mat-header-cell *matHeaderCellDef> {{'Inv Date' | translate}}  </th>
            <td mat-cell *matCellDef="let element"> 
       
                          {{element.invoiceDate && moment(element.invoiceDate).format('DD/MM/YYYY')}} 
                 
              </td>
          </ng-container>
          <ng-container matColumnDef="invDueDate">
            <th mat-header-cell *matHeaderCellDef> {{'Inv Due date' | translate}} </th>
            <td mat-cell *matCellDef="let element"> 
        
                          {{ element.invDueDate && moment(element.invDueDate).format('DD/MM/YYYY')}} 
                    
              </td>
          </ng-container>
          <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> {{'Status' | translate}} </th>
              <td mat-cell *matCellDef="let element"> 
     
                            {{element.status == "APR" || element.status == "A" ? 'Approved' : element.status == "SUB" ? 'Submitted by SME': element.status == "CAN" ? 'Cancelled':'Financed'}}
                
                </td>
          </ng-container>   
          <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> {{'Action' | translate}} </th>
                <td mat-cell *matCellDef="let element"> 
           
                  <a href="javascript:void(0)" (click)="navigateInvoiceDetails(element.invoiceId)">
                      <mat-icon #tooltip="matTooltip"
                      matTooltip="{{'view' | translate}}" [matTooltipPosition]="'below'">visibility</mat-icon>
                  </a>
                   </td>
          </ng-container>
          <ng-container matColumnDef="TopBar">
            <th colspan="10" mat-header-cell *matHeaderCellDef> 
              <div style="justify-content:flex-end;cursor: pointer;">
              <span (click)="searchDiv()" class="material-icons">search</span>&nbsp;
              <span (click)="filterDiv()" class="material-icons">filter_list</span>
                </div>
             </th>
          </ng-container>
          <ng-container matColumnDef="Search">
            <th colspan="10" mat-header-cell *matHeaderCellDef> 
                <h6>{{'Search By' | translate}}</h6>
              <div class="row">
                  <div class="col-sm-3 col-xl-2">
                    <mat-form-field appearance="outline">
                        <mat-label> {{'invoiceRef' | translate}}</mat-label>
                        <input type="text" matInput />
                      </mat-form-field>
                  </div>
              
                  <div class="col-sm-3 col-xl-2">
                    <mat-form-field appearance="outline"> 
                        <mat-label> {{'smeId' | translate}}</mat-label>
                        <input type="text" matInput />
                      </mat-form-field>
                  </div>
                  <div class="col-sm-3 col-xl-2">
                    <mat-form-field appearance="outline">
                        <mat-label>{{'Buyer Name' | translate}}</mat-label>
                        <input type="text"  matInput />
                      </mat-form-field>
                  </div>
                  <div class="col-sm-3 col-xl-2">
                    <mat-form-field  appearance="outline">
                        <mat-label>{{'Invoice Date' | translate}}</mat-label>
                        <input matInput readonly="true"  [matDatepicker]="picker"  >
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                
                  </div>
                  <div class="col-sm-3 col-xl-2">
                
                      <mat-form-field  appearance="outline">
                        <mat-label>{{'Invoice Date' | translate}}</mat-label>
                        <input matInput readonly="true"  [matDatepicker]="picker1" >
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                  </div>
              </div>
              <div class="row" style="justify-content: flex-end;padding-bottom: 20px;padding-right: 20px;">
                <button  mat-raised-button style="color: #5e52a1;" (click)="SearchAPI()">
                    <mat-icon #tooltip="matTooltip"
                    matTooltip="{{'Search' | translate}}" [matTooltipPosition]="'below'">done</mat-icon>  {{'Search' | translate}}
                  </button>&nbsp;
                  <button  mat-raised-button style="color: #5e52a1;"  (click)="ResetAPI()">
                    <mat-icon #tooltip="matTooltip"
                    matTooltip="{{'Reset' | translate}}" [matTooltipPosition]="'below'">restart_alt</mat-icon>  {{'Reset' | translate}}
                  </button>
              </div>
             
             </th>
          </ng-container>
          <ng-container matColumnDef="Filter">
            <th class="class2" colspan="10" mat-header-cell *matHeaderCellDef> 
                <div class="row">
                    <div class="col-sm-3">
                        <label>{{'invoiceAmount' | translate}}</label>
                        <div class="custom-slider">
                        <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
                      </div>
                      </div>
                      <div class="col-sm-3" style="padding-top: 22px;">
                        <mat-form-field appearance="fill">
                            <mat-label>{{'InvoiceDate' | translate}}</mat-label>
                            <mat-date-range-input [rangePicker]="picker">
                              <input matStartDate placeholder="Start date">
                              <input matEndDate placeholder="End date">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                          </mat-form-field>
                      </div>
                      <div class="col-sm-3" style="padding-top: 22px;">
                        <mat-form-field appearance="fill">
                            <mat-label> {{'InvDueDate' | translate}}</mat-label>
                            <mat-date-range-input [rangePicker]="picker1">
                              <input matStartDate placeholder="Start date">
                              <input matEndDate placeholder="End date">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker1></mat-date-range-picker>
                          </mat-form-field>
                      </div>
                </div>
                  <div class="row" style="justify-content: flex-end;padding-bottom: 20px;padding-right: 20px;">
                    <button  mat-raised-button style="color: #5e52a1;">
                        <mat-icon #tooltip="matTooltip"
                        matTooltip="{{'Search' | translate}}" [matTooltipPosition]="'below'">done</mat-icon>  {{'Search' | translate}}
                      </button>&nbsp;
                      <button  mat-raised-button style="color: #5e52a1;">
                        <mat-icon #tooltip="matTooltip"
                        matTooltip="{{'Reset' | translate}}" [matTooltipPosition]="'below'">restart_alt</mat-icon>  {{'Reset' | translate}}
                      </button>
                  </div>
             </th>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsload"></tr>
          <tr [hidden]="!searchDivOpen" class="searchInput" mat-header-row *matHeaderRowDef="displayedColumnsearch"></tr>
          <tr [hidden]="!filterDivOpen" mat-header-row *matHeaderRowDef="displayedColumnFilter"></tr>
          <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color:#B4A6EA"></tr>
          <tr mat-row class="BID-Details" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [hidePageSize]="true" showFirstLastButtons></mat-paginator>
        </div>
    </header>
  </div>
  
  
  