<!-- <mat-toolbar class="uxg-toolbar uxg-toolbar-elevated">
    <button mat-icon-button class="uxg-toolbar-menu" (click)="[sidenav.toggle(),this.isOpenHandle(isOpen) ]">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="uxg-logo" dense></div>
    <ul class="uxg-breadcrumb uxg-breadcrumb-responsive">
      <button mat-icon-button color="accent" class="uxg-breadcrumb-back">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <li class="uxg-h6">ICC TradeComm Dashboard</li>
      <li>Home</li>
    </ul>
    <span class="fill-remaining-space"></span>
    <div class="uxg-toolbar-actions">
      <button mat-icon-button color="neutral">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button color="neutral">
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button color="neutral">
        <mat-icon>help_outline</mat-icon>
      </button>
      <button mat-icon-button color="neutral">
        <mat-icon>apps</mat-icon>
      </button>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menuHero">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button class="uxg-toolbar-icon-menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
  
  <mat-menu #menuHero="matMenu" class="uxg-user-profile s">
    <div class="uxg-menu-header">
      <div class="uxg-avatar-hero-block">
        <div class="uxg-avatar">U</div>
        <h6 class="uxg-h6">User</h6>
        <span class="uxg-caption"></span>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="uxg-menu-footer">
        <button mat-flat-button color="primary" dense  (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Logout
      </button>
      <button mat-button color="primary" dense>
        View profile
      </button>
    </div>
  </mat-menu>
  
  <mat-sidenav #sidenav mode="over">
    <div class="uxg-nav-header">
      <mat-card class="uxg-card-product" extra-dense>
        <span class="uxg-h5 uxg-card-product-name">PRO</span>
      </mat-card>
    </div>
    <mat-nav-list class="uxg-nav-list">
      <a mat-list-item class="uxg-list-item-selected">
        <mat-icon mat-list-icon>home</mat-icon>
        <p>Home</p>
      </a>
      <a mat-list-item>
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <p matBadge="6" class="uxg-side-badge">Applications</p>
        <mat-icon>chevron_right</mat-icon>
      </a>
      <a mat-list-item>
        <mat-icon mat-list-icon>notifications</mat-icon>
        <p>Notifications</p>
      </a>
      <a mat-list-item>
        <mat-icon mat-list-icon>extension</mat-icon>
        <p>Tools</p>
      </a>
      <a mat-list-item>
        <mat-icon mat-list-icon>settings</mat-icon>
        <p>Settings</p>
      </a>
      <mat-divider></mat-divider>
    </mat-nav-list>
    <mat-nav-list class="uxg-link-list">
      <a mat-list-item>
        <mat-icon mat-list-icon>help</mat-icon>
        <p>Help</p>
      </a>
      <a mat-list-item>
        <mat-icon mat-list-icon>power_settings_new</mat-icon>
        <p>Sign out</p>
      </a>
    </mat-nav-list>
  </mat-sidenav> -->
  
  <div class="app-content {{isOpen}} ">
    <header>
      <div class="account-services-headline">
        <ng-container>
          <div class="global-balance">
            <!-- <h6 class="uxg-h6">S$ 765,067.98</h6>
            <p class="font-13">Global Balance in S$</p>
            <p class="uxg-caption font-13">Rate (1.0934566)</p> -->
          </div>
        </ng-container>
        <ng-template #loadingGlobalBalance>
          <div style="z-index: 10">
            <uxg-skeleton-text style="width: 300px; height: 50px;" animated></uxg-skeleton-text>
            <uxg-skeleton-text style="width: 300px; height: 40px;" animated></uxg-skeleton-text>
          </div>
        </ng-template>
        <div class="paginator">
          <button mat-icon-button (click)="scrollLeft()" [disabled]="start">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <button mat-icon-button (click)="scrollRight()" [disabled]="end">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div> 
      </div>
      <ng-container>
        <div #accountList class="accounts-list">
        <uxg-account-card  class="curs-pointer" name="Funding Request" (click)="naviageTiles('/icc-funding-request')"  number="{{fundingRequestObj?.CCY}} {{fundingRequestObj?.AMOUNT? fundingRequestObj?.AMOUNT : 'SGD 0'}}" #tooltip="matTooltip"
        matTooltip="{{dashboardTooltip.fundingRequest}}" [matTooltipPosition]="'below'"></uxg-account-card>
        <uxg-account-card  class="curs-pointer" name="Offer for Acceptance" (click)="naviageTiles('/icc-offer-acceptance')" number="{{OfferAcceptanceObj?.CCY}} {{OfferAcceptanceObj?.AMOUNT? OfferAcceptanceObj?.AMOUNT : 'SGD 0'}}"  #tooltip="matTooltip"
        matTooltip="{{dashboardTooltip.offerAcceptance}}" [matTooltipPosition]="'below'"></uxg-account-card>
        <uxg-account-card  class="curs-pointer" name="Financed Today" number="{{getSumAllfinTdyCount?.FINANCECCY}} {{getSumAllfinTdyCount?.FINANCEAMT ? getSumAllfinTdyCount?.FINANCEAMT : '0'}}" #tooltip="matTooltip"
        matTooltip="{{dashboardTooltip.financedToday}}" (click)="this.navigatefinancedToday()" [matTooltipPosition]="'below'"></uxg-account-card>
        <uxg-account-card name="Finance Master" number="{{financeMasterCount?.CCY}} {{financeMasterCount?.AMOUNT ? financeMasterCount?.AMOUNT : 'SGD 0'}}" #tooltip="matTooltip"
        matTooltip="{{dashboardTooltip.financedMaster}}" (click)="this.navigatefinancedMaster()" [matTooltipPosition]="'below'"></uxg-account-card>
        <uxg-account-card  class="curs-pointer" name="Invoice Master" number="{{getSumInvoiceMasterCount?.CCY}} {{getSumInvoiceMasterCount?.AMOUNT? getSumInvoiceMasterCount?.AMOUNT : 'SGD 0'}}" #tooltip="matTooltip"
        matTooltip="{{dashboardTooltip.invoiceMaster}}" (click)="this.navigateinvoiceMaster()" [matTooltipPosition]="'below'"></uxg-account-card>
        </div>
        </ng-container>
      <div class="wave" [inlineSVG]="'/assets/wave.svg'"></div>
    
      <div class="container-fluid contnr-div">
        <div class="row">
            <div class="col-md-12">
              <mat-tab-group dynamicHeight>
                <mat-tab label="SME Security Administration">
                  <div class="links">
                    <a routerLink="#" (click)="naviageTiles('/icc-user-creation')">User Creation</a>
                    <a routerLink="#">Roles</a>
                    <a routerLink="#">Capabilities</a>
                    <a routerLink="#">Teams</a>
                    <a routerLink="#">Authorisation Matrix</a>
                  </div>
                </mat-tab>
                <mat-tab label="Static Data Maintenance">
                  <div class="links">
                    <button mat-button type="button"  #tooltip="matTooltip" mat-stroked-button color="primary" class="role-btn"
                    matTooltip="{{dashboardTooltip.financierOnboard}}" [matTooltipPosition]="'below'" (click)="this.navigatePages('/icc-group')">Groups</button> 
                    <button mat-button type="button"  #tooltip="matTooltip" mat-stroked-button color="primary" class="role-btn"
                    matTooltip="{{dashboardTooltip.financierOnboard}}" [matTooltipPosition]="'below'" (click)="this.navigatePages('/icc-roles')">Roles</button>
                    <button mat-button type="button"  #tooltip="matTooltip" mat-stroked-button color="primary" class="role-btn"
                    matTooltip="{{dashboardTooltip.financierOnboard}}" [matTooltipPosition]="'below'" (click)="this.navigatePages('/icc-authorize')">Authorization Matrix</button>
                  </div>
                </mat-tab>
                <mat-tab label="Financier Maintenence">
                  <div class="links">
                    <button mat-button type="button"  #tooltip="matTooltip" mat-stroked-button color="primary" class="onboard-btn" 
                    matTooltip="{{dashboardTooltip.financierOnboard}}" [matTooltipPosition]="'below'" (click)="this.navigatePages('/financier-onboarding')">Onboarding</button>
                  </div>


                  <!-- <app-financier-onboarding-list></app-financier-onboarding-list> -->
                  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="financierId">
                      <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
                      matTooltip="{{dashboardTooltip.financierId}}" [matTooltipPosition]="'below'"> Profile Id </th>
                      <td mat-cell *matCellDef="let element"> {{element.profileID}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="financierName">
                      <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
                      matTooltip="{{dashboardTooltip.financierName}}" [matTooltipPosition]="'below'"> Financier Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.financierName}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="regNumber">
                      <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
                      matTooltip="{{dashboardTooltip.regNo}}" [matTooltipPosition]="'below'"> Register No </th>
                      <td mat-cell *matCellDef="let element"> {{element.regNumber}} </td>
                    </ng-container>     
                    
                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef> Action </th>
                      <td mat-cell *matCellDef="let element"> 
                        <a href="javascript:void(0)" (click)="editFinancier(2,'edit')">
                            <mat-icon>edit</mat-icon>
                          </a>&nbsp;
                        <!-- <a href="javascript:void(0)" (click)="openModal($event,template,element)">
                            <mat-icon>visibility</mat-icon>
                        </a> -->
                         </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <div style="text-align: center">
                      <a href="javascript:void(0)"  (click)="financierOnBoardingList()">See More</a>
                  </div>
                </mat-tab>
                <mat-tab label="SME Maintenence">
                  <div class="links">
                    <a routerLink="#">View</a>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>
            <div class="col-md-6">
              <div style="display: block;">
              </div>
            </div>
        </div>
      </div>
    </header>
  </div>