@import "~@ffdc/uxg-angular-theme/lib/core/style/spacing";
@import "./_icc-dashboard.component";

$margin: $uxg-spacing-4 + $uxg-spacing-2; // $margin;
header {
  margin: -32px 24px 0;
  padding: 32px;
  position: relative;
  height: 45%;
  width: 100%;
  .account-services-headline {
    display: flex;
    justify-content: space-between;
    color: white;
    top: 10%;
    padding-bottom: 10px;
    .global-balance {
      z-index: 10;
    }
  }
  .paginator {
    display: flex;
    // align-self: flex-end;
    z-index: 10;
  }
}
.uxg-avatar {
  height: 150px;
  width: 150px;
  // border-radius: 100%;
  margin: 35px;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-items: center;
  display: flex;
  justify-content: center;
} 
.topbar_item{
  &:nth-child(3n + 1) {
      a{
          background: url("/assets/round_trans.svg")  no-repeat 134% 15% / 52% 140%, linear-gradient(180deg, #C694F9, #AB64F4);
      }
  }
  &:nth-child(3n + 2) {
      a{
          background: url("/assets/round_trans.svg") no-repeat 134% 15% / 52% 140%, linear-gradient(180deg,#6AA5E3, #6866E9);
      }
  }
  &:nth-child(3n + 3) {
      a{
          background: url("/assets/round_trans.svg") no-repeat 134% 15% / 52% 140%, linear-gradient(180deg,#FEB683, #FF8993);
      }
  } &:nth-child(3n + 4) {
    a{
        background: url("/assets/round_trans.svg") no-repeat 134% 15% / 52% 140%, linear-gradient(180deg,#bea5d8, #ff89ca);
    }
 }
  .list-group-item{
      border: unset;
      color: white;
  }
}
.app-content {
  bottom: 0;
  left: -66px;
  overflow-x: auto;
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 33px;
  // top: 56px;
}

.accounts-list {
  float: left;
  position: relative;
  overflow: auto;
  z-index: 10;
  width: 100%;
  white-space: nowrap;
  padding-right: 50px;
  margin-left: -30px;
  padding-bottom: 27px;
  uxg-account-card,
  uxg-account-card-skeleton {
    display: inline-grid;
    margin-left: $margin;
  }
}
.uxg-breadcrumb {
  margin-left: 50px !important;
}
.wave {
  margin: $uxg-spacing-0 (-$margin) -5px;
  position: absolute;
  width: 100%;
  top:0;  
  bottom: $uxg-spacing-0;
  z-index: 1;
}
.role-btn{
  margin-right: 15px;
}
@media only screen and (min-width: 377px) and (max-width: 415px) {
  header {
    height: 35%;
    .wave {
      overflow: hidden;
      ::ng-deep svg {
        height: 200px;
      }
    }
    .account-services-headline {
      font-size: $margin;
      .global-balance {
        .uxg-h3,
        p {
          font-size: $uxg-spacing-4;
        }
      }
    }
  }
}

/* Mobile Styles Small Screen */
@media only screen and (max-width: 376px) {
  header {
    margin-bottom: $uxg-spacing-5;
    height: 35%;
    .wave {
      top:0px;
      overflow: hidden;
      ::ng-deep svg {
        height: 200px;
        // height: 200px;
       
      }
    }
    .account-services-headline {
      font-size: $margin;
      .global-balance {
        .uxg-h3,
        p {
          font-size: $uxg-spacing-4;
        }
      }
    }
  }
}
/* Tablet Styles */
@media only screen and (min-width: 500px) and (max-width: 1024px) {
  header {
    margin-bottom: $margin;
    height: 30%;
    .wave {
      overflow: hidden;
      ::ng-deep svg {
        height: 257px; 
        // height: 300px;
      }
    }
  }
  .accounts-list {
    overflow: hidden;
    padding-top: $margin;
  }
  mat-tab-group.mat-tab-group.mat-primary.mat-tab-group-dynamic-height{
    margin-top: 30px;
  }
}
.app-content.active {
  @media only screen and (min-width: 1025px) {
  }
}
/* Desktop Styles */
@media only screen and (min-width: 1025px) {
  .wave {
    top: 0;
    height: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: scaleY(0.95);
  }
  .content {
    padding: $margin $margin * 2 $uxg-spacing-0 $margin;
  }
  .accounts-list {
    overflow: hidden;
  }
}
.uxg-nav {
  position: absolute;
  border: 1px solid #eaeaea;
}
.mat-drawer-container {
  width: 100%;
  // height: 100%;
  background-color: white;
}
.uxg-nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px !important;
}
.finastra-logo {
  width: 150px;
  height: auto;
}
mat-sidenav-container {
  padding: 0;
  position: relative;
}
.uxg-toolbar {
  z-index: 15;
  position: absolute;
}
.links {
  padding: 20px;
  a + a {
    margin-left: 50px;
  }
}
@media screen and (max-width: 575px) {
  .app-content{
      top: 56px;
      left: -28px;
      padding: 5px;
  }
}