<div class="app-content {{isOpen}}">
  <header class="m0p0">
      <br>
      <!-- <div class="table-section"> -->
        <div class="uxg-h4" style="text-align: center">Offer Expired</div>
        <div class="mat-elevation-z8">
          <div class="table-res"> 
          <table mat-table [dataSource]="dataSource" (mouseenter)="isHover=true" 
          (mouseleave)="isHover=false">
            <ng-container matColumnDef="BIDID">
              <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
              matTooltip="{{dashboardTooltip.invoiceId}}" [matTooltipPosition]="'below'">BID ID</th>
              <td mat-cell *matCellDef="let element">
                <!-- <mat-chip-list>
                  <mat-chip > </mat-chip>
              </mat-chip-list> -->
              {{ element.id }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Invoice Amount">
              <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
              matTooltip="{{dashboardTooltip.buyerName}}" [matTooltipPosition]="'below'">Invoice Amount</th>
              <td mat-cell *matCellDef="let element">
                <!-- <mat-chip-list>
                  <mat-chip> </mat-chip>
              </mat-chip-list> -->
              {{ element.invoiceAmt }} 
                </td>
            </ng-container>
      
            <ng-container matColumnDef="BIDing Amount">
              <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
              matTooltip="{{dashboardTooltip.invoiceCreateDate}}" [matTooltipPosition]="'below'">Bidding Amount</th>
              <td mat-cell *matCellDef="let element">
                <!-- <mat-chip-list>
                  <mat-chip>  </mat-chip>
              </mat-chip-list> -->
              {{ element.baseCcyNetAmtPayable }}
                </td>
            </ng-container>
            <ng-container matColumnDef="offer Expires">
              <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
              matTooltip="{{dashboardTooltip.invoiceCreateDate}}" [matTooltipPosition]="'below'">Offer Expires</th>
              <td mat-cell *matCellDef="let element">
                <!-- <mat-chip-list>
                  <mat-chip> </mat-chip>
              </mat-chip-list> -->
              {{ element.offerExpDateTime | date}} 
                </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element"> 
                <a  href="javascript:void(0)" (click)="navigateFinanceDetails(element.id,'edit')">
                    <mat-icon  #tooltip="matTooltip"
                    matTooltip="Edit" [matTooltipPosition]="'below'">edit</mat-icon>
                  </a>&nbsp;
                <a  href="javascript:void(0)" (click)="navigateFinanceDetails(element.id,'view')">
                    <mat-icon  #tooltip="matTooltip"
                    matTooltip="View" [matTooltipPosition]="'below'">visibility</mat-icon>
                </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color:#B4A6EA"></tr>
            <tr mat-row class="BID-Details" *matRowDef="let row; columns: displayedColumns"></tr>
          </table>  
        </div>
        <mat-paginator [hidePageSize]="true" showFirstLastButtons></mat-paginator>
      </div>
  </header>
</div>