<div class="app-content {{isOpen}} ">
    <header>
        <br>
        <h5 class="mmt20">Funding Bids</h5>
        <div class="mat-elevation-z8 table-res">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="invoiceRef">
              <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" mat-sort-header
              matTooltip="{{financierTooltip.tradecommRef}}" [matTooltipPosition]="'below'"> ICC Tradecomm Ref </th>
              <td mat-cell *matCellDef="let element"> 
                <!-- <mat-chip-list>
                       <mat-chip color="primary"  > -->
                           {{element.invoiceRef}} 
                        <!-- </mat-chip>
                   </mat-chip-list> -->
               </td>
            </ng-container>
          
            <ng-container matColumnDef="invoiceId">
              <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" mat-sort-header
              matTooltip="{{financierTooltip.invoiceId}}" [matTooltipPosition]="'below'"> Invoice ID </th>
              <td mat-cell *matCellDef="let element"> 
                <!-- <mat-chip-list>
                       <mat-chip> -->
                           {{element.INV_NO}} 
                        <!-- </mat-chip>
                   </mat-chip-list> -->
               </td>
            </ng-container>
          
            <ng-container matColumnDef="invoiceAmt">
              <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" mat-sort-header
              matTooltip="{{financierTooltip.invoiceAmount}}" [matTooltipPosition]="'below'"> Invoice Amount </th>
              <td mat-cell *matCellDef="let element"> 
                 <!-- <mat-chip-list>
                        <mat-chip> -->
                            {{element.INVOICENO}}
                         <!-- </mat-chip>
                    </mat-chip-list> -->
                </td>
            </ng-container>
          
          
            <ng-container matColumnDef="invDate">
              <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
              matTooltip="{{financierTooltip.invoiceDate}}" [matTooltipPosition]="'below'"> Inv Date  </th>
              <td mat-cell *matCellDef="let element"> 
                 <!-- <mat-chip-list>
                        <mat-chip> -->
                            {{element.INV_DATE && moment(element.INV_DATE).format('DD/MM/YYYY')}} 
                        <!-- </mat-chip>
                    </mat-chip-list> -->
                </td>
            </ng-container>
          
            <ng-container matColumnDef="invDueDate">
              <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
              matTooltip="{{financierTooltip.invoiceDueDate}}" [matTooltipPosition]="'below'"> Inv Due date </th>
              <td mat-cell *matCellDef="let element"> 
                 <!-- <mat-chip-list>
                        <mat-chip> -->
                            {{element.INV_DUE_DATE && moment(element.INV_DUE_DATE).format('DD/MM/YYYY')}}
                         <!-- </mat-chip>
                    </mat-chip-list> -->
                </td>
            </ng-container>
    
            <ng-container matColumnDef="buyer">
                <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" mat-sort-header
                matTooltip="{{financierTooltip.buyerName}}" [matTooltipPosition]="'below'"> Buyer Name </th>
                <td mat-cell *matCellDef="let element"> 
                   <!-- <mat-chip-list>
                          <mat-chip> -->
                              {{element.BUYER_NAME}}
                             <!-- </mat-chip>
                      </mat-chip-list> -->
                  </td>
              </ng-container>
    
              <ng-container matColumnDef="financiercount">
                <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
                matTooltip="{{financierTooltip.financierCount}}" [matTooltipPosition]="'below'"> Count of Financiers </th>
                <td mat-cell *matCellDef="let element"> 
                   <!-- <mat-chip-list>
                          <mat-chip> -->
                              {{element.FINANCIERCOUNT}}
                            <!-- </mat-chip>
                      </mat-chip-list> -->
                  </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element"> 
                  <!-- <a href="javascript:void(0)" (click)="openModal($event,template,element)">
                      <mat-icon>edit</mat-icon>
                    </a>&nbsp; -->
                  <a href="javascript:void(0)" (click)="navigateSmeDetails(element.INV_NO)">
                      <mat-icon  #tooltip="matTooltip"
                      matTooltip="Edit" [matTooltipPosition]="'below'">fact_check</mat-icon>
                  </a>
                   </td>
              </ng-container>
              <ng-container matColumnDef="TopBar">
                <th colspan="8" mat-header-cell *matHeaderCellDef> 
                  <div style="justify-content:flex-end;cursor: pointer;">
                  <span (click)="searchDiv()" class="material-icons">search</span>&nbsp;
                  <span (click)="filterDiv()" class="material-icons">filter_list</span>
                    </div>
                 </th>
              </ng-container>
              <ng-container matColumnDef="Search">
                <th colspan="8" mat-header-cell *matHeaderCellDef> 
                    <h6>Search By</h6>
                  <div class="row">
                      <div class="col-sm-2">
                        <mat-form-field appearance="outline">
                            <mat-label>ICC Tradecomm Ref</mat-label>
                            <input type="text" [(ngModel)]="SearchModel.invoiceRef"matInput />
                          </mat-form-field>
                      </div>
                      <div class="col-sm-2">
                        <mat-form-field appearance="outline">
                            <mat-label>invoice Id</mat-label>
                            <input type="text"[(ngModel)]="SearchModel.invoiceId" matInput />
                          </mat-form-field>
                      </div>
                    
                      <div class="col-sm-2">
                        <mat-form-field appearance="outline">
                        <mat-label>invoiceDate</mat-label>
                        <input matInput readonly="true"  [matDatepicker]="picker"  [(ngModel)]="SearchModel.invoiceDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col-sm-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Invoice Due Date</mat-label>
                            <input matInput readonly="true"  [matDatepicker]="picker1"  [(ngModel)]="SearchModel.invoiceDueDate">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                          </mat-form-field>
                    </div>
                      <div class="col-sm-2">
                        <mat-form-field appearance="outline">
                            <mat-label>buyerName</mat-label>
                            <input type="text" [(ngModel)]="SearchModel.buyerName" matInput />
                          </mat-form-field>
                      </div>
                  </div>
                  <div class="row" style="justify-content: flex-end;padding-bottom: 20px;padding-right: 20px;">
                    <button  mat-raised-button style="color: #5e52a1;" (click)="SearchAPI()">
                        <mat-icon #tooltip="matTooltip"
                        matTooltip="Done" [matTooltipPosition]="'below'">done</mat-icon>  Search
                      </button>&nbsp;
                      <button  mat-raised-button style="color: #5e52a1;" (click)="ResetAPI()">
                        <mat-icon #tooltip="matTooltip"
                        matTooltip="Done" [matTooltipPosition]="'below'">restart_alt</mat-icon>  Reset
                      </button>
                  </div>
                 
                 </th>
              </ng-container>
              <ng-container matColumnDef="Filter">
                <th class="class2" colspan="8" mat-header-cell *matHeaderCellDef> 
                    <div class="row">
                        <div class="col-sm-3">
                            <label>InvoiceAmount</label>
                            <div class="custom-slider">
                            <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
                          </div>
                          </div>
                          <div class="col-sm-3" style="padding-top: 22px;">
                            <mat-form-field appearance="fill">
                                <mat-label>InvoiceDate</mat-label>
                                <mat-date-range-input [rangePicker]="picker">
                                  <input matStartDate placeholder="Start date">
                                  <input matEndDate placeholder="End date">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                              </mat-form-field>
                          </div>
                       
                    </div>
                      <div class="row" style="justify-content: flex-end;padding-bottom: 20px;padding-right: 20px;">
                        <button  mat-raised-button style="color: #5e52a1;">
                            <mat-icon #tooltip="matTooltip"
                            matTooltip="Done" [matTooltipPosition]="'below'">done</mat-icon>  Search
                          </button>&nbsp;
                          <button  mat-raised-button style="color: #5e52a1;">
                            <mat-icon #tooltip="matTooltip"
                            matTooltip="Done" [matTooltipPosition]="'below'">restart_alt</mat-icon>  Reset
                          </button>
                      </div>
                 </th>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumnsload"></tr>
              <tr [hidden]="!searchDivOpen" class="searchInput" mat-header-row *matHeaderRowDef="displayedColumnsearch"></tr>
              <tr [hidden]="!filterDivOpen" mat-header-row *matHeaderRowDef="displayedColumnFilter"></tr> 
            <tr mat-header-row style="background-color:#B4A6EA" *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row class="BID-Details" *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [hidePageSize]="true" showFirstLastButtons></mat-paginator>
        </div>
    </header>
</div>

<div>
    <!-- <button type="button" class="btn btn-primary" >Open modal</button> -->
<ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Sme Bidding</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"  #tooltip="matTooltip"
            matTooltip="{{financierTooltip.close}}" [matTooltipPosition]="'below'">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <!-- Bid Details-->
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="true" (opened)="bidpanelOpenState = true" (closed)="bidpanelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="font-weight:500;color: #a899e4;">
                            Bid Details
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div style="overflow-x:auto;">
                        <table mat-table [dataSource]="dataSourceTwo">
                            <!-- <ng-container matColumnDef="Funding CCY">
                                <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                                matTooltip="{{financierTooltip.bidId}}" [matTooltipPosition]="'below'">Funding CCY</th>
                                <td mat-cell *matCellDef="let financier">{{ financier.fundingCcy }}</td>
                            </ng-container> -->
                            <ng-container matColumnDef="FX rate Base CCY">
                                <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                                matTooltip="{{financierTooltip.financeOffer}}" [matTooltipPosition]="'below'">FX rate</th>
                                <td mat-cell *matCellDef="let financier">{{ financier.fxRate }}</td>
                            </ng-container>
                            <ng-container matColumnDef="Base CCY Amount">
                                <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                                matTooltip="{{financierTooltip.ccy}}" [matTooltipPosition]="'below'">Base CCY Amount</th>
                                <td mat-cell *matCellDef="let financier">{{ financier.baseCcyAmt }}</td>
                            </ng-container>
                            <ng-container matColumnDef="Fundable percentage">
                                <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                                matTooltip="{{financierTooltip.fxRate}}" [matTooltipPosition]="'below'">Fundable percentage</th>
                                <td mat-cell *matCellDef="let financier"><input matInput
                                        value="{{ financier.fundablePercent }}" /></td>
                            </ng-container>
                            <ng-container matColumnDef="Funding Amount">
                                <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                                matTooltip="{{financierTooltip.margin}}" [matTooltipPosition]="'below'">Funding Amount</th>
                                <td mat-cell *matCellDef="let financier"><input matInput
                                        value="{{ financier.baseCcyFundingAmt }}" /></td>
                            </ng-container>
                            <!-- <ng-container matColumnDef="Funding Amount / Repay Amount (Inv CCY)">
                                <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                                matTooltip="{{financierTooltip.discRate}}" [matTooltipPosition]="'below'">Funding Amount / Repay Amount (Inv CCY)</th>
                                <td mat-cell *matCellDef="let financier"><input matInput
                                        value="{{ financier.invCcyFundingAmt }}" />
                                </td>
                            </ng-container> -->
                            <ng-container matColumnDef="Repayment Date">
                                <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                                matTooltip="{{financierTooltip.discAmount}}" [matTooltipPosition]="'below'">Repayment Date</th>
                                <td mat-cell *matCellDef="let financier">{{ financier.repaymentDate }}</td>
                            </ng-container>
                            <!-- <ng-container matColumnDef="Inv Discount  Rate">
                                <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                                matTooltip="{{financierTooltip.netAmount}}" [matTooltipPosition]="'below'">Inv Discount  Rate</th>
                                <td mat-cell *matCellDef="let financier">{{ financier.invDiscRate }}</td>
                            </ng-container>
                            <ng-container matColumnDef="Disc Amt (Base CCY)">
                                <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                                matTooltip="{{financierTooltip.dueDate}}" [matTooltipPosition]="'below'">Disc Amt (Base CCY)</th>
                                <td mat-cell *matCellDef="let financier">{{ financier.baseCcyDiscAmt }}</td>
                            </ng-container>
                            <ng-container matColumnDef="Disc Amt (Inv CCY)">
                                <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                                matTooltip="{{financierTooltip.dueDate}}" [matTooltipPosition]="'below'">Disc Amt (Inv CCY)</th>
                                <td mat-cell *matCellDef="let financier">{{ financier.invCcyDiscAmt }}</td>
                            </ng-container> -->
                            <ng-container matColumnDef="Annual Yield (Basis a360)">
                                <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                                matTooltip="{{financierTooltip.expPeriod}}" [matTooltipPosition]="'below'">Annual Yield</th>
                                <td mat-cell *matCellDef="let financier"><input matInput
                                        value="{{ financier.annualYeild }}" />
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Net Amt payable (Base CCY)">
                                <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                                matTooltip="{{financierTooltip.expPeriod}}" [matTooltipPosition]="'below'">Net Amt payable</th>
                                <td mat-cell *matCellDef="let financier"><input matInput
                                        value="{{ financier.baseCcyNetAmtPayable }}" />
                                </td>
                            </ng-container>
                            <!-- <ng-container matColumnDef="Net Amt payable (Inv CCY)">
                                <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                                matTooltip="{{financierTooltip.expPeriod}}" [matTooltipPosition]="'below'">Net Amt payable (Inv CCY)</th>
                                <td mat-cell *matCellDef="let financier"><input matInput
                                        value="{{ financier.invCcyNetAmtPayable }}" />
                                </td>
                            </ng-container> -->
                            
                            <!-- <ng-container matColumnDef="Offer Exp period">
                                <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                                matTooltip="{{financierTooltip.expPeriod}}" [matTooltipPosition]="'below'">Offer Exp period</th>
                                <td mat-cell *matCellDef="let financier"><input matInput
                                        value="{{ financier.offerExpPeriod }}" />
                                </td>
                            </ng-container> -->
                            <ng-container matColumnDef="Off Exp date /time">
                                <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                                matTooltip="{{financierTooltip.expPeriod}}" [matTooltipPosition]="'below'">Off Exp date /time</th>
                                <td mat-cell *matCellDef="let financier"><input matInput
                                        value="{{ financier.offerExpDateTime }}" />
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Status">
                                <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                                matTooltip="{{financierTooltip.Status}}" [matTooltipPosition]="'below'">Status</th>
                                <td mat-cell *matCellDef="let element">
                                    <label class="switchStatus">
                                        <input class="ng-tns-c8-3 ng-untouched ng-pristine ng-valid" name="block"
                                            type="checkbox" (change)="handleToggle($event,'status')">
                                        <span class="sliderStatus slider round">
                                            <span class="on">REJECT</span>
                                            <span class="off">ACCEPT</span> 
                                        </span>
                                    </label>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsTwo" style="background-color:#B4A6EA">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsTwo"></tr>
                        </table>
                        <button style="float: right;margin: 10px;" type="button" class="btn model-btn-outline" #tooltip="matTooltip"
                        matTooltip="{{financierTooltip.submit}}" [matTooltipPosition]="'below'" (click)="saveFinBid()">Accept</button>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <br>
            <!-- Bid Details-->
            <div class="container-fluid" style="display: none;">
                <div class="row">
                    <div class="col-md-4">
                        <form role="form">
                            <div class="form-group">
                                <label for="exampleInputEmail1">
                                    Invoice Reference
                                </label>
                                <mat-form-field>
                                    <mat-icon matPrefix>person</mat-icon>
                                    <mat-label>Invoice Reference</mat-label>
                                    <input matInput name="invoiceReference" [(ngModel)]="invoiceReference" required>
                                    <mat-hint>Please enter your username</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">
                                    Invoice ID
                                </label>
                                <mat-form-field>
                                    <mat-icon matPrefix>person</mat-icon>
                                    <mat-label>Invoice ID</mat-label>
                                    <input matInput name="invoiceId" [(ngModel)]="invoiceId" required>
                                    <mat-hint>Please enter your username</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">
                                    Buyer Name
                                </label>
                                <mat-form-field>
                                    <mat-icon matPrefix>person</mat-icon>
                                    <mat-label>Invoice Reference</mat-label>
                                    <input matInput name="buyerName" [(ngModel)]="buyerName" required>
                                    <mat-hint>Please enter your username</mat-hint>
                                </mat-form-field>
                            </div>

                        </form>
                    </div>
                    <div class="col-md-4">
                        <form role="form">
                            <div class="form-group">
                                <label for="exampleInputEmail1">
                                    Invoice Date
                                </label>
                                <mat-form-field appearance="fill">
                                    <mat-label>Invoice Date</mat-label>
                                    <input matInput [matDatepicker]="picker">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">
                                    Invoice Due Date
                                </label>
                                <mat-form-field appearance="fill">
                                    <mat-label>Invoice Due Date</mat-label>
                                    <input matInput [matDatepicker]="picker">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">
                                    Amount
                                </label>
                                <mat-form-field>
                                    <mat-icon matPrefix>person</mat-icon>
                                    <mat-label>Invoice Reference</mat-label>
                                    <input matInput name="buyerName" [(ngModel)]="amount" required>
                                    <mat-hint>Amount</mat-hint>
                                </mat-form-field>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <form role="form">
                            <div class="form-group">
                                <label for="exampleInputEmail1">
                                    Invoice Date
                                </label>
                                <mat-form-field appearance="fill">
                                    <mat-label> Invoice Date</mat-label>
                                    <input matInput [matDatepicker]="picker">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">
                                    Invoice Due Date
                                </label>
                                <mat-form-field appearance="fill">
                                    <mat-label> Invoice Due Date</mat-label>
                                    <input matInput [matDatepicker]="picker">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">
                                    Amount
                                </label>
                                <mat-form-field>
                                    <mat-icon matPrefix>person</mat-icon>
                                    <mat-label>Invoice Reference</mat-label>
                                    <input matInput name="buyerName" [(ngModel)]="amount" required>
                                    <mat-hint>Amount</mat-hint>
                                </mat-form-field>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
            <!--Invoice Details-->
            <p style="font-weight: 500; color: #a899e4;margin-left: 14px;">Invoice Details</p>
            <table mat-table [dataSource]="dataSourceInvoiceDetails">
                <ng-container matColumnDef="InvoiceID">
                    <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                    matTooltip="{{financierTooltip.invoiceId}}" [matTooltipPosition]="'below'">Invoice ID</th>
                    <td mat-cell *matCellDef="let element">{{ element.invId }}</td>
                </ng-container>
                <ng-container matColumnDef="InvoiceDate">
                    <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                    matTooltip="{{financierTooltip.invoiceCreateDate}}" [matTooltipPosition]="'below'">Invoice Date</th>
                    <td mat-cell *matCellDef="let element">{{ element.invDate && moment(element.invDate).format('DD/MM/YYYY')}}</td>
                </ng-container>
                <ng-container matColumnDef="smeId">
                    <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                    matTooltip="{{financierTooltip.seller}}" [matTooltipPosition]="'below'">Seller</th>
                    <td mat-cell *matCellDef="let element">{{ element.smeId }}</td>
                </ng-container>
                <ng-container matColumnDef="Buyer">
                    <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                    matTooltip="{{financierTooltip.buyer}}" [matTooltipPosition]="'below'">Buyer</th>
                    <td mat-cell *matCellDef="let element">{{ element.buyerName }}</td>
                </ng-container>
                <ng-container matColumnDef="Amount">
                    <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                    matTooltip="{{financierTooltip.amount}}" [matTooltipPosition]="'below'">Amount</th>
                    <td mat-cell *matCellDef="let element">{{ element.invAmt }}</td>
                </ng-container>
                <!-- <ng-container matColumnDef="InvoiceReference">
                <th mat-header-cell *matHeaderCellDef scope="column">Invoice Reference</th>
                <td mat-cell *matCellDef="let element">{{ element.InvoiceReference }}</td>
            </ng-container>
            <ng-container matColumnDef="InvoiceDueDate">
                <th mat-header-cell *matHeaderCellDef scope="column">Invoice Due Date</th>
                <td mat-cell *matCellDef="let element">{{ element.InvoiceDueDate }}</td>
            </ng-container> -->

                <tr mat-header-row *matHeaderRowDef="displayedInvDetailsColumns" style="background-color:#B4A6EA"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedInvDetailsColumns"></tr>
            </table>
            <!-- Invoice Details-->
            <!-- Goods Details-->
            <mat-accordion>
                <mat-expansion-panel hideToggle></mat-expansion-panel>
                <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="font-weight: 500;
                color: #a899e4; ">
                            Goods Details
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <table mat-table [dataSource]="dataSourceOne">
                        <ng-container matColumnDef="descGoods">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{detailsTooltip.goodDesc}}" [matTooltipPosition]="'below'">Description of Goods</th>
                        <td mat-cell *matCellDef="let element">{{ element.descGoods }}</td>
                        </ng-container>
                        <!-- <ng-container matColumnDef="idNo">
                        <th mat-header-cell *matHeaderCellDef scope="column">ID No</th>
                        <td mat-cell *matCellDef="let element">{{ element.idNo }}</td>
                        </ng-container> -->
                        <!-- <ng-container matColumnDef="dateOfInvoice">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{detailsTooltip.dateInvoice}}" [matTooltipPosition]="'below'">Date Of Invoice</th>
                        <td mat-cell *matCellDef="let element">{{ element.dateOfInvoice }}</td>
                        </ng-container> -->
                        <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{detailsTooltip.quantity}}" [matTooltipPosition]="'below'">Quantity</th>
                        <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
                        </ng-container>
                        <ng-container matColumnDef="rate">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{detailsTooltip.ccyAmount}}" [matTooltipPosition]="'below'">Amt Ccy</th>
                        <td mat-cell *matCellDef="let element">{{ element.amtCcy }}</td>
                        </ng-container>
                        <ng-container matColumnDef="amt">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{detailsTooltip.amount}}" [matTooltipPosition]="'below'">Amount</th>
                        <td mat-cell *matCellDef="let element">{{ element.amt }}</td>
                        </ng-container>
                        <!-- <ng-container matColumnDef="netAmtPay">
                        <th mat-header-cell *matHeaderCellDef scope="column">Net Amount</th>
                        <td mat-cell *matCellDef="let element">{{ element.netAmtPay }}</td>
                        </ng-container>
                        -->
                        <ng-container matColumnDef="taxRate">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{detailsTooltip.taxRate}}" [matTooltipPosition]="'below'">Tax Rate</th>
                        <td mat-cell *matCellDef="let element">{{ element.taxRate }}</td>
                        </ng-container>
                        <ng-container matColumnDef="taxAmount">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{detailsTooltip.taxAmount}}" [matTooltipPosition]="'below'">Tax Amount</th>
                        <td mat-cell *matCellDef="let element">{{ element.taxAmt }}</td>
                        </ng-container>
                        <ng-container matColumnDef="discAmt">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{detailsTooltip.ccyTaxAmount}}" [matTooltipPosition]="'below'">Tax Amt Ccy</th>
                        <td mat-cell *matCellDef="let element">{{ element.taxAmtCcy }}</td>
                        </ng-container>
                        <!-- <ng-container matColumnDef="taxAmountccy">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{detailsTooltip.ccyTaxAmount}}" [matTooltipPosition]="'below'">Tax Amt Ccy</th>
                        <td mat-cell *matCellDef="let element">{{ element.taxAmtCcy }}</td>
                        </ng-container>
                        <ng-container matColumnDef="totalccy">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{detailsTooltip.totalCcy}}" [matTooltipPosition]="'below'">Total Ccy</th>
                        <td mat-cell *matCellDef="let element">{{ element.totalCcy }}</td>
                        </ng-container> -->
                        
                        <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                        matTooltip="{{detailsTooltip.total}}" [matTooltipPosition]="'below'">Total</th>
                        <td mat-cell *matCellDef="let element">{{ element.total }}</td>
                        </ng-container>

                        <ng-container matColumnDef="TotalCurrency">
                            <th mat-header-cell *matHeaderCellDef scope="column">Total Currency</th>
                            <td mat-cell *matCellDef="let element">{{ element.totalCcy }}</td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsOne" style="background-color:#B4A6EA"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsOne"></tr>
                        </table>
                </mat-expansion-panel>
            </mat-accordion>
            <!-- Goods Details-->
        </div>
        <div class="modal-footer">
            <!-- <button type="button" class="btn model-btn-outline">Submit</button> -->
            <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
        </div>
 </ng-template>
</div>