<div class="app-content">
  <header>
    <div class="data-section">
      <h5 class="text-center">{{'questionaireScore.Score Received' | translate}}</h5>

      <form [formGroup]="groupsForm" autocomplete="off" (ngSubmit)="onScoreFormSubmit()">
        <mat-card>
          <mat-card-content>
            <table class="table-responsive inv-table" style="width: 100%;">
              <tbody>
                <tr>
                  <td rowspan="1" colspan="1">
                    <mat-form-field dense class="icc-mat">
                      <mat-label> {{'questionaireScore.Consolidated score' | translate}}</mat-label>
                      <input type="text" matInput formControlName="score" />
                    </mat-form-field>
                  </td>

                  <td rowspan="1" colspan="1">
                    <mat-form-field dense class="icc-mat">
                      <mat-label> {{'questionaireScore.Score State' | translate}}</mat-label>
                      <input type="text" matInput formControlName="state" />
                    </mat-form-field>
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
      </form>

      <br>
      <div class="mat-elevation-z8 table-responsive table-post">
        <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">
          <ng-container matColumnDef="scoreName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'questionaireScore.Score Name' | translate}} </th>
            <td mat-cell *matCellDef="let element">
              {{element.scoreName}}
            </td>
          </ng-container>

          <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" mat-sort-header
              matTooltip="{{'questionaireScore.Score' | translate}}" [matTooltipPosition]="'below'">
              {{'questionaireScore.Score' | translate}}
            </th>
            <td mat-cell *matCellDef="let element">
              {{element.score}}
            </td>
          </ng-container>

          <ng-container matColumnDef="information">
            <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" mat-sort-header
              matTooltip="{{'questionaireScore.Information' | translate}}" [matTooltipPosition]="'below'">
              {{'questionaireScore.Information' | translate}}
            </th>
            <td mat-cell *matCellDef="let element">
              {{element.information && element.information[0] && element.information[0] ? element.information[0].type +
              ':' +element.information[0].message : '-' }}
            </td>
          </ng-container>
          <tr mat-header-row style="background-color:#694ed6e0" *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row class="BID-Details" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </header>
</div>