.app-content {
    bottom: 0;
    left: 0;
    overflow-x: auto;
    padding: 0.6rem;
    position: absolute;
    right: 0;
    top: 40px;
}
.icc-mat{
    padding-right: 10px;
    width: 300px;
    margin-top: 40px;
}
.data-section{
    margin-top: 15px;
}
.green-text{
    color: #32CD32;
}