<div class="app-content">
    <header>
      <div class="data-section">
        <h5 class="text-center">Score Received</h5>

        <form [formGroup]="groupsForm" autocomplete="off" (ngSubmit)="onSubmitgroupsForm()">
        <!-- <h5 class="text-center">Groups</h5> -->
            <mat-card>
          <mat-card-content>
            <table  class="table-responsive inv-table" style="width: 100%;">
              <tbody>
        <tr>
            <td rowspan="1" colspan="1">
                <mat-form-field dense class="icc-mat">
                  <mat-label>Score State</mat-label>
                  <input type="text" matInput formControlName="score" />
                </mat-form-field>
              </td>
                  
    <td rowspan="1" colspan="1">
      <mat-form-field dense class="icc-mat">
        <mat-label>Consolidated score</mat-label>
        <input type="text" matInput formControlName="state" />
      </mat-form-field>
    </td>
    
     <!-- <td rowspan="1" colspan="1">
      <mat-form-field dense class="icc-mat">
        <mat-label>Group Description</mat-label>
        <input type="text" matInput formControlName="groupDescription" />
      </mat-form-field>
    </td>

    <td rowspan="1" colspan="1">      
        <button *ngIf="!isEdit" mat-flat-button color="primary"id=grid>Add</button>
        <button *ngIf="isEdit" mat-flat-button color="primary"id=grid>Update</button>
        </td>  -->
    
  </tr>

</tbody>
</table>
</mat-card-content>
</mat-card>

</form>

<br>
        <div class="mat-elevation-z8 table-responsive table-post">
            <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">
                <!-- <ng-container matColumnDef="scoreAlias">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" mat-sort-header
                    matTooltip="{{groupTooltip.groupCode}}" [matTooltipPosition]="'below'"> Score Alias </th>
                    <td mat-cell *matCellDef="let element">
                                 {{element.scoreAlias}}
                     </td>
                  </ng-container> -->

                <ng-container matColumnDef="scoreName">
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header > Score Name </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.scoreName}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="score">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" mat-sort-header
                        matTooltip="{{groupTooltip.groupDescription}}" [matTooltipPosition]="'below'"> Score
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.score}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="information">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" mat-sort-header
                        matTooltip="{{groupTooltip.groupDescription}}" [matTooltipPosition]="'below'"> Information
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.information && element.information[0] && element.information[0] ? element.information[0].type + ':' +element.information[0].message : '-' }}
                    </td>
                </ng-container>

                <!-- <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let element">
                    <a  href="javascript:void(0)" (click)="getEditData(element)">
                      <mat-icon  #tooltip="matTooltip"
                      matTooltip="Edit" [matTooltipPosition]="'below'">edit</mat-icon>
                    </a>&nbsp;
                     </td>
                </ng-container> -->

                <!-- <tr mat-header-row *matHeaderRowDef="displayedColumnsload"></tr> -->
                <!-- <tr [hidden]="!searchDivOpen" class="searchInput" mat-header-row
                    *matHeaderRowDef="displayedColumnsearch"></tr> -->
                <!-- <tr [hidden]="!filterDivOpen" mat-header-row *matHeaderRowDef="displayedColumnFilter"></tr> -->
                <tr mat-header-row style="background-color:#B4A6EA" *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row class="BID-Details" *matRowDef="let row; columns: displayedColumns;"></tr>               
            </table>
            </div>
</div>
</header>
</div>