@media only screen and (max-width: 1000px)
{

.uxg-breadcrumb
{
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    overflow: hidden;   
    overflow-x: auto;
    background-color: #fff;
    width: 100%;
    margin-left: 0px!important;
    button{    margin-right: -8px;}
    li{font-size: 12px;
        &:last-child{padding-right: 25px;}
    }
    
}
}

.multiselect-dropdown-dsgn{
    width: 300px;
margin: 2px 8px 44px 14px;
// background-color: #f3f1fc;
border-bottom: 1px solid #694ed6;
padding-top: 5px;
border-radius: 3px;
    margin-top: 52px;

}

.mat-form-field{
    padding: 19px 0px 0px 0px;
}
.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex {
    background-color: #eeefee
}
@media only screen and (max-width: 575px){
//     .uxg-breadcrumb
// { 
//     max-width: 350px;     
// }

.uxg-toolbar.mat-toolbar .uxg-toolbar-actions{
    display: flex;
}
.mat-form-field{
    width: 140px;
}
.timedateul, button.mat-focus-indicator.mat-icon-button.mat-button-base.mat-neutral{
    display: none;
}
}

.curs-pointer{
    font: 400 12px/18px Roboto, roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
}
.timedateul
{
    background: #15171512;
    list-style: none;
    margin: 10px;
    padding: 12px;
    line-height: normal;
    border-radius: 6px;
}
.curr-date{
    font-size: 12px;
}
.curr-time{
    font-size: 12px;
}