<mat-toolbar class="uxg-toolbar uxg-toolbar-elevated">

    <div class="uxg-logo" dense></div>
    <ul class="uxg-breadcrumb uxg-breadcrumb-responsive">
        <button mat-icon-button color="accent" class="uxg-breadcrumb-back" (click)="backNavigation()">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <li class="uxg-h6">{{currentHeaderName | translate}}</li>
        <li style="font-weight: 400;
        color: #737171;"  *ngFor="let item of headerPaths" class="curs-pointer" (click)="navigationHeadersPath(item.path)">
            {{item.pathName | translate}}</li>

    </ul>
    <span class="fill-remaining-space"></span>
    <div class="uxg-toolbar-actions">

        <mat-form-field dense class="lang-res">
            <mat-label>{{'navbarComponet.Language' | translate}}</mat-label>
            <mat-icon matPrefix>language</mat-icon>
            <mat-select #selectedLang [value]="translate.currentLang"
                (selectionChange)="setlocalstroageLanguage(selectedLang.value);translate.use(selectedLang.value)">
                <mat-option *ngFor="let lang of languages" [value]="lang.id">
                    {{ lang.nativeName }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <ul class="timedateul">
            <li class="curr-time">Time : {{currentTime}}</li>
            <li class="curr-date">Date : {{currentDate}}</li>
        </ul>
        <!-- <button mat-icon-button color="neutral">
            <mat-icon>notifications</mat-icon>
        </button> -->


    </div>
    <button mat-icon-button [matMenuTriggerFor]="menuHero">
        <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button class="uxg-toolbar-icon-menu">
        <mat-icon>more_vert</mat-icon>
    </button>

</mat-toolbar>
<mat-menu #menuHero="matMenu" class="uxg-user-profile s">
    <div class="uxg-menu-header">
        <div class="uxg-avatar-hero-block">
            <div class="uxg-avatar">U</div>
            <h6 class="uxg-h6">{{userName}}</h6>
            <span class="uxg-caption">{{userDeatils?.companyName || ''}}</span><br>
            <span class="uxg-caption">{{userDeatils?.companyId || ''}}</span>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="uxg-menu-footer">
        <button mat-flat-button color="primary" dense (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            {{'navbarComponet.Logout' | translate}}
        </button>
        <button mat-button color="primary" (click)="profile()" dense>
             {{'navbarComponet.View profile' | translate}}
        </button>
    </div>
</mat-menu>