@media only screen and (max-width: 1000px)
{

.uxg-breadcrumb
{
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    overflow: hidden;   
    overflow-x: auto;
    background-color: #fff;
    width: 100%;
    margin-left: 0px!important;
    button{    margin-right: -8px;}
    li{font-size: 12px;
        &:last-child{padding-right: 25px;}
    }
    
}
}

@media only screen and (max-width: 500px)
{
//     .uxg-breadcrumb
// { 
//     max-width: 350px;     
// }
}