
mat-icon.mat-icon.notranslate.mat-list-icon.material-icons.mat-icon-no-color{
    margin-bottom: 1rem;

}
.mat-nav-list.mat-list-base.uxg-nav-list 
{
    background: #fff;
    position: fixed;
    height: 100%;
}