<button mat-icon-button class="uxg-toolbar-menu" (click)="[this.isOpenHandle(isOpen,'open'),sidenav.toggle()]">
  <mat-icon>menu</mat-icon>
</button>

<mat-sidenav #sidenav mode="over" [(opened)]="opened">
  <mat-nav-list class="uxg-nav-list">
    <a mat-list-item>
      <mat-icon mat-list-icon>home</mat-icon>
      <p>{{'sideBarComponet.Home' | translate}}</p>
    </a>
    <a mat-list-item (click)="navigatePage('/sme-onboarding')"
      *ngIf="roleName == 'sme' && checkRolesPer && checkRolesPer.role == 'admin'">
      <mat-icon mat-list-icon>dashboard</mat-icon>
      <p matBadge="6" class="uxg-side-badge">{{'sideBarComponet.Questionnaire Details' | translate}}</p>
    </a>
    <a mat-list-item (click)="navigatePage('/score-received')"
      *ngIf="roleName == 'sme' && checkRolesPer && checkRolesPer.role == 'admin'">
      <mat-icon mat-list-icon>dashboard</mat-icon>
      <p matBadge="6" class="uxg-side-badge">{{'sideBarComponet.Score Received' | translate}}</p>
    </a>
    <a mat-list-item (click)="navigatePage('/sme-user-creation')"
      *ngIf="roleName == 'sme' && checkRolesPer && checkRolesPer.role == 'admin'">
      <mat-icon mat-list-icon>dashboard</mat-icon>
      <p matBadge="6" class="uxg-side-badge">{{'sideBarComponet.User Creation' | translate}}</p>
    </a>
    <a *ngIf="roleName == 'financier'" mat-list-item (click)="navigatePage('/finanance-limit-maintanance')">
      <mat-icon mat-list-icon>dashboard</mat-icon>
      <p matBadge="6" class="uxg-side-badge">{{'sideBarComponet.Limit Maintanance' | translate}}</p>
    </a>
    <a *ngIf="roleName == 'financier' && checkRolesPer && checkRolesPer.role == 'admin'" mat-list-item
      (click)="navigatePage('/financier-onboarding/edit/'+ this.checkRolesPer.profileID)">

      <mat-icon mat-list-icon>dashboard</mat-icon>
      <p matBadge="6" class="uxg-side-badge">{{'Profile' | translate}}</p>
    </a>
    <a mat-list-item>
      <mat-icon mat-list-icon>dashboard</mat-icon>
      <p matBadge="6" class="uxg-side-badge">{{'sideBarComponet.Applications' | translate}}</p>
    </a>
    <a mat-list-item>
      <mat-icon mat-list-icon>notifications</mat-icon>
      <p>{{'sideBarComponet.Notifications' | translate}}</p>
    </a>
    <a mat-list-item>
      <mat-icon mat-list-icon>extension</mat-icon>
      <p>{{'sideBarComponet.Tools' | translate}}</p>
    </a>
    <a mat-list-item>
      <mat-icon mat-list-icon>settings</mat-icon>
      <p>{{'sideBarComponet.Settings' | translate}}</p>
    </a>

    <mat-divider></mat-divider>

    <a mat-list-item>
      <mat-icon mat-list-icon>help</mat-icon>
      <p>{{'sideBarComponet.Help' | translate}}</p>
    </a>

    <a mat-list-item>
      <mat-icon mat-list-icon>power_settings_new</mat-icon>
      <p>{{'sideBarComponet.Sign out' | translate}}</p>
    </a>
  </mat-nav-list>

</mat-sidenav>
