<div class="app-content">
    <header>
      <div class="data-section">
        <form [formGroup]="groupsForm" autocomplete="off" (ngSubmit)="onSubmitgroupsForm()" #formDirective="ngForm">
        <h5 class="text-center">Authorization Matrix</h5>
            <mat-card>
          <mat-card-content>
            <table  class="table-responsive inv-table">
              <tbody>
  
  <tr>
         
    <td rowspan="1" colspan="1">
      <mat-form-field dense class="icc-mat">
        <mat-label>Slab</mat-label>
        <input type="text" matInput value="" formControlName="slab" />
      </mat-form-field>
    </td>

    <td rowspan="1" colspan="1">
      <mat-form-field dense class="icc-mat">
        <mat-label>SME/FIN</mat-label>
        <input type="text" matInput value="" formControlName="smefin" />
      </mat-form-field>
    </td>
    <td rowspan="1" colspan="1">
      <mat-form-field dense class="icc-mat">
        <mat-label>Currency</mat-label>
        <input type="text" matInput value="" formControlName="currency" />
      </mat-form-field>
    </td>

    <td rowspan="1" colspan="1">
      <mat-form-field dense class="icc-mat">
        <mat-label>From Amount</mat-label>
        <input type="number" matInput value="" formControlName="fromAmt" />
      </mat-form-field>
    </td>

   
    
  </tr>

  <tr>
    <td rowspan="1" colspan="1">
      <mat-form-field dense class="icc-mat">
        <mat-label>To Amount</mat-label>
        <input type="number" matInput value="" formControlName="toAmt" />
      </mat-form-field>
    </td>

    <td rowspan="1" colspan="1">
      <mat-form-field dense class="icc-mat">
        <mat-label>No of persons</mat-label>
        <input type="number" matInput value="" formControlName="noofPersons" />
      </mat-form-field>
    </td>
  
    <td rowspan="1" colspan="1">      
        <!-- <button  mat-flat-button color="primary"id=grid>Add</button> -->
        <button *ngIf="!isEdit" mat-flat-button color="primary"id=grid>Add</button>
        <button *ngIf="isEdit" mat-flat-button color="primary"id=grid>Update</button>
        </td>
  </tr>
  
  </tbody>
  </table>
  </mat-card-content>
  </mat-card>
  
  </form>
  
  <br>
        <div class="mat-elevation-z8 table-responsive table-post">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="slab">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" mat-sort-header
                    matTooltip="{{groupTooltip.slab}}" [matTooltipPosition]="'below'"> Slab </th>
                    <td mat-cell *matCellDef="let element">
                                 {{element.slab}}
                     </td>
                  </ng-container>

                  <ng-container matColumnDef="smefin">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" mat-sort-header
                        matTooltip="{{groupTooltip.fromAmt}}" [matTooltipPosition]="'below'"> Sme/Fin </th>
                    <td mat-cell *matCellDef="let element"> 
                        {{element.smefin}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="currency">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" mat-sort-header
                        matTooltip="{{groupTooltip.toAmt}}" [matTooltipPosition]="'below'"> Currency </th>
                    <td mat-cell *matCellDef="let element"> 
                        {{element.currency}}
                    </td>
                </ng-container>
  
                <ng-container matColumnDef="fromAmt">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" mat-sort-header
                        matTooltip="{{groupTooltip.fromAmt}}" [matTooltipPosition]="'below'"> From Amount </th>
                    <td mat-cell *matCellDef="let element"> 
                        {{element.fromAmt}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="toAmt">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" mat-sort-header
                        matTooltip="{{groupTooltip.toAmt}}" [matTooltipPosition]="'below'"> From Amount </th>
                    <td mat-cell *matCellDef="let element"> 
                        {{element.toAmt}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="noofPersons">
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header
                       > No of persons </th>
                    <td mat-cell *matCellDef="let element"> 
                        {{element.noofPersons}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> {{'Action' | translate}} </th>
                  <td mat-cell *matCellDef="let element">
                    <a  href="javascript:void(0)" (click)="getEditData(element)">
                      <mat-icon  #tooltip="matTooltip"
                      matTooltip="Edit" [matTooltipPosition]="'below'">edit</mat-icon>
                    </a>&nbsp;
                     </td>
                </ng-container>
  
                <!-- <ng-container matColumnDef="groupDescription">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" mat-sort-header
                        matTooltip="{{groupTooltip.groupDescription}}" [matTooltipPosition]="'below'"> Group Description
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.groupDescription}}
                    </td>
                </ng-container> -->
                <!-- <tr mat-header-row *matHeaderRowDef="displayedColumnsload"></tr> -->
                <!-- <tr [hidden]="!searchDivOpen" class="searchInput" mat-header-row
                    *matHeaderRowDef="displayedColumnsearch"></tr> -->
                <!-- <tr [hidden]="!filterDivOpen" mat-header-row *matHeaderRowDef="displayedColumnFilter"></tr> -->
                <tr mat-header-row style="background-color:#B4A6EA" *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row class="BID-Details" *matRowDef="let row; columns: displayedColumns;"></tr>               
            </table>
            </div>
  </div>
  </header>
  </div>