<div class="uxg-toolbar-actions" style="height: 32px;width: 50px;padding: 8px 0px 0px 1108px;">
    <div class="language">
        <mat-form-field dense>
            <mat-label>Language</mat-label>
            <mat-icon matPrefix>language</mat-icon>
            <mat-select #selectedLang [value]="translate.currentLang"
                (selectionChange)="setlocalstroageLanguage(selectedLang.value);translate.use(selectedLang.value)">
                <mat-option *ngFor="let lang of languages" [value]="lang.id">
                    {{ lang.nativeName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="uxg-login-page">
    <div class="uxg-login-container">
        <span class="fill-remaining-space"></span>
        <img src="../../../assets/img/icctradelogo.png" class="log-logo" />
        <form>
            <mat-form-field>
                <mat-icon matPrefix>person</mat-icon>
                <mat-label>User Name</mat-label>
                <input matInput name="username" [(ngModel)]="username" required>
                <mat-hint>Please enter your username</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-icon matPrefix>lock</mat-icon>
                <mat-label>Password</mat-label>
                <input matInput name="password" [(ngModel)]="password" required [type]="hide ? 'password' : 'text'">
                <button mat-icon-button (click)="hide = !hide" color="primary" matSuffix #tooltip="matTooltip"
                    matTooltip="{{loginTooltip.shwPwd | translate}}" [matTooltipPosition]="'below'">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-hint>Please enter your password</mat-hint>
            </mat-form-field>
            <button mat-flat-button (click)="login($event,template)" color="primary" #tooltip="matTooltip"
                matTooltip="{{loginTooltip.login | translate}}" [matTooltipPosition]="'below'">
                Login
            </button>
        </form>
        <div class="login-actions">
            <span class="uxg-body-3">Don't have an account? </span>
            <a style="text-decoration:underline" routerLink="/signup" color="primary" #tooltip="matTooltip"
                matTooltip="{{loginTooltip.signup | translate}}" [matTooltipPosition]="'below'">
                Sign Up
            </a>
        </div>
        <span class="fill-remaining-space"></span>
    </div>
    <div class="uxg-illustration-container">
    </div>
</div>
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Info</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <p>You are not Activated yet.</p>
    </div>
    <div class="modal-footer" style="justify-content: center;">
        <button type="button" (click)="dashboardNavigate()" class="btn model-btn-outline">Ok</button>
    </div>
</ng-template>