<div class="app-content">
    <header>
      <div class="data-section">
        <form [formGroup]="groupsForm" autocomplete="off" (ngSubmit)="onSubmitgroupsForm()" #formDirective="ngForm">
        <h5 class="text-center"> {{'ICCGroups.Groups' | translate}}</h5>
            <mat-card>
          <mat-card-content>
            <table  class="table-responsive inv-table">
              <tbody>

<tr>
                  
    <td rowspan="1" colspan="1">
      <mat-form-field dense class="icc-mat">
        <mat-label>{{'ICCGroups.Group Code' | translate}}</mat-label>
        <input type="text" matInput formControlName="groupCode" />
      </mat-form-field>
    </td>
    <td rowspan="1" colspan="1">
      <mat-form-field dense class="icc-mat">
        <mat-label>{{'ICCGroups.Group Name' | translate}}</mat-label>
        <input type="text" matInput formControlName="groupName" />
      </mat-form-field>
    </td>
    <td rowspan="1" colspan="1">
      <mat-form-field dense class="icc-mat">
        <mat-label>{{'ICCGroups.Group Description' | translate}}</mat-label>
        <input type="text" matInput formControlName="groupDescription" />
        <!-- <mat-hint>Please enter Buyer Address </mat-hint> -->
      </mat-form-field>
    </td>

    <td rowspan="1" colspan="1">      
        <button *ngIf="!isEdit" mat-flat-button color="primary"id=grid>{{'ICCGroups.Add' | translate}}</button>
        <button *ngIf="isEdit" mat-flat-button color="primary"id=grid>{{'ICCGroups.Update' | translate}}</button>

        <!-- #tooltip="matTooltip"
        matTooltip="{{biddingTooltip.invoiceAmount}}"
        [matTooltipPosition]="'below'" -->
        </td>
    
  </tr>

</tbody>
</table>
</mat-card-content>
</mat-card>

</form>

<br>
        <div class="mat-elevation-z8 table-responsive table-post">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="groupCode">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" mat-sort-header
                    matTooltip="{{groupTooltip.groupCode}}" [matTooltipPosition]="'below'"> {{'ICCGroups.Group Code' | translate}} </th>
                    <td mat-cell *matCellDef="let element">
                                 {{element.groupCode}}
                     </td>
                  </ng-container>

                <ng-container matColumnDef="groupName">
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header
                        > {{'ICCGroups.Groups' | translate}} </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.groupName}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="groupDescription">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" mat-sort-header
                        matTooltip="{{groupTooltip.groupDescription}}" [matTooltipPosition]="'below'"> {{'ICCGroups.Group Description' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.groupDescription}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> {{'Action' | translate}} </th>
                  <td mat-cell *matCellDef="let element">
                    <a  href="javascript:void(0)" (click)="getEditData(element)">
                      <mat-icon  #tooltip="matTooltip"
                      matTooltip="Edit" [matTooltipPosition]="'below'">{{'ICCGroups.edit' | translate}}</mat-icon>
                    </a>&nbsp;
                     </td>
                </ng-container>

                <!-- <tr mat-header-row *matHeaderRowDef="displayedColumnsload"></tr> -->
                <!-- <tr [hidden]="!searchDivOpen" class="searchInput" mat-header-row
                    *matHeaderRowDef="displayedColumnsearch"></tr> -->
                <!-- <tr [hidden]="!filterDivOpen" mat-header-row *matHeaderRowDef="displayedColumnFilter"></tr> -->
                <tr mat-header-row style="background-color:#B4A6EA" *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row class="BID-Details" *matRowDef="let row; columns: displayedColumns;"></tr>               
            </table>
            </div>
</div>
</header>
</div>