


<div class="app-content {{isOpen}} ">
    <header>
      <div class="data-section">
        <form [formGroup]="userForm" autocomplete="off" (ngSubmit)="onSubmitUserForm()">
            <div class="row dis-block">
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="National ID​">​ {{'FinancieruserCreation.CompRegId' | translate}}
                      </label>
                      <mat-form-field dense class="readOnlyCls">
                        <input type="text" (blur)="blurFunction()" onblur="blurFunction()" placeholder="{{'FinancieruserCreation.CompRegId' | translate}}" matInput formControlName="finDetailId" [readonly]="true"/>
                        <mat-error *ngIf="hasError('finDetailId', 'required')"> {{'FinancieruserCreation.EnterCompReg' | translate}}</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="First name​">​ {{'FinancieruserCreation.FirstName' | translate}}
                      </label>
                      <mat-form-field dense>
                        <mat-icon matPrefix>person</mat-icon>
                        <input type="text" placeholder="{{'FinancieruserCreation.FirstName' | translate}}" matInput formControlName="firstName" />
                        <mat-error *ngIf="hasError('firstName', 'required')">{{'FinancieruserCreation.EnterFirstname' | translate}}</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="First name​"> {{'FinancieruserCreation.LastName' | translate}}
                      </label>
                      <mat-form-field dense>
                        <mat-icon matPrefix>person</mat-icon>
                        <input type="text" matInput placeholder="{{'FinancieruserCreation.LastName' | translate}}" formControlName="lastName" />
                        <mat-error *ngIf="hasError('email', 'required')"> {{'FinancieruserCreation.Enterlastname' | translate}}</mat-error>
                      </mat-form-field>
                    </div>
            </div>
          </div>

          <div class="row dis-block">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="National ID​"> {{'FinancieruserCreation.EmailId' | translate}}
                  </label>
                  <mat-form-field dense>
                    <mat-icon matPrefix>email</mat-icon>
                    <input type="text" matInput placeholder="{{'FinancieruserCreation.EmailId' | translate}}" formControlName="email" />
                    <mat-error *ngIf="hasError('email', 'required')"> {{'FinancieruserCreation.EnterEmail' | translate}}</mat-error>
                  </mat-form-field>
                </div>
              </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="National ID​"> {{'FinancieruserCreation.PhoneNo' | translate}}</label>
                    <mat-form-field dense>
                      <mat-icon matPrefix>call</mat-icon>
                      <input type="number" matInput placeholder="{{'FinancieruserCreation.PhoneNo' | translate}}" formControlName="contactNo" />
                      <mat-error *ngIf="hasError('contactNo', 'required')"> {{'FinancieruserCreation.EnterPhoneNo' | translate}}</mat-error>
                    </mat-form-field>
                  </div>
                </div>     
                
                <div class="col-sm-4">
                  <div class="form-group">
                     <label for="First name​"> {{'FinancieruserCreation.Group' | translate}}
                     </label>
                     <mat-form-field dense>
                         <mat-label>{{'FinancieruserCreation.Group' | translate}}</mat-label>
                        <mat-select formControlName="profileType">
                          <!-- <mat-option>None</mat-option> -->
                          <!-- <mat-option value="SME">SME</mat-option>
                          <mat-option value="ICC">ICC</mat-option> -->
                          <mat-option value="FINANCE">FINANCE</mat-option>
                        </mat-select>
                        <mat-error *ngIf="hasError('profileType', 'required')">{{'ICCGroups.EnterGroup' | translate}}</mat-error>
                     </mat-form-field>
                  </div>
              </div>
          </div>
         
          <div class="row dis-block">
                    <div class="col-sm-4">
                        <div class="form-group">
                           <label for="First name​"> {{'FinancieruserCreation.Role' | translate}}
                           </label>
                           <mat-form-field dense>
                               <mat-label>{{'FinancieruserCreation.Role' | translate}}</mat-label>
                              <mat-select formControlName="role">
                                <mat-option>None</mat-option>
                                <mat-option value="Input">Input</mat-option>
                                <mat-option value="Authorise">Authorise</mat-option>
                              </mat-select>
                              <mat-error *ngIf="hasError('role', 'required')"> {{'FinancieruserCreation.EnterRole' | translate}}</mat-error>
                           </mat-form-field>
                        </div>
                    </div>
          </div>
                <div class="row" style="padding-bottom: inherit;justify-content: flex-end;">
                        <button mat-raised-button color="primary" >{{'Submit' | translate}}</button>
                        <button type="button" mat-raised-button color="warn"  (click)="gobackPage()">{{'Cancel' | translate}}</button>
                </div>
      </form>
      </div>
    </header>
  </div>
  