<div class="app-content {{isOpen}} ">
    <header class="mmt20">
        <div class="account-services-headline">
            <ng-template #loadingGlobalBalance>
                <div style="z-index: 10">
                    <uxg-skeleton-text style="width: 300px; height: 50px;" animated></uxg-skeleton-text>
                    <uxg-skeleton-text style="width: 300px; height: 40px;" animated></uxg-skeleton-text>
                </div>
            </ng-template>
            <div class="paginator">
                <button mat-icon-button (click)="scrollLeft()" [disabled]="start">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
                <button mat-icon-button (click)="scrollRight()" [disabled]="end">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
            </div>
        </div>
        <ng-container>
            <div #accountList class="accounts-list">
                <uxg-account-card class="curs-pointer"
                    name="{{'SMEDashboardComponent.Open Funding Requests' | translate}}"
                    number="{{getSumOfOpenFinBidding?.CCY || 'SGD'}} {{getSumOfOpenFinBidding?.AMOUNT? getSumOfOpenFinBidding?.AMOUNT : '0'}}"
                    #tooltip="matTooltip" matTooltip="{{dashboardTooltips.bidDetails | translate}}"
                    [matTooltipPosition]="tooltipPosition" (click)="this.navigateFinancieForBidding()">
                </uxg-account-card>

                <uxg-account-card class="curs-pointer tile-name"
                    name="{{'SMEDashboardComponent.Funding Bids' | translate}}"
                    number="{{getSumofFundingBids?.INVCURRENCY || 'SGD'}} {{getSumofFundingBids?.AMOUNT? getSumofFundingBids?.AMOUNT : '0'}}"
                    #tooltip="matTooltip" matTooltip="{{dashboardTooltips.financeBidReceive | translate}}"
                    [matTooltipPosition]="tooltipPosition" (click)="this.navigateFinancierBidding()"></uxg-account-card>

                <uxg-account-card class="curs-pointer dash-name" name="{{'SMEDashboardComponent.Funded' | translate}}"
                    #tooltip="matTooltip" matTooltip="{{dashboardTooltips.acceptedDetails | translate}}"
                    [matTooltipPosition]="tooltipPosition" (click)="this.navigateAcceptedFinance()"
                    number="{{getsumOfFunded?.INVTOTALAMT? getsumOfFunded?.INVCCY + ' ' +getsumOfFunded?.INVTOTALAMT : '0'}}">
                </uxg-account-card>

                <uxg-account-card class="curs-pointer"
                    name="{{'SMEDashboardComponent.Repayments Due Today' | translate}}" #tooltip="matTooltip"
                    matTooltip="{{dashboardTooltips.todayDue | translate}}" (click)="this.navigateAcceptedRepayment()"
                    [matTooltipPosition]="tooltipPosition" number="SGD 0"></uxg-account-card>
                <uxg-account-card class="curs-pointer" name="{{'SMEDashboardComponent.Repayments Overdue' | translate}}"
                    #tooltip="matTooltip" matTooltip="{{dashboardTooltips.pastDue | translate}}"
                    (click)="this.navigateRepaymentOverDue()" [matTooltipPosition]="tooltipPosition" number="SGD 0">
                </uxg-account-card>
            </div>
        </ng-container>


        <!-- <button (click)="this.navigateInvoiceCreation('manual')">Click</button> -->
        <mat-menu #menu="matMenu">
            <div
                [matTooltip]="this.userDetails.status === 'D' ? 'You can not access the features of ICC Tradecomm' : this.userDetails.status === 'I' ? 'You can not access the features of ICC Tradecomm' : null">
                <button
                    [disabled]="this.userDetails.status === 'D'? true : this.userDetails.status === 'I' ? true : false"
                    (click)="onRequestChange('manual')" style="color: #7c49cb;" mat-menu-item>
                    <i class="fas fa-2x fa-file-invoice"></i>&nbsp;
                    <span>
                        {{'Invoice Request Manual' | translate}}
                    </span>
                </button>
            </div>
            <div
                [matTooltip]="this.userDetails.status === 'D' ? 'You can not access the features of ICC Tradecomm' : this.userDetails.status === 'I' ? 'You can not access the features of ICC Tradecomm' : null">
                <input hidden #uploader type="file" accept=".xlsx,.xls,.csv,.pdf" (change)="onFileChange($event)" />
                <button
                    [disabled]="this.userDetails.status === 'D'? true : this.userDetails.status === 'I' ? true : false"
                    [matTooltip]="this.userDetails.status === 'D' ? 'Deactive' : null" style="color: #7c49cb;"
                    (click)="uploader.click()" mat-menu-item>
                    <i class="fas fa-2x fa-upload"></i>&nbsp;
                    <span>
                        {{'Invoice Request Upload' | translate}}
                    </span>
                </button>
            </div>
            <div
                [matTooltip]="this.userDetails.status === 'D' ? 'You can not access the features of ICC Tradecomm' : this.userDetails.status === 'I' ? 'You can not access the features of ICC Tradecomm' : null">
                <button
                    [disabled]="this.userDetails.status === 'D'? true : this.userDetails.status === 'I' ? true : false"
                    (click)="onRequestChange('repository')" style="color: #7c49cb;" mat-menu-item>
                    <i class="fas fa-2x fa-file-invoice"></i>&nbsp;
                    <span>
                        {{'Invoice repository Download' | translate}}
                    </span>
                </button>
            </div>
        </mat-menu>

        <!-- </div> -->
        <div class="wave" [inlineSVG]="'/assets/wave.svg'"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="row">
                        <div class="col-md-12 col-xl-6 col-12 space-p">
                            <div class="col-md-3 col-12 space-p space-m" style="margin-bottom: 40px;">
                                <div class="trans-table">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h6>{{'Finance Maturity' | translate}}</h6>
                                        </div>
                                    </div>
                                    <div>
                                        <table class="table-bordered table" id="customers">
                                            <tr>
                                                <th style="text-align: center;" #tooltip="matTooltip"
                                                    matTooltip="{{dashboardTooltips.financePeriod | translate}}"
                                                    [matTooltipPosition]="tooltipPosition">{{'Period' | translate}}</th>
                                                <th style="text-align: center;" #tooltip="matTooltip"
                                                    matTooltip="{{dashboardTooltips.financeNumber | translate}}"
                                                    [matTooltipPosition]="tooltipPosition">{{'Number' | translate}}</th>
                                                <th style="text-align: center;" #tooltip="matTooltip"
                                                    matTooltip="{{dashboardTooltips.financeAmount | translate}}"
                                                    [matTooltipPosition]="tooltipPosition">{{'Amount' | translate}}</th>
                                            </tr>
                                            <tr *ngFor="let getFinMaturityDatas of getFinMaturityData">
                                                <td style="text-align: center;">{{getFinMaturityDatas.PERIOD}}</td>
                                                <td style="text-align: center;">{{getFinMaturityDatas.NUMBER}}</td>
                                                <td style="text-align: center;">{{getFinMaturityDatas.AMOUNT}}</td>
                                            </tr>
                                            <tr *ngIf="!getFinMaturityData?.length">
                                                <td style="text-align: center;" colspan="3">{{'No Records Found' | translate}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-12 space-p">
                                <div class="trans-table">
                                    <div class="">
                                        <div class="row">
                                            <div class="col-md-12 col-12">
                                                <h6>{{'Finance Size' | translate}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table-bordered table" id="customers">
                                        <tr>
                                            <th style="text-align: center;" #tooltip="matTooltip"
                                                matTooltip="{{dashboardTooltips.financeNo | translate}}"
                                                [matTooltipPosition]="tooltipPosition">{{'Invoice size' | translate}}
                                            </th>
                                            <th style="text-align: center;" #tooltip="matTooltip"
                                                matTooltip="{{dashboardTooltips.financeMonth | translate}}"
                                                [matTooltipPosition]="tooltipPosition">{{'Number' | translate}}</th>
                                            <th style="text-align: center;" #tooltip="matTooltip"
                                                matTooltip="{{dashboardTooltips.financePeriodAmount | translate}}"
                                                [matTooltipPosition]="tooltipPosition">{{'Amount' | translate}}</th>
                                        </tr>
                                        <tr *ngFor="let getFinnSizeDatas of getFinnSizeData">
                                            <td style="text-align: center;">{{getFinnSizeDatas.INVOICE_SIZE}}</td>
                                            <td style="text-align: center;">{{getFinnSizeDatas.NUMBER}}</td>
                                            <td style="text-align: center;">{{getFinnSizeDatas.AMOUNT}}</td>
                                        </tr>
                                        <tr *ngIf="!getFinnSizeData?.length">
                                            <td style="text-align: center;" colspan="3">{{'No Records Found' | translate}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xl-6">
                            <div class="row">
                                <div class="col-md-10 topbar_item">
                                    <a [routerLinkActive]="['router-link-active']" [matMenuTriggerFor]="menu"
                                        class="list-group-item text-center tablecolour">
                                        <i class="fas fa-2x fa-file-invoice"></i>
                                        <p class="mb-0 mt-1"><span>+ {{'Funding Request' | translate}} </span></p>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h6>{{'Chart' | translate}}</h6>
                                    <ng-container>
                                        <div class="chart {{isOpen}}">
                                            <div class="col-lg-10 grid-margin stretch-card p-0">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div style="display: block;">
                                                            <canvas baseChart [chartType]="chartType"
                                                                [datasets]="chartData" [labels]="chartLabels"
                                                                [colors]="chartColors" [options]="chartOptions"
                                                                [legend]="true" (chartHover)="chartHovered($event)">
                                                            </canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>