@import "~@ffdc/uxg-angular-theme/lib/core/style/spacing";
@import "./_sme-dashboard.component";

$margin: $uxg-spacing-4 + $uxg-spacing-2; // $margin;

header {
    // margin: -$margin (-$margin) $uxg-spacing-0;
    margin: -32px 30px 0;
    padding: $margin;
    position: relative;
    height: 45%;
    width: 100%;

    .account-services-headline {
        display: flex;
        justify-content: space-between;
        color: white;
        .global-balance {
            z-index: 10;
        }
    }

    .paginator {
        display: flex;
        align-self: flex-end;
        z-index: 10;
    }
}

.app-content {
    bottom: 0;
    // left: 0;
    left: -50px;
    overflow-x: auto;
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 33px;
}
.topbar_item{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    &:nth-child(3n + 1) {
        a{
            background: url("/assets/round_trans.svg")  no-repeat 134% 15% / 52% 140%, linear-gradient(180deg, #C694F9, #AB64F4);
        }
    }
    &:nth-child(3n + 2) {
        a{
            background: url("/assets/round_trans.svg") no-repeat 134% 15% / 52% 140%, linear-gradient(180deg,#6AA5E3, #6866E9);
        }
    }
    &:nth-child(3n + 3) {
        a{
            background: url("/assets/round_trans.svg") no-repeat 134% 15% / 52% 140%, linear-gradient(180deg,#FEB683, #FF8993);
        }
    } &:nth-child(3n + 4) {
      a{
          background: url("/assets/round_trans.svg") no-repeat 134% 15% / 52% 140%, linear-gradient(180deg,#bea5d8, #ff89ca);
      }
   }
    .list-group-item{
        border: unset;
        color: white;
    }
  }
  .mat-menu-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: 48px;
    height: 48px;
    padding: 0px 50px 0px 12px;
    text-align: left;
    text-decoration: none;
    max-width: 300px;
    position: relative;
}
.accounts-list {
    // float: left;
    // position: relative;
    // overflow: auto;
    // z-index: 10;
    // width: 100%;
    // white-space: nowrap;
    // padding-right: $margin * 2;
    // margin-left: -$margin;
    // padding-bottom: 3px;
    float: left;
    position: relative;
    overflow: auto;
    z-index: 10;
    width: 100%;
    white-space: nowrap;
    padding-right: 50px;
    margin-left: -30px;
    padding-bottom: 27px;

    uxg-account-card,
    uxg-account-card-skeleton {
        display: inline-grid;
        margin-left: $margin;
    }
}

.uxg-breadcrumb {
    margin-left: 50px !important;
}

.wave {
    margin: $uxg-spacing-0 (-$margin) -5px;
    position: absolute;
    width: 100%;
    top: $uxg-spacing-0;
    bottom: $uxg-spacing-0;
    z-index: 1;
}

a.list-group-item.text-center.tablecolour.mat-menu-trigger{
    cursor: pointer;
    width: 378px;
}

.space-m{
    margin-top: 30px;
}

@media only screen and (min-width: 377px) and (max-width: 415px) {
    header {
        height: 35%;
        margin-left: 5px;

        .wave {
            overflow: hidden;
            ::ng-deep svg {
                height: 200px;
            }
        }

        .account-services-headline {
            font-size: $margin;

            .global-balance {
                .uxg-h3,
                p {
                    font-size: $uxg-spacing-4;
                }
            }
        }
    }
}

/* Mobile Styles Small Screen */
@media only screen and (max-width: 376px) {
    header {
        margin-bottom: $uxg-spacing-5;
        height: 35%;
        margin-left: 5px;
        .wave {
            overflow: hidden;
            ::ng-deep svg {
                height: 200px;
            }
        }

        .account-services-headline {
            font-size: $margin;

            .global-balance {
                .uxg-h3,
                p {
                    font-size: $uxg-spacing-4;
                }
            }
        }
    }
}

/* Tablet Styles */
@media only screen and (min-width: 500px) and (max-width: 1024px) {
    header {
        margin-bottom: $margin;
        height: 30%;

        .wave {
            overflow: hidden;
            ::ng-deep svg {
               height: 219px;
                 // height: 300px;
            }
        }
    }

    .accounts-list {
        overflow: auto;
        padding-top: $margin;
    }
    .topbar_item{
        margin-bottom: 20px;
        margin-top: 30px;
        display: block;
    }
    .trans-table{
        height: auto;
        padding-left: 12px;
        width: 600px;
    }
    table#customers{
        width: 600px;
    }
    .space-p{
        padding: 0;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .trans-table{
        height: auto;
        padding-left: 12px;
        width: 800px;
    }
    table#customers{
        width: 800px;
    }
    .space-p{
        padding: 0;
    }
}

.app-content.active{
    @media only screen and (min-width: 1025px) {
        .wave {
            top: -50%;
        }
    }
}

/* Desktop Styles */
@media only screen and (min-width: 1025px) {
    .wave {
        // top: -10%;
        top: -22%;
        height: 100px;
    }

    .content {
        padding: $margin $margin * 2 $uxg-spacing-0 $margin;
    }

    .accounts-list {
        overflow: auto;
        // padding-top: $margin;
        // padding-top: $margin;
    }
}

.uxg-nav {
    position: absolute;
    // height: 850px;
    border: 1px solid #eaeaea;
}

.mat-drawer-container {
    width: 100%;
    // height: 100%;
    background-color: white;
}

.uxg-nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px !important;
}

.finastra-logo {
    width: 150px;
    height: auto;
}
mat-sidenav-container {
    padding: 0;
    position: relative;
}

.uxg-toolbar {
    z-index: 15;
    position: absolute;
}


.app-content.inActive
{
// margin-left: 300px;
}

.chart.inActive{
   margin-left: auto;
}

.tableView.inActive{
    margin-left: 300px;
}
mat-card-content[_ngcontent-njk-c181]
{
    display: grid;
     grid-template-columns: 0fr 0fr 0fr 0fr !important;
    grid-column-gap: 8px;
    grid-template-areas:
        "icon name name menu"
        "icon balance balance balance";
}
.btn-outline {
    color: #7c49cb;
    background-color: transparent; 
    background-image: none;
    border-color: #7c49cb;
    padding: "";
    margin-left: -11px;
    height: 45px;
}
///Resp
@media screen and (max-width: 575px) {
.app-content{
    top: 56px;
    left: -28px;
    padding: 5px;
}
.topbar_item{
    margin-bottom: 20px;
    margin-top: 30px;
}
.trans-table{
    height: auto;
    padding-left: 12px;
}
table#customers{
    width: 500px;
}
.space-p{
    padding: 0;
}
// .chart{
//     .card-body{
//         >div{
//             overflow-x: auto;
//         }
//     }
// }
}
@media screen and (max-width: 1030px) {
    .mmt20{
        margin-top: 20px;
    }
    }



