<div class="app-content">
  <header>
    <div class="data-section">
      <form [formGroup]="groupsForm" autocomplete="off" (ngSubmit)="onSubmitRoleForm()">
        <h5 class="text-center">{{'Sector' | translate}}</h5>
        <mat-card>
          <mat-card-content>
            <table class="table-responsive inv-table">
              <tbody>

                <tr>

                  <td rowspan="1" colspan="1">
                    <mat-form-field dense class="icc-mat">
                      <mat-label>{{'Sector' | translate}}</mat-label>
                      <input type="text" matInput value="" formControlName="code" />

                    </mat-form-field>
                  </td>
                  <td rowspan="1" colspan="1">
                    <mat-form-field dense class="icc-mat">
                      <mat-label>{{'IccSector.SectorDescription' | translate }}</mat-label>
                      <input type="text" matInput value="" formControlName="description" />


                    </mat-form-field>
                  </td>


                  <td rowspan="1" colspan="1">
                    <button *ngIf="!isEdit" mat-flat-button color="primary"
                      id=grid>{{'IccSector.add' | translate}}</button>
                    <button *ngIf="isEdit" mat-flat-button color="primary"
                      id=grid>{{'IccSector.update' | translate}}</button>

                  </td>

                </tr>

              </tbody>
            </table>
          </mat-card-content>
        </mat-card>

      </form>

      <br>
      <div class="mat-elevation-z8 table-responsive table-post">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Sector' | translate }} </th>
            <td mat-cell *matCellDef="let element">
              {{element.code}}
            </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'IccSector.SectorDescription' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              {{element.description}}
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> {{'Action' | translate}} </th>
            <td mat-cell *matCellDef="let element">
              <a href="javascript:void(0)" (click)="getEditData(element)">
                <mat-icon #tooltip="matTooltip" matTooltip="{{'edit' | translate}}" [matTooltipPosition]="'below'">edit
                </mat-icon>
              </a>&nbsp;
            </td>
          </ng-container>

          <tr mat-header-row style="background-color:#B4A6EA" *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row class="BID-Details" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </header>
</div>