@import "~@ffdc/uxg-angular-theme/lib/core/style/spacing";
@import "~@ffdc/uxg-angular-theme/lib/core/style/spacing";

table {
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.uxg-toolbar.mat-toolbar.mat-toolbar-single-row {
    height: 60px;
}

.table-section {
    margin-left: auto;
    margin-right: auto;
    margin-top: $uxg-spacing-4 * 2;

}

$margin: $uxg-spacing-4+$uxg-spacing-2; // $margin;

header {
    position: relative;
    height: 45%;
    width: 100%;

    .account-services-headline {
        display: flex;
        justify-content: space-between;
        color: white;

        .global-balance {
            z-index: 10;
        }
    }

    .paginator {
        display: flex;
        align-self: flex-end;
        z-index: 10;
    }
}

.app-content {
    bottom: 0;
    left: 0;
    overflow-x: auto;
    padding: 0.6rem;
    position: absolute;
    right: 0;
    top: 40px;
}

.uxg-breadcrumb {
    margin-left: 50px !important;
}

.wave {
    margin: $uxg-spacing-0 (-$margin) -5px;
    position: absolute;
    width: 100%;
    top: $uxg-spacing-0;
    bottom: $uxg-spacing-0;
    z-index: 1;
}

table.table-responsive {
    display: inline-table;
}

@media only screen and (min-width: 377px) and (max-width: 415px) {
    header {
        height: 35%;
        .wave {
            overflow: hidden;
            ::ng-deep svg {
                height: 200px;
            }
        }

        .account-services-headline {
            font-size: $margin;
            .global-balance {
                .uxg-h3,
                p {
                    font-size: $uxg-spacing-4;
                }
            }
        }
    }
}

/* Mobile Styles Small Screen */
@media only screen and (max-width: 376px) {
    header {
        margin-bottom: $uxg-spacing-5;
        height: 35%;
        .wave {
            overflow: hidden;

            ::ng-deep svg {
                height: 200px;
            }
        }
        .account-services-headline {
            font-size: $margin;

            .global-balance {

                .uxg-h3,
                p {
                    font-size: $uxg-spacing-4;
                }
            }
        }
    }
    table.table-responsive {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    table {
        &.table-responsive {
            display: block;

            &.gd-table {
                display: inline-table;
            }
        }
    }
}

/* Tablet Styles */
@media only screen and (min-width: 500px) and (max-width: 1024px) {
    header {
        margin-bottom: $margin;
        height: 30%;
        .wave {
            overflow: hidden;

            ::ng-deep svg {
                height: 300px;
            }
        }
    }
    table {
        &.table-responsive {

            &.bid-table,
            &.mod-table {
                display: block;
            }
        }
    }
}

.app-content.active {
    @media only screen and (min-width: 1025px) {
        .wave {
            top: -65%;
        }
    }
}

/* Desktop Styles */
@media only screen and (min-width: 1025px) {
    .wave {
        // top: -10%;
        top: -22%;
        height: 100px;
    }

    .content {
        padding: $margin $margin * 2 $uxg-spacing-0 $margin;
    }

}

.uxg-nav {
    position: absolute;
    // height: 850px;
    border: 1px solid #eaeaea;
}

.mat-drawer-container {
    width: 100%;
    // height: 100%;
    background-color: white;
}

.uxg-nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px !important;
}

.finastra-logo {
    width: 150px;
    height: auto;
}

mat-sidenav-container {
    padding: 0;
    position: relative;
}

.uxg-toolbar {
    z-index: 15;
    position: absolute;
}


.chart.inActive {
    margin-left: auto;
}

.tableView.inActive {
    margin-left: 300px;
}

mat-card-content[_ngcontent-njk-c181] {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr !important;
    grid-column-gap: 8px;
    grid-template-areas:
        "icon name name menu"
        "icon balance balance balance";
}

.btn-outline {
    color: #7c49cb;
    background-color: transparent;
    background-image: none;
    border-color: #7c49cb;
    padding: "";
    margin-left: -11px;
}

table {
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: $uxg-spacing-2;
    padding-bottom: $uxg-spacing-4;
}


button+button {
    margin-left: $uxg-spacing-3;
}


mat-form-field {
    align-self: stretch;
    margin-bottom: $uxg-spacing-2;
    width: 313px;
}
.formfeild{
    .mat-form-field {
    width: 150px;
}
}

.uxg-toolbar.mat-toolbar.mat-toolbar-single-row {
    height: 60px;
}

.data-section {
    margin-left: auto;
    margin-right: auto;
    margin-top: $uxg-spacing-4;
}

.table-section {
    margin-left: auto;
    margin-right: auto;
    margin-top: $uxg-spacing-4;
}

::ng-deep .cdk-overlay-container {
    z-index: 1200 !important;
}

.ebtn {
    display: flex;
    justify-content: flex-end;
}

::ng-deep .toast-container .ngx-toastr {
    width: fit-content !important;
    font-size: small;
    min-width: 241px;
    max-width: 500px;
}
