<div class="app-content ">
    <header class="mm0p0">
        <br>
        <h5 class="mmt20">Accepted Finance</h5>
        <div class="table-res mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="invoiceRef">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ICC Tradecomm Ref </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.invoiceRef}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="invoiceNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Id </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.invoiceNo}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="invAmt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Amount </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.invoiceCcy}} {{element.invoiceAmt}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="smeId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> SME Name </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.smeId}}
                    </td>
                </ng-container>


                <ng-container matColumnDef="buyerName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Buyer Name </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.buyerName}}
                    </td>
                </ng-container>


                <ng-container matColumnDef="invDate">
                    <th mat-header-cell *matHeaderCellDef> Inv Date </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.invoiceDate && moment(element.invoiceDate).format('DD/MM/YYYY')}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="invDueDate">
                    <th mat-header-cell *matHeaderCellDef> Inv Due date </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.invDueDate && moment(element.invDueDate).format('DD/MM/YYYY')}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.status == "APR" || element.status == "A"  ? 'Approved' : element.status == "SUB" ? 'Submitted by SME':'Financed'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element">
                        <a href="javascript:void(0)" (click)="openModal($event,template,element)">
                            <mat-icon #tooltip="matTooltip" matTooltip="View" [matTooltipPosition]="'below'">visibility
                            </mat-icon>
                        </a>
                    </td>
                </ng-container>
                <ng-container matColumnDef="TopBar">
                    <th colspan="9" mat-header-cell *matHeaderCellDef>
                        <div style="justify-content:flex-end;cursor: pointer;">
                            <span (click)="searchDiv()" class="material-icons">search</span>&nbsp;
                            <span (click)="filterDiv()" class="material-icons">filter_list</span>
                        </div>
                    </th>
                </ng-container>
                <ng-container matColumnDef="Search">
                    <th colspan="8" mat-header-cell *matHeaderCellDef>
                        <h6>Search By</h6>
                        <form [formGroup]="Searchform">
                        <div class="row">
                            <div class="col-sm-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>invoice Id</mat-label>
                                    <input type="text" formControlName="invoiceRef" matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-sm-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>smeName</mat-label>
                                    <input type="text" formControlName="smeId"  matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-sm-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>buyerName</mat-label>
                                    <input type="text" formControlName="buyerName"  matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-sm-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>invoiceDate</mat-label>
                                    <input matInput readonly="true" formControlName="invoiceDate" [matDatepicker]="picker"
                                        >
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>Invoice Due Date</mat-label>
                                    <input matInput readonly="true" formControlName="invoiceDueDate" [matDatepicker]="picker1"
                                        >
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row" style="justify-content: flex-end;padding-bottom: 20px;padding-right: 20px;">
                            <button mat-raised-button style="color: #5e52a1;" (click)="SearchAPI()">
                                <mat-icon #tooltip="matTooltip" matTooltip="Done" [matTooltipPosition]="'below'">done
                                </mat-icon> Search
                            </button>&nbsp;
                            <button mat-raised-button style="color: #5e52a1;" (click)="ResetAPI()">
                                <mat-icon #tooltip="matTooltip" matTooltip="Done" [matTooltipPosition]="'below'">
                                    restart_alt</mat-icon> Reset
                            </button>
                        </div>
                    </form>
                    </th>
                </ng-container>
                <ng-container matColumnDef="Filter">
                    <th class="class2" colspan="8" mat-header-cell *matHeaderCellDef>
                        <div class="row">
                            <div class="col-sm-3">
                                <label>InvoiceAmount</label>
                                <div class="custom-slider">
                                    <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options">
                                    </ngx-slider>
                                </div>
                            </div>
                            <div class="col-sm-3" style="padding-top: 22px;">
                                <mat-form-field appearance="fill">
                                    <mat-label>InvoiceDate</mat-label>
                                    <mat-date-range-input [rangePicker]="picker">
                                        <input matStartDate placeholder="Start date">
                                        <input matEndDate placeholder="End date">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="row" style="justify-content: flex-end;padding-bottom: 20px;padding-right: 20px;">
                            <button mat-raised-button style="color: #5e52a1;">
                                <mat-icon #tooltip="matTooltip" matTooltip="Done" [matTooltipPosition]="'below'">done
                                </mat-icon> Search
                            </button>&nbsp;
                            <button mat-raised-button style="color: #5e52a1;">
                                <mat-icon #tooltip="matTooltip" matTooltip="Done" [matTooltipPosition]="'below'">
                                    restart_alt</mat-icon> Reset
                            </button>
                        </div>
                    </th>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsload"></tr>
                <tr [hidden]="!searchDivOpen" class="searchInput" mat-header-row *matHeaderRowDef="displayedColumnsearch"></tr>
                <tr [hidden]="!filterDivOpen" mat-header-row *matHeaderRowDef="displayedColumnFilter"></tr>
                <tr mat-header-row style="background-color:#B4A6EA" *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row class="BID-Details" *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [hidePageSize]="true" showFirstLastButtons></mat-paginator>
        </div>
    </header>
</div>
<div>
    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">New Finance Details</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div style="overflow-x:auto;">
                <table mat-table [dataSource]="dataSourceThree">

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef scope="column">Financie Ref No</th>
                        <td mat-cell *matCellDef="let data">{{ data.fin_id }}</td>
                    </ng-container>

                    <ng-container matColumnDef="finId">
                        <th mat-header-cell *matHeaderCellDef scope="column">FIN Id</th>
                        <td mat-cell *matCellDef="let data">{{ data.finId }}</td>
                    </ng-container>

                    <ng-container matColumnDef="invoiceId">
                        <th mat-header-cell *matHeaderCellDef scope="column">Invoice Id</th>
                        <td mat-cell *matCellDef="let data">{{ data.invoiceId }}</td>
                    </ng-container>

                    <ng-container matColumnDef="fxRate">
                        <th mat-header-cell *matHeaderCellDef scope="column">Fx Rate %</th>
                        <td mat-cell *matCellDef="let data">{{ data.fxRate }}</td>
                    </ng-container>

                    <ng-container matColumnDef="baseCcyAmt">
                        <th mat-header-cell *matHeaderCellDef scope="column">Base CCY</th>
                        <td mat-cell *matCellDef="let data">{{ data.baseCcyAmt }}</td>
                    </ng-container>


                    <ng-container matColumnDef="fundablePercent">
                        <th mat-header-cell *matHeaderCellDef scope="column">% Funded</th>
                        <td mat-cell *matCellDef="let data">{{ data.fundablePercent }}</td>
                    </ng-container>

                    <ng-container matColumnDef="baseCcyFundingAmt">
                        <th mat-header-cell *matHeaderCellDef scope="column">BaseCCY Funding Amt</th>
                        <td mat-cell *matCellDef="let data">{{ data.baseCcyFundingAmt }}</td>
                    </ng-container>

                    <ng-container matColumnDef="repaymentDate">
                        <th mat-header-cell *matHeaderCellDef scope="column">Repayment Date</th>
                        <td mat-cell *matCellDef="let data">
                            {{data.repaymentDate && moment(data.repaymentDate).format('DD/MM/YYYY')}}</td>
                    </ng-container>

                    <ng-container matColumnDef="baseCcyNetAmtPayable">
                        <th mat-header-cell *matHeaderCellDef scope="column">Net Amount Received</th>
                        <td mat-cell *matCellDef="let data">{{ data.baseCcyNetAmtPayable }}</td>
                    </ng-container>

                    <ng-container matColumnDef="annualYeild">
                        <th mat-header-cell *matHeaderCellDef scope="column">Annual Yield %</th>
                        <td mat-cell *matCellDef="let data">{{ data.annualYeild }}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsThree" style="background-color:#B4A6EA"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsThree"></tr>
                </table>

            </div>



            <!-- Table 2 -->

            <mat-accordion>
                <mat-expansion-panel>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="bidpanelOpenState = true" (closed)="bidpanelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="font-weight:500;color: #a899e4;">
                            Invoice Details
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="table-res">
                  
                        <table mat-table [dataSource]="dataSourceTwo">
                            <ng-container matColumnDef="invId">
                                <th mat-header-cell *matHeaderCellDef scope="column">Invoice No</th>
                                <td mat-cell *matCellDef="let invoiceDetailsData">{{ invoiceDetailsData.invId }}</td>
                            </ng-container>

                            <ng-container matColumnDef="invDate">
                                <th mat-header-cell *matHeaderCellDef scope="column">Invoice Date</th>
                                <td mat-cell *matCellDef="let invoiceDetailsData">
                                    {{invoiceDetailsData.invDate &&
                                    moment(invoiceDetailsData.invDate).format('DD/MM/YYYY')}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="buyerName">
                                <th mat-header-cell *matHeaderCellDef scope="column">Buyer</th>
                                <td mat-cell *matCellDef="let invoiceDetailsData">{{ invoiceDetailsData.buyerName }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="invAmt">
                                <th mat-header-cell *matHeaderCellDef scope="column">Invoice Amount</th>
                                <td mat-cell *matCellDef="let invoiceDetailsData">{{ invoiceDetailsData.invAmt }}</td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef scope="column">Status</th>
                                <td mat-cell *matCellDef="let invoiceDetailsData">
                                    {{invoiceDetailsData.status == "APR" || invoiceDetailsData.status == "A" ? 'Approved' : invoiceDetailsData.status == "SUB" ? 'Submitted by SME':'Financed'}}
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumnsTwo" style="background-color:#B4A6EA">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsTwo"></tr>
                        </table>
                    </div>

                </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion>
                <mat-expansion-panel>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="bidpanelOpenState = true" (closed)="bidpanelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="font-weight:500;color: #a899e4;">
                            Goods Details
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div style="overflow-x:auto;">
                        <table mat-table [dataSource]="dataSourceOne">

                            <ng-container matColumnDef="descGoods">
                                <th mat-header-cell *matHeaderCellDef scope="column">Description of Goods</th>
                                <td mat-cell *matCellDef="let element">{{ element.descGoods }}</td>
                            </ng-container>

                            <ng-container matColumnDef="quantity">
                                <th mat-header-cell *matHeaderCellDef scope="column">Quantity</th>
                                <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
                            </ng-container>

                            <ng-container matColumnDef="rate">
                                <th mat-header-cell *matHeaderCellDef scope="column">Amt Ccy</th>
                                <td mat-cell *matCellDef="let element">{{ element.amtCcy }}</td>
                            </ng-container>

                            <ng-container matColumnDef="amt">
                                <th mat-header-cell *matHeaderCellDef scope="column">Amount</th>
                                <td mat-cell *matCellDef="let element">{{ element.amt }}</td>
                            </ng-container>


                            <ng-container matColumnDef="taxRate">
                                <th mat-header-cell *matHeaderCellDef scope="column">Tax Rate</th>
                                <td mat-cell *matCellDef="let element">{{ element.taxRate }}</td>
                            </ng-container>

                            <ng-container matColumnDef="taxAmount">
                                <th mat-header-cell *matHeaderCellDef scope="column">Tax Amount</th>
                                <td mat-cell *matCellDef="let element">{{ element.taxAmt }}</td>
                            </ng-container>
                            <ng-container matColumnDef="discAmt">
                                <th mat-header-cell *matHeaderCellDef scope="column">Tax Amt Ccy</th>
                                <td mat-cell *matCellDef="let element">{{ element.taxAmtCcy }}</td>
                            </ng-container>
                

                            <ng-container matColumnDef="total">
                                <th mat-header-cell *matHeaderCellDef scope="column">Total</th>
                                <td mat-cell *matCellDef="let element">{{ element.total }}</td>
                            </ng-container>


                            <tr mat-header-row *matHeaderRowDef="displayedColumnsOne" style="background-color:#B4A6EA">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsOne"></tr>
                        </table>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <br>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
        </div>
    </ng-template>
</div>