<div class="app-content {{isOpen}} ">
  <header>
      <br>
      <h5>SME - {{this.smeData?.smeData?.queryParams?.companyId || ''}}</h5>
    <div class="container-fluid contnr-div">
      <div class="row">
          <div class="col-md-12">
           
            <mat-tab-group dynamicHeight>
              <mat-tab label="Details">
                <div class="links">
                  <form [formGroup]="userForm" autocomplete="off" (ngSubmit)="onSubmitInvoiceForm()">
                        <mat-card>
                      <mat-card-content>
                        <div class="row dis-block">
                          <div class="col-sm-4">
                              <div class="form-group">
                                <!-- <label for="National ID​">Company Register ID​
                                </label> -->
                                <mat-form-field dense>
                                  <mat-label>Company Register ID​ </mat-label>
                                  <input type="text"  placeholder="Company Register Id" matInput formControlName="nationalId" readonly/>
                                  <!-- <mat-error *ngIf="hasError('nationalId', 'required')">Register is required</mat-error> -->
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="form-group">
                                <!-- <label for="First name​">Company name​
                                </label> -->
                                <mat-form-field dense>
                                  <mat-label>Company name​</mat-label>
                                  <mat-icon matPrefix>business</mat-icon>
                                  <input type="text" matInput placeholder="Company Number" formControlName="companyName" readonly/>
                                  <!-- <mat-error *ngIf="hasError('companyName', 'required')">companyName is required</mat-error> -->
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="form-group">
                                <!-- <label for="Country​">Country
                                </label> -->
                                <mat-form-field dense>
                                  <mat-label>Country</mat-label>
                                  <mat-icon matPrefix>flag</mat-icon>
                                  <input type="text" matInput placeholder="Country" formControlName="country" readonly/>
                                  <!-- <mat-error *ngIf="hasError('country', 'required')">Country is required</mat-error> -->
                                </mat-form-field>
                              </div>
                            </div>
                      </div>
                        <div class="row dis-block">
                          <div class="col-sm-4">
                            <!-- <label for="Address">Address 1</label> -->
                            <div class="form-group">
                            <mat-form-field dense>
                              <mat-label>Address 1</mat-label>
                              <mat-icon matPrefix>home</mat-icon>
                              <input type="text" matInput  formControlName="address" readonly/>
                              <mat-error *ngIf="hasError('address', 'required')">address is required</mat-error>
                            </mat-form-field>
                        </div>
                          </div>
                          <div class="col-sm-4">
                            <!-- <label for="Address">Address 2</label> -->
                            <div class="form-group">
                            <mat-form-field dense>
                              <mat-label>Address 2</mat-label>
                              <mat-icon matPrefix>home</mat-icon>
                              <input type="text" matInput  formControlName="address1" readonly/>
                              <mat-error *ngIf="hasError('address1', 'required')">address is required</mat-error>
                            </mat-form-field>
                        </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <!-- <label for="National ID​">Phone Number</label> -->
                              <mat-form-field dense>
                                <mat-label>Phone Number</mat-label>
                                <mat-icon matPrefix>call</mat-icon>
                                <input type="text" matInput placeholder="Phone Number" formControlName="contactNo" readonly/>
                                <!-- <mat-error *ngIf="hasError('contactNo', 'required')">phoneNumber is required</mat-error> -->
                              </mat-form-field>
                            </div>
                          </div>
                      </div>
                      <div class="row dis-block">
                        <div class="col-sm-4">
                            <div class="form-group">
                              <!-- <label for="Locale">State</label> -->
                              <mat-form-field dense>
                                <mat-label>State</mat-label>
                                <mat-icon matPrefix>add_location</mat-icon>
                                <input type="text" matInput  formControlName="state" readonly/>
                                <mat-error *ngIf="hasError('state', 'required')">State is required</mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <!-- <label for="Locale">City</label> -->
                              <mat-form-field dense>
                                <mat-label>City</mat-label>
                                <mat-icon matPrefix>add_location</mat-icon>
                                <input type="text" matInput  formControlName="locale" readonly/>
                                <mat-error *ngIf="hasError('locale', 'required')">City is required</mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <!-- <label for="Locale">Postal Code</label> -->
                              <mat-form-field dense>
                                <mat-label>Postal Code</mat-label>
                                <mat-icon matPrefix>local_shipping</mat-icon>
                                <input type="text" matInput  formControlName="postalCode" readonly/>
                                <mat-error *ngIf="hasError('postalCode', 'required')">postalCode is required</mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                      </div>
                      <div class="row dis-block">
                        <div class="col-sm-4">
                          <div class="form-group">
                            <!-- <label for="National ID​">Email Id
                            </label> -->
                            <mat-form-field dense>
                              <mat-label>Email Id</mat-label>
                              <mat-icon matPrefix>email</mat-icon>
                              <input type="text" matInput placeholder="Email" formControlName="email" readonly/>
                              <!-- <mat-error *ngIf="hasError('email', 'required')">email is required</mat-error> -->
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                          <mat-form-field dense>
                           <mat-label>Sector</mat-label>
                           <mat-select formControlName="sector">
                             <mat-option *ngFor="let item of sectors" [value]="item.code">{{item.description}}</mat-option>
                           </mat-select>
                         </mat-form-field>
                         </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                             <!-- <label for="Status">Status</label> -->
                             <mat-form-field dense>
                              <mat-label>Status</mat-label>
                                <mat-select formControlName="status" panelClass="myPanelClass">
                                  <mat-option value="A">Active</mat-option>
                                  <mat-option value="I">Inactive</mat-option>
                                  <mat-option value="D">Defaulted</mat-option>
                                </mat-select>
                                <mat-error *ngIf="hasError('status', 'required')">status is required</mat-error>
                             </mat-form-field>
                          </div>
                      </div>
                    </div>
                    <div class="row" style="padding-bottom: inherit;justify-content: flex-end;">
                      <button mat-raised-button color="primary" >Submit</button>
              </div>
            </mat-card-content>
            </mat-card>
            </form>
                </div>
              </mat-tab>
              <mat-tab label="Questionaire">
                <div class="links">
                  <div class="row col-md-12 col-12" *ngIf="questionnaireSections">
                      <div class="col-md-3 col-3 ques-sec" >
                        <!-- <div *ngFor="let sections of questionnaireSections;let secIndex=index" style="text-align: center;">
                        <button class="ques-sec-btn section-title" [ngClass]="{'selbut': secIndex == sectionIndex}" type="button" (click)="onSectionClick(secIndex)">{{sections.label}}</button>
                      </div> -->
                    
                      <div class="step section-title" [ngClass]="{'step-active': secIndex == sectionIndex}" *ngFor="let sections of questionnaireSections;let secIndex=index" >
                        <div>
                          <div class="circle" *ngIf="!sections.itHasValue &&  !sections.isStepChange">{{secIndex+1}} </div>
                          <div class="circle " style="background-color: red;" *ngIf="!sections.itHasValue && sections.isStepChange"><mat-icon>info</mat-icon> </div>
                          <div class="circle sec-cmlp" *ngIf="sections.itHasValue"><mat-icon>check_circle</mat-icon> </div>
                        </div>
                        <div>
                          <div class="title" *ngIf="!sections.itHasValue && !sections.isStepChange" (click)="onSectionClick(secIndex)">{{sections.label}}</div>
                          <div class="title" style="color:red" *ngIf="!sections.itHasValue && sections.isStepChange" (click)="onSectionClick(secIndex)">{{sections.label}}</div>
                          <div class="title sec-cmlp" *ngIf="sections.itHasValue" (click)="onSectionClick(secIndex)">{{sections.label}}</div>
                    
                          <!-- SUB SECTIONS -->
                          <div *ngIf="secIndex == sectionIndex && sections.subSections.length">
                            <div *ngFor="let subSection of sections.subSections;let subIndex=index" >
                              <label class="caption" *ngIf="!subSection.isSelected && !subSection.itHasValue"  (click)="onSubSection(secIndex,subIndex)">{{(secIndex+1) + '.' + (subIndex+1)}} - {{subSection.alias}}</label>
                            <label class="caption subSecSel" *ngIf="subSection.isSelected && !subSection.itHasValue"  (click)="onSubSection(secIndex,subIndex)">{{(secIndex+1) + '.' + (subIndex+1)}} - {{subSection.alias}}</label>
                            <!-- [ngClass]="{subSecSel: subSection.isSelected}" -->
                            <label class="caption subSeccomp" *ngIf="subSection.itHasValue"  [ngClass]="{subSecSel: subSection.isSelected}"  (click)="onSubSection(secIndex,subIndex)">{{(secIndex+1) + '.' + (subIndex+1)}} - {{subSection.alias}}</label>
                            <!-- [ngClass]="{subSeccomp: subSection.itHasValue}" -->
                          </div>
                          </div>
                          <!-- <div class="caption" [ngClass]="{subSecSel: subSection}"  *ngIf="secIndex == 0 && secIndex == sectionIndex" (click)="onSubSection('other')"> 1.2  Others</div> -->
                        </div>
                      </div>
                    
                      <!-- <mat-form-field class="example-chip-list">
                        <mat-label>Favorite Fruits</mat-label>
                        <mat-chip-list #chipList aria-label="Fruit selection">
                          <mat-chip
                          *ngFor="let fruit of fruits"
                          [selectable]="selectable"
                          [removable]="removable"
                          (removed)="remove(fruit)">
                          {{fruit}}
                          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input
                        placeholder="New fruit..."
                        #fruitInput
                        formControlName="fruitCtrl"
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                      </mat-form-field> -->
                      </div>
                      <div class="col-md-9 col-9 ques-col">
                        <!-- <div class="row" *ngFor="let questionType of questionnaireSections[sectionIndex].questions;let questionIndex=index"> -->
                          <perfect-scrollbar class="pft-scrollbar" >
                    
                            <!-- QUESTIONS SECTIONS -->
                              <div class="row">
                              <div *ngFor="let questionType of questions;let questionIndex=index">
                                <span class="form-group" *ngIf="questionType.show">
                                  <textBox  [questionDatas]="questionType" (formChange)="onTextBoxChange($event,sectionIndex,questionIndex)" *ngIf="(questionType.type == 'QuestionTextDto' || 'QuestionNumberDto')"></textBox>
                                  <!-- <multiSelectDropdown [questionDatas]="questionType" (formChange)="onDropdownChange($event,sectionIndex,questionIndex)" *ngIf="questionType.type == 'QuestionMultipleChoiceDto'" ></multiSelectDropdown> -->
                                  <radioButton  [questionDatas]="questionType" [sectionIndex]="sectionIndex" [questionIndex]="questionIndex" (formChange)="onRadioChange($event,sectionIndex,questionIndex)" *ngIf="questionType.type == 'QuestionBoolDto'"></radioButton>
                                  <DateField  [questionDatas]="questionType" (formChange)="onDateChange($event,sectionIndex,questionIndex)" *ngIf="questionType.type == 'QuestionDateDto'"></DateField>
                                  <fileUpload [questionDatas]="questionType" (formChange)="onFileChange($event,sectionIndex,questionIndex)" *ngIf="questionType.type == 'QuestionFileListDto'"></fileUpload>
                                  <textList [questionDatas]="questionType" (formChange)="onTextListChange($event,sectionIndex,questionIndex)" *ngIf="questionType.type == 'QuestionTextListDto'"></textList>
                    
                                </span>
                              </div>
                              </div>
                            </perfect-scrollbar>
                    
                      </div>
                    </div>
                </div>
              </mat-tab>
              <mat-tab label="Score">
                <div class="links">
                  <!-- <a routerLink="#">Creation</a>
                  <a routerLink="#">Edit</a>
                  <a routerLink="#">View</a> -->
                  <form [formGroup]="groupsForm" autocomplete="off">
                    <!-- <h5 class="text-center">Groups</h5> -->
                        <mat-card>
                      <mat-card-content>
                        <table  class="table-responsive inv-table" style="width: 100%;">
                          <tbody>
                    <tr>
                        <td rowspan="1" colspan="1">
                            <mat-form-field dense class="icc-mat">
                              <mat-label>Consolidated score</mat-label>
                              <input type="text" matInput formControlName="score" />
                            </mat-form-field>
                          </td>
                              
                <td rowspan="1" colspan="1">
                  <mat-form-field dense class="icc-mat">
                    <mat-label>Score State</mat-label>
                    <input type="text" matInput formControlName="state" />
                  </mat-form-field>
                </td>
                
                 <!-- <td rowspan="1" colspan="1">
                  <mat-form-field dense class="icc-mat">
                    <mat-label>Group Description</mat-label>
                    <input type="text" matInput formControlName="groupDescription" />
                  </mat-form-field>
                </td>
            
                <td rowspan="1" colspan="1">      
                    <button *ngIf="!isEdit" mat-flat-button color="primary"id=grid>Add</button>
                    <button *ngIf="isEdit" mat-flat-button color="primary"id=grid>Update</button>
                    </td>  -->
                
              </tr>
            
            </tbody>
            </table>
            </mat-card-content>
            </mat-card>
            
            </form>
                  <table mat-table [dataSource]="dataSource2" matSort style="width: 100%;">
                    <!-- <ng-container matColumnDef="scoreAlias">
                        <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" mat-sort-header
                        matTooltip="{{groupTooltip.groupCode}}" [matTooltipPosition]="'below'"> Score Alias </th>
                        <td mat-cell *matCellDef="let element">
                                     {{element.scoreAlias}}
                         </td>
                      </ng-container> -->
    
                    <ng-container matColumnDef="scoreName">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header > Score Name </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.scoreName}}
                        </td>
                    </ng-container>
    
                    <ng-container matColumnDef="score">
                        <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" mat-sort-header
                            matTooltip="score" [matTooltipPosition]="'below'"> Score
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.score}}
                        </td>
                    </ng-container>
    
                    <ng-container matColumnDef="information">
                        <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" mat-sort-header
                            matTooltip="information" [matTooltipPosition]="'below'"> Information
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.information[0]?.information[0]?.message }}
                        </td>
                    </ng-container>
    
                    <!-- <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef> Action </th>
                      <td mat-cell *matCellDef="let element">
                        <a  href="javascript:void(0)" (click)="getEditData(element)">
                          <mat-icon  #tooltip="matTooltip"
                          matTooltip="Edit" [matTooltipPosition]="'below'">edit</mat-icon>
                        </a>&nbsp;
                         </td>
                    </ng-container> -->
    
                    <!-- <tr mat-header-row *matHeaderRowDef="displayedColumnsload"></tr> -->
                    <!-- <tr [hidden]="!searchDivOpen" class="searchInput" mat-header-row
                        *matHeaderRowDef="displayedColumnsearch"></tr> -->
                    <!-- <tr [hidden]="!filterDivOpen" mat-header-row *matHeaderRowDef="displayedColumnFilter"></tr> -->
                    <tr mat-header-row style="background-color:#B4A6EA" *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row class="BID-Details" *matRowDef="let row; columns: displayedColumns;"></tr>               
                </table>
                  <!-- <button mat-button type="button"  #tooltip="matTooltip" mat-stroked-button color="primary" class="role-btn"
                  matTooltip="{{dashboardTooltip.financierOnboard}}" [matTooltipPosition]="'below'" (click)="this.navigatePages('/icc-group')">Groups</button> 
                  <button mat-button type="button"  #tooltip="matTooltip" mat-stroked-button color="primary" class="role-btn"
                  matTooltip="{{dashboardTooltip.financierOnboard}}" [matTooltipPosition]="'below'" (click)="this.navigatePages('/icc-roles')">Roles</button>
                  <button mat-button type="button"  #tooltip="matTooltip" mat-stroked-button color="primary" class="role-btn"
                  matTooltip="{{dashboardTooltip.financierOnboard}}" [matTooltipPosition]="'below'" (click)="this.navigatePages('/icc-authorize')">Authorization Matrix</button> -->
                </div>
              </mat-tab>
              <mat-tab label="Related Users"> 
                <div class="row" >
                  <div class="col-sm-12" style="text-align: end; top: 5px;">
                      <button mat-flat-button color="primary" (click)="navigateFinanceDetails(this.companyid)" > Add User </button>
                  </div>
              </div>
              <div class="row col-sm-12" style="top: 13px;">
                <table mat-table [dataSource]="dataSource1" >
                  <ng-container matColumnDef="userId">
                      <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
                      matTooltip="UserID" [matTooltipPosition]="'below'"> User Id </th>
                      <td mat-cell *matCellDef="let element">
                                  {{element.usersId}}
                      </td>
                  </ng-container>
                  
                  <ng-container matColumnDef="firstName">
                      <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
                          matTooltip="{{biddingTooltip.invoiceId}}" [matTooltipPosition]="'below'"> First Name </th>
                      <td mat-cell *matCellDef="let element">
                          {{element.firstName}}
                      </td>
                  </ng-container>
  
                  <ng-container matColumnDef="lastName">
                      <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
                          matTooltip="{{biddingTooltip.invoiceAmount}}" [matTooltipPosition]="'below'"> Last Name 
                      </th>
                      <td mat-cell *matCellDef="let element">
                          {{element.lastName}}
                      </td>
                  </ng-container>
  
                  <ng-container matColumnDef="companyName">
                      <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" matTooltip="{{biddingTooltip.smeName}}"
                          [matTooltipPosition]="'below'"> Company Name </th>
                      <td mat-cell *matCellDef="let element">
                          {{element.companyName}}
                      </td>
                  </ng-container>
  
                  <ng-container matColumnDef="emailId">
                      <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
                          matTooltip="{{biddingTooltip.buyerName}}" [matTooltipPosition]="'below'"> Email Id  </th>
                      <td mat-cell *matCellDef="let element">
                          {{element.email}}
                      </td>
                  </ng-container>
  
                  <ng-container matColumnDef="phoneNumber">
                      <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
                          matTooltip="{{biddingTooltip.invoiceCreateDate}}" [matTooltipPosition]="'below'"> Phone Number  </th>
                      <td mat-cell *matCellDef="let element">
                          {{ element.contact }}
                      </td>
                  </ng-container>
                  <!-- <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
                          matTooltip="{{biddingTooltip.invoiceCreateDate}}" [matTooltipPosition]="'below'"> Status </th>
                      <td mat-cell class="toggleclass" *matCellDef="let element">
                          <mat-slide-toggle 
                          [checked]="element.status === 'A' ? true : false"  (change)="displayMessage($event,statusActive,element)"></mat-slide-toggle><br>
                          {{element.status === 'A' ? 'Active' : 'Deactive'}}
                      </td>
                  </ng-container> -->
                 
                  <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef> Action </th>
                      <td mat-cell *matCellDef="let element">
                          <a  href="javascript:void(0)" (click)="navigateFinanceDetails(element.usersKey)">
                              <mat-icon  #tooltip="matTooltip"
                              matTooltip="Edit" [matTooltipPosition]="'below'">edit</mat-icon>
                            </a>&nbsp;
                          <!-- <a href="javascript:void(0)" (click)="openModal($event,template,element)">
                              <mat-icon #tooltip="matTooltip" matTooltip="View" [matTooltipPosition]="'below'">visibility
                              </mat-icon>
                          </a> -->
                      </td>
                  </ng-container>
                  <ng-container matColumnDef="TopBar">
                      <th colspan="8" mat-header-cell *matHeaderCellDef> 
                        <div style="justify-content:flex-end;cursor: pointer;">
                        <span (click)="searchDiv()" class="material-icons">search</span>&nbsp;
                        <span (click)="filterDiv()" class="material-icons">filter_list</span>
                          </div>
                       </th>
                    </ng-container>
                    <ng-container matColumnDef="Search">
                      <th colspan="8" mat-header-cell *matHeaderCellDef> 
                          <h6>Search By</h6>
                        <!-- <div class="row">
                            <div class="col-sm-2">
                              <mat-form-field appearance="outline">
                                  <mat-label>User ID</mat-label>
                                  <input type="text" matInput />
                                </mat-form-field>
                            </div>
                         
                            <div class="col-sm-2">
                              <mat-form-field appearance="outline">
                                  <mat-label>First Name</mat-label>
                                  <input type="text" matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-sm-2">
                              <mat-form-field appearance="outline">
                                  <mat-label>buyerName</mat-label>
                                  <input type="text" matInput />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row" style="justify-content: flex-end;padding-bottom: 20px;padding-right: 20px;">
                          <button  mat-raised-button style="color: #5e52a1;" (click)="SearchAPI()">
                              <mat-icon #tooltip="matTooltip"
                              matTooltip="Done" [matTooltipPosition]="'below'">done</mat-icon>  Search
                            </button>&nbsp;
                            <button  mat-raised-button style="color: #5e52a1;">
                              <mat-icon #tooltip="matTooltip"
                              matTooltip="Done" [matTooltipPosition]="'below'">restart_alt</mat-icon>  Reset
                            </button>
                        </div> -->
                       
                       </th>
                    </ng-container>
                    <ng-container matColumnDef="Filter">
                      <th class="class2" colspan="8" mat-header-cell *matHeaderCellDef> 
                          <!-- <div class="row">
                              <div class="col-sm-3">
                                  <label>InvoiceAmount</label>
                                  <div class="custom-slider">
                                  <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
                                </div>
                                </div>
                                <div class="col-sm-3" style="padding-top: 22px;">
                                  <mat-form-field appearance="fill">
                                      <mat-label>InvoiceDate</mat-label>
                                      <mat-date-range-input [rangePicker]="picker">
                                        <input matStartDate placeholder="Start date">
                                        <input matEndDate placeholder="End date">
                                      </mat-date-range-input>
                                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                      <mat-date-range-picker #picker></mat-date-range-picker>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-3" style="padding-top: 22px;">
                                  <mat-form-field appearance="fill">
                                      <mat-label>InvDueDate</mat-label>
                                      <mat-date-range-input [rangePicker]="picker1">
                                        <input matStartDate placeholder="Start date">
                                        <input matEndDate placeholder="End date">
                                      </mat-date-range-input>
                                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                      <mat-date-range-picker #picker1></mat-date-range-picker>
                                    </mat-form-field>
                                </div>
                          </div>
                            <div class="row" style="justify-content: flex-end;padding-bottom: 20px;padding-right: 20px;">
                              <button  mat-raised-button style="color: #5e52a1;">
                                  <mat-icon #tooltip="matTooltip"
                                  matTooltip="Done" [matTooltipPosition]="'below'">done</mat-icon>  Search
                                </button>&nbsp;
                                <button  mat-raised-button style="color: #5e52a1;">
                                  <mat-icon #tooltip="matTooltip"
                                  matTooltip="Done" [matTooltipPosition]="'below'">restart_alt</mat-icon>  Reset
                                </button>
                            </div> -->
                       </th>
                    </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns1" style="background-color:#B4A6EA"></tr>
                  <tr mat-row class="BID-Details" *matRowDef="let row; columns: displayedColumns1;"></tr>
              </table>
              </div>
               </mat-tab>
             </mat-tab-group>
          </div>
          <div class="col-md-6">
            <div style="display: block;">
            </div>
          </div>
      </div>
    </div>
  </header>
</div>