@import "~@ffdc/uxg-angular-theme/lib/core/style/spacing";

$margin: $uxg-spacing-4 + $uxg-spacing-2; // $margin;

header {
  margin: -32px 30px 0;
  padding: 32px;
  position: relative;
  height: 45%;
  width: 100%;

  .account-services-headline {
    display: flex;
    justify-content: space-between;
    color: white;
    top: 10%;
    padding-bottom: 10px;
    .global-balance {
      z-index: 10;
    }
  }

  .paginator {
    display: flex;
    // align-self: flex-end;
    z-index: 10;
  }
}

.app-content {
  bottom: 0;
  left: 0;
  overflow-x: auto;
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 33px;
  // top: 56px;
}

.accounts-list {
  float: left;
  position: relative;
  overflow: auto;
  z-index: 10;
  width: 100%;
  white-space: nowrap;
  padding-right: 50px;
  margin-left: -30px;
  padding-bottom: 27px;

  uxg-account-card,
  uxg-account-card-skeleton {
    display: inline-grid;
    margin-left: $margin;
  }
}

.uxg-breadcrumb {
  margin-left: 50px !important;
}

.wave {
  margin: $uxg-spacing-0 (-$margin) -5px;
  position: absolute;
  width: 100%;
  top:0;  
  bottom: $uxg-spacing-0;
  z-index: 1;
}
.role-btn{
  margin-right: 15px;
}

@media only screen and (min-width: 377px) and (max-width: 415px) {
  header {
    height: 35%;

    .wave {
      overflow: hidden;
      ::ng-deep svg {
        height: 200px;
      }
    }

    .account-services-headline {
      font-size: $margin;

      .global-balance {
        .uxg-h3,
        p {
          font-size: $uxg-spacing-4;
        }
      }
    }
  }
}

/* Mobile Styles Small Screen */
@media only screen and (max-width: 376px) {
  header {
    margin-bottom: $uxg-spacing-5;
    height: 35%;

    .wave {
      top:0px;
      overflow: hidden;
      ::ng-deep svg {
        height: 200px;
        // height: 200px;
       
      }
    }

    .account-services-headline {
      font-size: $margin;

      .global-balance {
        .uxg-h3,
        p {
          font-size: $uxg-spacing-4;
        }
      }
    }
  }
}

/* Tablet Styles */
@media only screen and (min-width: 500px) and (max-width: 1024px) {
  header {
    margin-bottom: $margin;
    height: 30%;

    .wave {
      overflow: hidden;
      ::ng-deep svg {
        height: 257px; 
        // height: 300px;
      }
    }
  }

  .accounts-list {
    overflow: hidden;
    padding-top: $margin;
  }
  mat-tab-group.mat-tab-group.mat-primary.mat-tab-group-dynamic-height{
    margin-top: 30px;
  }
}
.app-content.active {
  @media only screen and (min-width: 1025px) {
    // .wave {
    //   top: -65%;
    // }
  }
}
/* Desktop Styles */
@media only screen and (min-width: 1025px) {
  .wave {
    top: 0;
    height: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: scaleY(0.95);
  }

  .content {
    padding: $margin $margin * 2 $uxg-spacing-0 $margin;
  }

  .accounts-list {
    overflow: hidden;
    // padding-top: $margin;
    // padding-top: $margin;
  }
}

.uxg-nav {
  position: absolute;
  // height: 850px;
  border: 1px solid #eaeaea;
}

.mat-drawer-container {
  width: 100%;
  // height: 100%;
  background-color: white;
}

.uxg-nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px !important;
}

.finastra-logo {
  width: 150px;
  height: auto;
}
mat-sidenav-container {
  padding: 0;
  position: relative;
}

.uxg-toolbar {
  z-index: 15;
  position: absolute;
}

.links {
  padding: 20px;
  a + a {
    margin-left: 50px;
  }
}
// .mat-tab-label-container{
//   background: linear-gradient(to bottom right, #d706dafa, #790cdc,#4d00e4) !important;
// }
@media screen and (max-width: 575px) {
  .app-content{
      top: 56px;
      left: -28px;
      padding: 5px;
  }
}
@import "~@ffdc/uxg-angular-theme/lib/core/style/spacing";

table {
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

.submit {
    text-align: center;
    padding-bottom: $uxg-spacing-4;
}

mat-form-field {
    align-self: stretch;
    // margin-bottom: $uxg-spacing-2;
    margin-left: $uxg-spacing-3 * 6;
    width: 400px;
}

#left{
    float: left;
    margin-left: 40px;
}
#right{
    margin-left: 40px
}
#grid{
    margin-left: 600px
}

.uxg-toolbar.mat-toolbar.mat-toolbar-single-row {
    height: 80px;
}
.multiselect-dropdown-dsgn{
    width: 400px;
    margin: 2px 8px 44px 93px;
    background-color: #f3f1fc;
    border-bottom: 1px solid #694ed6;
    padding-top: 5px;
    border-radius: 3px;
}
.ques-sec-btn{
    margin: 20px 0px 15px 0px;
    border-radius: 10px;
    background-color: #4d95c7;
    border: 1px;
    color: white;
    padding: 4px 14px 2px 14px;
    cursor: pointer;
    &.selbut{
        border:2px solid black;
    }
}


// STEPS

.step {
    position: relative;
    min-height: 1em;
    color: rgb(22, 21, 21);
    cursor: pointer;
  }
  .step + .step {
    margin-top: 1.5em
  }
  .step > div:first-child {
    position: static;
    height: 0;
  }
  .step > div:not(:first-child) {
    margin-left: 1.5em;
    padding-left: 1em;
  }
  .step.step-active {
    color: #2e70db
  }
  .step.step-active .circle {
    background-color: #2e70db;
  }
  
  /* Circle */
  .circle {
    background: gray;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    box-shadow: 0 0 0 3px #fff;
    &.sec-cmlp{
      background-color:rgb(16, 180, 16) !important;
    }
  }
  
  /* Vertical Line */
  .circle:after {
    content: ' ';
    position: absolute;
    display: block;
    top: 1px;
    right: 50%;
    bottom: 1px;
    left: 50%;
    height: 100%;
    width: 1px;
    transform: scale(1, 2);
    transform-origin: 50% -100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: -1;
  }
  .step:last-child .circle:after {
    display: none
  }
  
  /* Stepper Titles */
  .title {
    line-height: 1.5em;
    font-weight: bold;
    &.sec-cmlp{
      color:rgb(16, 180, 16)
    }
  }
  .caption {
    margin-top: 10px;
    font-size: 15px;
    color: black;
    margin-top: 10px;
    font-weight: 500;
      &.subSecSel{
        border-radius: 3px;
      background-color: #2e70db;
      color: white;
      width: 130px;
      padding-left: 5px;
      display: flex;
      }
      &.subSeccomp{
        color:rgb(16, 180, 16)
      }
  }
  
  .subSecSel{
    border-radius: 3px;
  background-color: #2e70db;
  color: white;
  width: 130px;
  padding-left: 5px;
  display: flex;
  
  &.subSeccomp{
    color: white;
    background-color: #2ab414;
  }
  }
  
  @media(max-width:767px) {
    .section-title {
        // background-color: red;
    }
}

.pft-scrollbar{
  max-height: calc(100vh - 115px);
}

@media(max-width:767px) {
  .title{
    margin: 26px 0px 0px -37px;
  }
  .circle::after{
    content: unset;
  }
  .pft-scrollbar{
    max-height: unset;
  }
  .caption{
    width: 80px!important;
    margin-left: -40px;
    &.subSecSel{
      padding-left: 3px;
    }
  }
  .ques-sec{
    margin-top:45px;
  }
  .ques-col{
    margin-top:45px;
    padding-left: 15px;
  }
  .step{
    margin: 0px 0px 0px -10px;
  }
  .col-12{
    padding-right: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px){
  .ques-sec{
    margin-top:45px;
  }
  .ques-col{
    margin-top:45px;
  }
}

.ques-sec{
  margin-top: 50px;
}

.ques-col{
  box-shadow: -11px 0px 10px -9px #ccc7c7;
}