<div class="uxg-signup-page">

  <div class="uxg-signup-container">
    <span class="fill-remaining-space"></span>
    <!-- <h5 class="uxg-h4 uxg-product-name">ICC TradeComm</h5>
    <h5 class="uxg-display-6 uxg-corporate-name">Powered by Finastra</h5> -->
    <img src="../../../assets/img/icctradelogo.png" class="log-logo"/>
    <form #signupForm="ngForm" (ngSubmit)="signup(signupForm)">
      <!-- <mat-radio-group>
        <mat-radio-button value="SME" [checked]="true"><span class="uxg-radio-name-space">SME</span></mat-radio-button>
        <mat-radio-button value="ICC User"><span class="uxg-radio-name-space">ICC User</span></mat-radio-button> 
      </mat-radio-group> -->

      <!-- <mat-form-field>
        <mat-icon matPrefix>person</mat-icon>
        <mat-label>Country</mat-label>
        <input matInput name="country" [(ngModel)]="country" required>
        <mat-hint>Please enter your country</mat-hint>
      </mat-form-field> -->
      <!-- <ng-multiselect-dropdown class="sign-select"
                      name=""
                      placeholder="Country"
                      [settings]="dropdownSettings"
                      [data]="cities"
                      (onSelect)="onItemSelect($event)" 
                      (onDeSelect)="onItemDeSelect($event)" 
                  >
                  </ng-multiselect-dropdown> -->
                  <mat-form-field style="margin-bottom:unset">
                    <mat-icon matPrefix>person</mat-icon>
                    <mat-label>Name</mat-label>
                    <input matInput name="name" [(ngModel)]="name" required>
                    <!-- <mat-hint>Please enter UEN</mat-hint> -->
                  </mat-form-field>

                  <angular2-multiselect [data]="optionDatas"  class="sign-select"
                  name='country'  (onDeSelectAll)="onDeSelect($event)" 
                 [(ngModel)]="selectedItems" (onSelect)="onChange($event)"
                 [settings]="dropdownSettings" ></angular2-multiselect>
                    <mat-form-field *ngIf="showCountSignBtn">
        <mat-icon matPrefix>person</mat-icon>
        <mat-label>{{CountryPinLabel}}</mat-label>
        <input matInput name="CountryPin" [(ngModel)]="CountryPin" required>
        <mat-hint>Please enter {{CountryPinLabel}}</mat-hint>
      </mat-form-field>

      <button mat-flat-button color="primary"  *ngIf="showCountSignBtn">
        <mat-icon (click)="signup()"></mat-icon><!-- arrow_right_alt -->
        Sign Up
      </button>
    </form>
    <div class="login-actions">
      <a routerLink="/login" class="uxg-body-2">Back to Login Page</a>
    </div>

    <span class="fill-remaining-space"></span>

    <!-- <div class="signup-footer">
      <a href="https://www.finastra.com/support" class="uxg-body-3" target="_blank">Support</a>&nbsp;/&nbsp;
      <a href="https://www.finastra.com" class="uxg-body-3" target="_blank">Finastra.com</a>
    </div> -->

  </div>

  <div class="uxg-illustration-container">
  </div>

</div>