<div class="app-content {{isOpen}} ">
    <header>
      <div class="data-section">
        <form>
        <mat-card>
            <mat-card-content>
                <h4>Invoice Upload</h4>

                <div class="card-form-container">
                    <div class="bulk-file-upload file-input">
                      <!-- <h6>{{questionDatas && questionDatas.label}}</h6> -->
                        <div class="file-upload row col-md-12">
                        <div class="upload-btn-wrapper col-md-9 ">
                          <!-- [disabled]="questionDatas.filesMax == fileNames.length" -->
                          <button class="filebtn" >Upload a file</button>
                        <!-- <input type="file" class="dynamic-file-upload form" (change)="onChange($event)"
                        accept=".xlsx,.xls,.csv" /> -->
                        <input type="file" accept=".xlsx,.xls,.csv" class="dynamic-file-upload form" (change)="onFileChange($event)" />

                        </div>
                        <div class="upload-btn-wrapper col-md-3 ">
                          <!-- <button class="filebtn" (click)="sampleDown();" ><span>
                            Sample XLSX File Download
                          </span> <span class="material-icons">
                            file_download
                            </span>
                          </button> -->

                          <button type="button" class="btn btn-outline fundreq-btn" [matMenuTriggerFor]="menu"> Sample File Download
                            <span class="material-icons">
                              file_download
                              </span>
                          </button>
                            <mat-menu #menu="matMenu">
                            <button (click)="sampleDown();"  mat-menu-item>Download as XLSX </button>
                            <button (click)="samplecsvDown();" mat-menu-item>Download as CSV </button>
                            </mat-menu>
                        </div>
                        <!-- <div class="upload-btn-wrapper col-md-3 ">
                          <button class="filebtn" (click)="samplecsvDown();" >Sample CSV File Download<span class="material-icons">
                            file_download
                            </span>
                          </button>
                        </div> -->

                        <!-- <div class="file-label col-md-3">
                          <label *ngFor="let file of fileNames;let i=index" >{{file}}<span (click)="onFileRemove(i)"><i class="fa fa-times-circle" aria-hidden="true" style="margin-left: 3px;height: 10px;font-size: 16px;"></i></span></label>
                        </div> -->

                        <!-- <div class="col-md-3">
                            <button mat-flat-button color="primary" #tooltip="matTooltip"
                            matTooltip="Upload" [matTooltipPosition]="tooltipPosition" >
                              Upload
                            </button>
                        </div> -->
                        </div>
                    </div>
                    <!-- <input type="file" (change)="onFileChange($event)" /> -->
                </div>
            </mat-card-content>
        </mat-card>
        </form>

        <div id="container">
            <span class="uxg-h6" id=grid>{{'Invoice Details' | translate}}  </span>
            <div class="mat-elevation-z8">
              <table class="table-responsive inv-detail-table" mat-table matSort [dataSource]="dataSource" summary="table of APIs" style="width: 100%;">
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null" #tooltip="matTooltip"
                    matTooltip="{{fundingTooltip.select}}" [matTooltipPosition]="tooltipPosition"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()" color="primary">
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)" color="primary">
                    </mat-checkbox>
                  </td>
                </ng-container>
    
                <!-- <ng-container matColumnDef="StatusCode">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header scope="column">Ref No </th>
                  <td mat-cell *matCellDef="let element">{{element.invId}}</td>
                </ng-container> -->
                <ng-container matColumnDef="DateTime">
                  <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                  matTooltip="{{fundingTooltip.invoiceNumber}}"
                  [matTooltipPosition]="tooltipPosition">{{'Invoice No' | translate}}</th>
                  
                  <td mat-cell *matCellDef="let element">
                    <mat-chip-list>
                      <mat-chip color="primary" selected >{{element.invId}} </mat-chip>
                  </mat-chip-list>
                  </td>
                </ng-container>
                <mat-checkbox name="box"></mat-checkbox>
                <ng-container matColumnDef="InvoiceRefNo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header scope="column" #tooltip="matTooltip"
                  matTooltip="{{fundingTooltip.refno}}" [matTooltipPosition]="tooltipPosition">Invoice Ref No</th>
                  <td mat-cell *matCellDef="let element">{{element && element.invoiceDetailsSequenceNumber.invoice_ref}}</td>
                 </ng-container>
                <ng-container matColumnDef="DateOfInvoice">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header scope="column" #tooltip="matTooltip"
                  matTooltip="{{fundingTooltip.invoiceCreateDate}}" [matTooltipPosition]="tooltipPosition">{{'Invoice Date' | translate}}</th>
                  <td mat-cell *matCellDef="let element">{{element.invDate  | date: 'dd/MM/yyyy'}}</td>
                </ng-container>
                <ng-container matColumnDef="Seller">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header scope="column" #tooltip="matTooltip"
                  matTooltip="{{fundingTooltip.seller}}" [matTooltipPosition]="tooltipPosition">Seller</th>
                  <td mat-cell *matCellDef="let element">{{element.smeId}}</td>
                </ng-container>
                <ng-container matColumnDef="buyerName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header scope="column" #tooltip="matTooltip"
                  matTooltip="{{fundingTooltip.buyer}}" [matTooltipPosition]="tooltipPosition">Buyer</th>
                  <td mat-cell *matCellDef="let element">{{element.buyerName}}</td>
                </ng-container>
                <ng-container matColumnDef="InvoiceAmount">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header scope="column" #tooltip="matTooltip"
                  matTooltip="{{fundingTooltip.invoiceAmount}}" [matTooltipPosition]="tooltipPosition">{{'Invoice Amount' | translate}} </th>
                  <td mat-cell *matCellDef="let element">{{ element.invAmt }}</td>
                </ng-container>
                <ng-container matColumnDef="Ccy">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header scope="column" >Ccy </th>
                  <td mat-cell *matCellDef="let element">{{ element.invCcy }}</td>
                </ng-container>
                <ng-container matColumnDef="Status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header scope="column" #tooltip="matTooltip"
                  matTooltip="{{fundingTooltip.status}}" [matTooltipPosition]="tooltipPosition">Status </th>
                  <td mat-cell *matCellDef="let element" style="color: green;">
                   <mat-icon>exit_to_app</mat-icon><span style="float: left;">&nbsp;Initiated</span></td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color:#B4A6EA"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                </tr>
              </table>
            </div>
          </div>
    
          <mat-card-actions class="ebtn">
            <span class="fill-remaining-space"></span>
            <button mat-flat-button color="primary" #tooltip="matTooltip"
            matTooltip="{{fundingTooltip.submit}}" [matTooltipPosition]="tooltipPosition" disabled>
              Submit
            </button>
            <!-- <button mat-flat-button color="primary" #tooltip="matTooltip"
            matTooltip="{{fundingTooltip.pendingInvoice}}" [matTooltipPosition]="tooltipPosition">
              Pend
            </button> -->
            <button mat-flat-button color="primary" (click)="authoriseInvoice()" #tooltip="matTooltip"
            matTooltip="{{fundingTooltip.invoiceAuthorise}}" [matTooltipPosition]="tooltipPosition">
              Authorise
            </button>
          </mat-card-actions>
        </div>
    </header>
</div>