<div class="app-content">
  <header>
    <div class="data-section">
      <form [formGroup]="invoiceForm" autocomplete="off">
      <mat-card>
        <mat-card-content>
          <div id="container" class="row col-md-12 col-12">
              <span class="uxg-h6" id=grid>{{'Basic Invoice Details' | translate}}</span>
          </div>
          <table class="table-responsive inv-table">
            <tbody>
              <tr>
                <td rowspan="1" colspan="1">
                  <mat-form-field dense>
                    <mat-label>{{'Document Number' | translate}}</mat-label>
                    <input type="text" matInput formControlName="invId"/>
                  </mat-form-field>
                </td>
                <td rowspan="1" colspan="1">
                  <mat-form-field dense>
                    <mat-label>{{'Funding Request Date' | translate}} </mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                      <input matStartDate placeholder="Start date" formControlName="invFromDate">
                      <input matEndDate placeholder="End date" formControlName="invToDate">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td rowspan="1" colspan="1">
                  <mat-form-field dense>
                    <mat-label> {{'Buyer Name' | translate}} </mat-label>
                    <input type="text" matInput value="" formControlName="buyerName"/>
                  </mat-form-field>
                </td>
                <td rowspan="1" colspan="1">
                  <mat-form-field dense>
                    <mat-label>{{'Buyer Unique Identifier' | translate}}</mat-label>
                    <input type="text" matInput value="" formControlName="billNo"/>
                  </mat-form-field>
                </td>
              </tr>
            </tbody>
          </table>
          <mat-card-actions class="ebtn">
            <span class="fill-remaining-space"></span>
            <button mat-raised-button color="primary" (click)="SearchInovice()">
              {{'Fetch Invoice' | translate}}
            </button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
      </form>
      <div id="container">
        <span class="uxg-h6" id=grid>{{'Invoice Details' | translate}}</span>
        <div class="mat-elevation-z8">
          <table class="table-responsive inv-detail-table" mat-table matSort [dataSource]="dataSource"
            summary="table of APIs" style="width: 100%;">
            <!-- <ng-container matColumnDef="InvoiceRefNo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="column" #tooltip="matTooltip"
                matTooltip="{{fundingTooltip.refno | translate}}" [matTooltipPosition]="tooltipPosition">
                {{'Invoice Ref No' | translate}}</th>
              <td mat-cell *matCellDef="let element">
                <mat-chip-list>
                  <mat-chip color="primary" selected (click)="navigateToSmeDetails(element)">{{element.invref}}
                  </mat-chip>
                </mat-chip-list>
              </td>
            </ng-container> -->
            <ng-container matColumnDef="DocumentNumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="column" #tooltip="matTooltip"
                matTooltip="{{fundingTooltip.invoiceCreateDate | translate}}" [matTooltipPosition]="tooltipPosition">
                {{'DocumentNumber' | translate}}</th>
              <td mat-cell *matCellDef="let element">
                <mat-chip-list>
                  <mat-chip color="primary" selected (click)="navigateToSmeDetails(element)">{{element.DocumentNumber}}
                  </mat-chip>
                </mat-chip-list>
                </td>
            </ng-container>
            <ng-container matColumnDef="RUC">
              <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                matTooltip="{{fundingTooltip.invoiceNumber | translate}}" [matTooltipPosition]="tooltipPosition">
                {{'RUC' | translate}}</th>
              <td mat-cell *matCellDef="let element">
                {{element.RUC}}
              </td>
            </ng-container>
            <ng-container matColumnDef="AuthorizationDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="column" #tooltip="matTooltip"
                matTooltip="{{fundingTooltip.seller | translate}}" [matTooltipPosition]="tooltipPosition">
                {{'AuthorizationDate' | translate}}</th>
              <td mat-cell *matCellDef="let element">{{element.AuthorizationDate | date: 'dd/MM/yyyy'}}</td>
            </ng-container>
            <ng-container matColumnDef="InvoiceDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="column" #tooltip="matTooltip"
                matTooltip="{{fundingTooltip.buyer | translate}}" [matTooltipPosition]="tooltipPosition">
                {{'InvoiceDate' | translate}}</th>
              <td mat-cell *matCellDef="let element">{{element.InvoiceDate | date: 'dd/MM/yyyy'}}</td>
            </ng-container>
            <ng-container matColumnDef="IdentificatioNumberBuyer">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="column" #tooltip="matTooltip"
                matTooltip="{{fundingTooltip.invoiceAmount | translate}}" [matTooltipPosition]="tooltipPosition">
                {{'IdentificatioNumberBuyer' | translate}}</th>
              <td mat-cell *matCellDef="let element">{{ element.IdentificatioNumberBuyer }}</td>
            </ng-container>
            <ng-container matColumnDef="PDF">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="column" >PDF</th>
              <td mat-cell *matCellDef="let element" >
                <a href="javascript:void(0)" (click)="openModal($event,template,element.EncryptedFilePDF,'PDF')">
                  <mat-icon #tooltip="matTooltip" matTooltip="{{'View' | translate}}"
                      [matTooltipPosition]="'below'">visibility</mat-icon>
              </a>
              </td>
            </ng-container>
            <ng-container matColumnDef="XML">
              <th mat-header-cell *matHeaderCellDef mat-sort-header scope="column" (click)="openModal($event,template)">XML</th>
              <td mat-cell *matCellDef="let element">
                <a href="javascript:void(0)" (click)="openModal($event,template,element.EncryptedFileXML,'XML')">
                  <mat-icon #tooltip="matTooltip" matTooltip="{{'View' | translate}}"
                      [matTooltipPosition]="'below'">visibility</mat-icon>
              </a>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color:#694ed6e0"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>
        </div>
      </div>
  
    </div>
  </header>
  <div>
    <ng-template #template>
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">{{'Invoice Preview' | translate}}</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body" style="height: 400px;">
          <div *ngIf="XMLdata">
              {{XMLdata}}
          </div>
          <div *ngIf="pdfSrc">
            <pdf-viewer [src]="pdfSrc" [original-size]="true" [fit-to-page]="false" [show-borders]="true"></pdf-viewer>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="modalRef.hide()"> {{'Close' | translate}}</button>
        </div>
      </div>

    </ng-template>
  </div>
</div>