<div class="app-content {{isOpen}} ">
    <header *ngIf="!AllFundingOpen" class="m0p0">
        <br>
        <h5>Offer For Acceptance</h5>
        <div class="mat-elevation-z8">
          <div class="table-res">
           <table mat-table [dataSource]="dataSource" (mouseenter)="isHover=true" 
        (mouseleave)="isHover=false">
          <ng-container matColumnDef="invNo">
            <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
            matTooltip="{{biddingTooltip.invoiceId}}" [matTooltipPosition]="'below'"> Invoice Id  </th>
            <td mat-cell *matCellDef="let element"> 
           
                 {{element.invoiceNo}}
             </td>
          </ng-container>

          <ng-container matColumnDef="invAmt">
            <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
            matTooltip="{{biddingTooltip.invoiceAmount}}" [matTooltipPosition]="'below'"> Invoice Amount  </th>
            <td mat-cell *matCellDef="let element"> 
           
                 {{element.invoiceAmt}}
             </td>
          </ng-container>
        
          <ng-container matColumnDef="smeId">
            <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
            matTooltip="{{biddingTooltip.smeName}}" [matTooltipPosition]="'below'"> SME Name </th>
            <td mat-cell *matCellDef="let element"> 
     
                 {{element.smeId}}
             </td>
          </ng-container>
          
        
          <ng-container matColumnDef="buyerName">
            <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
            matTooltip="{{biddingTooltip.buyerName}}" [matTooltipPosition]="'below'"> Buyer Name </th>
            <td mat-cell *matCellDef="let element"> 

                  {{element.buyerName}} 
              </td>
          </ng-container>
        
          <ng-container matColumnDef="invDate">
            <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
            matTooltip="{{biddingTooltip.invoiceCreateDate}}" [matTooltipPosition]="'below'"> Inv Date  </th>
            <td mat-cell *matCellDef="let element"> 
           
                  {{ element.invoiceDate && moment(element.invoiceDate).format('DD/MM/YYYY')}}
              </td>
          </ng-container>
        
          <ng-container matColumnDef="invDueDate">
            <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
            matTooltip="{{biddingTooltip.invoiceDueDate}}" [matTooltipPosition]="'below'"> Inv Due date </th>
            <td mat-cell *matCellDef="let element"> 
         
                  {{element.invDueDate && moment(element.invDueDate).format('DD/MM/YYYY')}}
              </td>
          </ng-container>
  
          <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
              matTooltip="{{biddingTooltip.status}}" [matTooltipPosition]="'below'"> Status </th>
              <td mat-cell *matCellDef="let element"> 
             
                    {{element.status == "I" ? "Initiated" : 'Authorized'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element"> 
                
                  <a  href="javascript:void(0)" (click)="navigateFinanceDetails(element.smeId,'view')" >
                      <mat-icon #tooltip="matTooltip"
                      matTooltip="View" [matTooltipPosition]="'below'">visibility</mat-icon>
                  </a>
                   </td>
              </ng-container>  
              <ng-container matColumnDef="TopBar">
                <th colspan="8" mat-header-cell *matHeaderCellDef> 
                  <div style="justify-content:flex-end;cursor: pointer;">
                  <span (click)="searchDiv()" class="material-icons">search</span>&nbsp;
                  <span (click)="filterDiv()" class="material-icons">filter_list</span>
                    </div>
                 </th>
              </ng-container>
              <ng-container matColumnDef="Search">
                <th colspan="8" mat-header-cell *matHeaderCellDef> 
                    <h6>Search By</h6>
                  <div class="row">
                      <div class="col-sm-2">
                        <mat-form-field appearance="outline">
                            <mat-label>invoiceRef</mat-label>
                            <input type="text" [(ngModel)]="SearchModel.invoiceRef"matInput />
                          </mat-form-field>
                      </div>
                     
                      <div class="col-sm-2">
                        <mat-form-field appearance="outline">
                            <mat-label>smeId</mat-label>
                            <input type="text" [(ngModel)]="SearchModel.smeId"matInput />
                          </mat-form-field>
                      </div>
                      <div class="col-sm-2">
                        <mat-form-field appearance="outline">
                            <mat-label>buyerName</mat-label>
                            <input type="text" [(ngModel)]="SearchModel.buyerName"matInput />
                          </mat-form-field>
                      </div>
                      <div class="col-sm-2">
                        <mat-form-field appearance="outline">
                        <mat-label>invoiceDate</mat-label>
                        <input matInput readonly="true"  [matDatepicker]="picker"  [(ngModel)]="SearchModel.invoiceDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col-sm-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Invoice Due Date</mat-label>
                            <input matInput readonly="true"  [matDatepicker]="picker1"  [(ngModel)]="SearchModel.invoiceDueDate">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                          </mat-form-field>
                    </div>
                  </div>
                  <div class="row" style="justify-content: flex-end;padding-bottom: 20px;padding-right: 20px;">
                    <button  mat-raised-button style="color: #5e52a1;" (click)="SearchAPI()">
                        <mat-icon #tooltip="matTooltip"
                        matTooltip="Done" [matTooltipPosition]="'below'">done</mat-icon>  Search
                      </button>&nbsp;
                      <button  mat-raised-button style="color: #5e52a1;" (click)="ResetAPI()">
                        <mat-icon #tooltip="matTooltip"
                        matTooltip="Done" [matTooltipPosition]="'below'">restart_alt</mat-icon>  Reset
                      </button>
                  </div>
                 
                 </th>
              </ng-container>
              <ng-container matColumnDef="Filter">
                <th class="class2" colspan="8" mat-header-cell *matHeaderCellDef> 
                    <div class="row">
                        <div class="col-sm-3">
                            <label>InvoiceAmount</label>
                            <div class="custom-slider">
                            <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
                          </div>
                          </div>
                          <div class="col-sm-3" style="padding-top: 22px;">
                            <mat-form-field appearance="fill">
                                <mat-label>InvoiceDate</mat-label>
                                <mat-date-range-input [rangePicker]="picker">
                                  <input matStartDate placeholder="Start date">
                                  <input matEndDate placeholder="End date">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                              </mat-form-field>
                          </div>
                       
                    </div>
                      <div class="row" style="justify-content: flex-end;padding-bottom: 20px;padding-right: 20px;">
                        <button  mat-raised-button style="color: #5e52a1;">
                            <mat-icon #tooltip="matTooltip"
                            matTooltip="Done" [matTooltipPosition]="'below'">done</mat-icon>  Search
                          </button>&nbsp;
                          <button  mat-raised-button style="color: #5e52a1;">
                            <mat-icon #tooltip="matTooltip"
                            matTooltip="Done" [matTooltipPosition]="'below'">restart_alt</mat-icon>  Reset
                          </button>
                      </div>
                 </th>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumnsload"></tr>
              <tr [hidden]="!searchDivOpen" class="searchInput" mat-header-row *matHeaderRowDef="displayedColumnsearch"></tr>
              <tr [hidden]="!filterDivOpen" mat-header-row *matHeaderRowDef="displayedColumnFilter"></tr>                   
          <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color:#B4A6EA"></tr>
          <tr mat-row class="BID-Details" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
        <mat-paginator [hidePageSize]="true" showFirstLastButtons></mat-paginator>
        </div>
    </header>
  </div>
  
  
  