<div class="app-content {{isOpen}} ">
    <header class="m0p0">
        <br>
        <h5>Funding Requests</h5>
        <div class="mat-elevation-z8 table-res">
            <table mat-table [dataSource]="dataSource" (mouseenter)="isHover=true" (mouseleave)="isHover=false">
                <ng-container matColumnDef="invId">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
                        matTooltip="{{biddingTooltip.invoiceId}}" [matTooltipPosition]="'below'"> Invoice Id </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.invoiceNo}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="invAmt">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
                        matTooltip="{{biddingTooltip.invoiceAmount}}" [matTooltipPosition]="'below'"> Invoice Amount
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.invoiceAmt}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="smeId">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" matTooltip="{{biddingTooltip.smeName}}"
                        [matTooltipPosition]="'below'"> SME Name </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.smeId}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="buyerName">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
                        matTooltip="{{biddingTooltip.buyerName}}" [matTooltipPosition]="'below'"> Buyer Name </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.buyerName}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="invDate">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
                        matTooltip="{{biddingTooltip.invoiceCreateDate}}" [matTooltipPosition]="'below'"> Inv Date </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.invoiceDate && moment(element.invoiceDate).format('DD/MM/YYYY')}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="invDueDate">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip"
                        matTooltip="{{biddingTooltip.invoiceDueDate}}" [matTooltipPosition]="'below'"> Inv Due date
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.invDueDate && moment(element.invDueDate).format('DD/MM/YYYY')}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef #tooltip="matTooltip" matTooltip="{{biddingTooltip.status}}"
                        [matTooltipPosition]="'below'"> Status </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.status == "I" ? "Initiated" : 'Authorized'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element">
                        <a href="javascript:void(0)" (click)="openModal($event,template,element)">
                            <mat-icon #tooltip="matTooltip" matTooltip="View" [matTooltipPosition]="'below'">visibility
                            </mat-icon>
                        </a>
                    </td>
                </ng-container>
                <ng-container matColumnDef="TopBar">
                    <th colspan="8" mat-header-cell *matHeaderCellDef> 
                      <div style="justify-content:flex-end;cursor: pointer;">
                      <span (click)="searchDiv()" class="material-icons">search</span>&nbsp;
                      <span (click)="filterDiv()" class="material-icons">filter_list</span>
                        </div>
                     </th>
                  </ng-container>
                  <ng-container matColumnDef="Search">
                    <th colspan="8" mat-header-cell *matHeaderCellDef> 
                        <h6>Search By</h6>
                      <div class="row">
                          <div class="col-sm-2">
                            <mat-form-field appearance="outline">
                                <mat-label>Invoice ID</mat-label>
                                <input type="text"matInput />
                              </mat-form-field>
                          </div>
                          <div class="col-sm-2">
                            <mat-form-field appearance="outline">
                                <mat-label>invoiceAmt</mat-label>
                                <input type="text"matInput />
                              </mat-form-field>
                          </div>
                          <div class="col-sm-2">
                            <mat-form-field appearance="outline">
                                <mat-label>Sme Name</mat-label>
                                <input type="text"matInput />
                              </mat-form-field>
                          </div>
                          <div class="col-sm-2">
                            <mat-form-field appearance="outline">
                                <mat-label>buyerName</mat-label>
                                <input type="text"matInput />
                              </mat-form-field>
                          </div>
                          <div class="col-sm-2">
                            <mat-form-field appearance="outline">
                                <mat-label>invoiceDate</mat-label>
                                <input type="text"matInput />
                              </mat-form-field>
                          </div>
                          <div class="col-sm-2">
                            <mat-form-field appearance="outline">
                                <mat-label>invDueDate</mat-label>
                                <input type="text"matInput />
                              </mat-form-field>
                          </div>
                      </div>
                      <div class="row" style="justify-content: flex-end;padding-bottom: 20px;padding-right: 20px;">
                        <button  mat-raised-button style="color: #5e52a1;" (click)="SearchAPI()">
                            <mat-icon #tooltip="matTooltip"
                            matTooltip="Done" [matTooltipPosition]="'below'">done</mat-icon>  Search
                          </button>&nbsp;
                          <button  mat-raised-button style="color: #5e52a1;">
                            <mat-icon #tooltip="matTooltip"
                            matTooltip="Done" [matTooltipPosition]="'below'">restart_alt</mat-icon>  Reset
                          </button>
                      </div>
                     
                     </th>
                  </ng-container>
                  <ng-container matColumnDef="Filter">
                    <th class="class2" colspan="8" mat-header-cell *matHeaderCellDef> 
                        <div class="row">
                            <div class="col-sm-3">
                                <label>InvoiceAmount</label>
                                <div class="custom-slider">
                                <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
                              </div>
                              </div>
                              <div class="col-sm-3" style="padding-top: 22px;">
                                <mat-form-field appearance="fill">
                                    <mat-label>InvoiceDate</mat-label>
                                    <mat-date-range-input [rangePicker]="picker">
                                      <input matStartDate placeholder="Start date">
                                      <input matEndDate placeholder="End date">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                  </mat-form-field>
                              </div>
                              <div class="col-sm-3" style="padding-top: 22px;">
                                <mat-form-field appearance="fill">
                                    <mat-label>InvDueDate</mat-label>
                                    <mat-date-range-input [rangePicker]="picker1">
                                      <input matStartDate placeholder="Start date">
                                      <input matEndDate placeholder="End date">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker1></mat-date-range-picker>
                                  </mat-form-field>
                              </div>
                        </div>
                          <div class="row" style="justify-content: flex-end;padding-bottom: 20px;padding-right: 20px;">
                            <button  mat-raised-button style="color: #5e52a1;">
                                <mat-icon #tooltip="matTooltip"
                                matTooltip="Done" [matTooltipPosition]="'below'">done</mat-icon>  Search
                              </button>&nbsp;
                              <button  mat-raised-button style="color: #5e52a1;">
                                <mat-icon #tooltip="matTooltip"
                                matTooltip="Done" [matTooltipPosition]="'below'">restart_alt</mat-icon>  Reset
                              </button>
                          </div>
                     </th>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsload"></tr>
                  <tr [hidden]="!searchDivOpen" class="searchInput" mat-header-row *matHeaderRowDef="displayedColumnsearch"></tr>
                  <tr [hidden]="!filterDivOpen" mat-header-row *matHeaderRowDef="displayedColumnFilter"></tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color:#B4A6EA"></tr>
                <tr mat-row class="BID-Details" *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [hidePageSize]="true" showFirstLastButtons></mat-paginator>
        </div>
    </header>
</div>
<div>
    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">View all Funding Requests</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"
                #tooltip="matTooltip" matTooltip="{{biddingTooltip.close}}" [matTooltipPosition]="'below'">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div style="overflow-x:auto;">
                <p style="font-weight: 500;
            color: #a899e4;margin-left: 14px;">Invoice Details</p>
                <div class="table-res">
                    <table mat-table [dataSource]="dataSourceTwo">
                        <ng-container matColumnDef="invId">
                            <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                                matTooltip="{{biddingTooltip.invoiceNumber}}" [matTooltipPosition]="'below'">Invoice No
                            </th>
                            <td mat-cell *matCellDef="let invoiceDetailsData">{{ invoiceDetailsData.invId }}</td>
                        </ng-container>

                        <ng-container matColumnDef="invDate">
                            <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                                matTooltip="{{biddingTooltip.invoiceCreateDate}}" [matTooltipPosition]="'below'">Invoice
                                Date</th>
                            <td mat-cell *matCellDef="let invoiceDetailsData">
                                {{ invoiceDetailsData.invDate && moment(invoiceDetailsData.invDate).format('DD/MM/YYYY') }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="buyerName">
                            <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                                matTooltip="{{biddingTooltip.buyerName}}" [matTooltipPosition]="'below'">Buyer</th>
                            <td mat-cell *matCellDef="let invoiceDetailsData">{{ invoiceDetailsData.buyerName }}</td>
                        </ng-container>

                        <ng-container matColumnDef="invAmt">
                            <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                                matTooltip="{{biddingTooltip.invoiceAmount}}" [matTooltipPosition]="'below'">Invoice
                                Amount</th>
                            <td mat-cell *matCellDef="let invoiceDetailsData">{{ invoiceDetailsData.invAmt }}</td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                                matTooltip="{{biddingTooltip.invoiceStatus}}" [matTooltipPosition]="'below'">Status</th>
                            <td mat-cell *matCellDef="let invoiceDetailsData">{{ invoiceDetailsData.status }}</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsTwo" style="background-color:#B4A6EA"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsTwo"></tr>
                    </table>
                </div>
            </div>

            <mat-accordion>
                <mat-expansion-panel>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="bidpanelOpenState = true" (closed)="bidpanelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="font-weight:500;color: #a899e4;">
                            Goods Details
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="table-res">
                        <table mat-table [dataSource]="dataSourceOne">

                            <ng-container matColumnDef="descGoods">
                                <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                                    matTooltip="{{biddingTooltip.goodDesc}}" [matTooltipPosition]="'below'">Description
                                    of Goods</th>
                                <td mat-cell *matCellDef="let element">{{ element.descGoods }}</td>
                            </ng-container>


                            <ng-container matColumnDef="quantity">
                                <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                                    matTooltip="{{biddingTooltip.quantity}}" [matTooltipPosition]="'below'">Quantity
                                </th>
                                <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
                            </ng-container>

                            <ng-container matColumnDef="rate">
                                <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                                    matTooltip="{{biddingTooltip.ccyAmount}}" [matTooltipPosition]="'below'">Amt Ccy
                                </th>
                                <td mat-cell *matCellDef="let element">{{ element.amtCcy }}</td>
                            </ng-container>

                            <ng-container matColumnDef="amt">
                                <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                                    matTooltip="{{biddingTooltip.amount}}" [matTooltipPosition]="'below'">Amount</th>
                                <td mat-cell *matCellDef="let element">{{ element.amt }}</td>
                            </ng-container>

                            <ng-container matColumnDef="taxRate">
                                <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                                    matTooltip="{{biddingTooltip.taxRate}}" [matTooltipPosition]="'below'">Tax Rate</th>
                                <td mat-cell *matCellDef="let element">{{ element.taxRate }}</td>
                            </ng-container>

                            <ng-container matColumnDef="taxAmount">
                                <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                                    matTooltip="{{biddingTooltip.taxAmount}}" [matTooltipPosition]="'below'">Tax Amount
                                </th>
                                <td mat-cell *matCellDef="let element">{{ element.taxAmt }}</td>
                            </ng-container>
                            <ng-container matColumnDef="discAmt">
                                <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                                    matTooltip="{{biddingTooltip.ccyTaxAmount}}" [matTooltipPosition]="'below'">Tax Amt
                                    Ccy</th>
                                <td mat-cell *matCellDef="let element">{{ element.taxAmtCcy }}</td>
                            </ng-container>
                
                            <ng-container matColumnDef="total">
                                <th mat-header-cell *matHeaderCellDef scope="column" #tooltip="matTooltip"
                                    matTooltip="{{biddingTooltip.total}}" [matTooltipPosition]="'below'">Total</th>
                                <td mat-cell *matCellDef="let element">{{ element.total }}</td>
                            </ng-container>


                            <tr mat-header-row *matHeaderRowDef="displayedColumnsOne" style="background-color:#B4A6EA">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsOne"></tr>
                        </table>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <br>








            <!-- //Bidding Details -->

            <!-- <mat-accordion>
            <mat-expansion-panel>
            </mat-expansion-panel>
            <mat-expansion-panel  (opened)="bidpanelOpenState = true" (closed)="bidpanelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title style="font-weight:500;color: #a899e4;">
                        Bidding Details
                    </mat-panel-title>
                </mat-expansion-panel-header>
        <div style="overflow-x:auto;">
           <table mat-table [dataSource]="dataSourceThree">
                <ng-container matColumnDef="financeOfferAmt">
                    <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                    matTooltip="{{biddingTooltip.offerAmount}}" [matTooltipPosition]="'below'">Financier Offer Amount.</th>
                    <td mat-cell *matCellDef="let data">{{ data.financeOfferAmt }}</td>
                </ng-container>
        
                <ng-container matColumnDef="ccy">
                    <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                    matTooltip="{{biddingTooltip.ccy}}" [matTooltipPosition]="'below'">CCY</th>
                    <td mat-cell *matCellDef="let data">{{ data.ccy }}</td>
                </ng-container>
        
                <ng-container matColumnDef="fxRate">
                    <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                    matTooltip="{{biddingTooltip.fxRate}}" [matTooltipPosition]="'below'"> Fx Rate</th>
                    <td mat-cell *matCellDef="let data">{{ data.fxRate }}</td>
                </ng-container>
        
                <ng-container matColumnDef="margin">
                    <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                    matTooltip="{{biddingTooltip.fundPercentage}}" [matTooltipPosition]="'below'">Funding Percentage</th>
                    <td mat-cell *matCellDef="let data">{{ data.margin }}</td>
                </ng-container>
        
                <ng-container matColumnDef="netAmtDisc">
                    <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                    matTooltip="{{biddingTooltip.netDiscAmount}}" [matTooltipPosition]="'below'">Net Amt Disc</th>
                    <td mat-cell *matCellDef="let data">{{ data.netAmtDisc }}</td>
                </ng-container>      
                
                
                <ng-container matColumnDef="discAmt">
                    <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                    matTooltip="{{biddingTooltip.discAmount}}" [matTooltipPosition]="'below'">Disc Amt</th>
                    <td mat-cell *matCellDef="let data">{{ data.discAmt }}</td>
                </ng-container> 

                <ng-container matColumnDef="discRate">
                    <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                    matTooltip="{{biddingTooltip.discRate}}" [matTooltipPosition]="'below'">Disc Rate</th>
                    <td mat-cell *matCellDef="let data">{{ data.discRate }}</td>
                </ng-container> 

                <ng-container matColumnDef="offerExpPeriod">
                    <th mat-header-cell *matHeaderCellDef scope="column"  #tooltip="matTooltip"
                    matTooltip="{{biddingTooltip.offerExpPeriod}}" [matTooltipPosition]="'below'">Offer Exp Period</th>
                    <td mat-cell *matCellDef="let data">{{ data.offerExpPeriod }}</td>
                </ng-container> 
        
                <tr mat-header-row *matHeaderRowDef="displayedColumnsThree" style="background-color:#B4A6EA"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsThree"></tr>
            </table>

        </div>
    </mat-expansion-panel>
</mat-accordion> -->





        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
        </div>
    </ng-template>
</div>